@charset "utf-8";
/*-------------------------------------------------------------------------------------*
 *  게시판                                                                             *
 *-------------------------------------------------------------------------------------*/

.list_title1 {
    background: #625341;
    color: #ffffff;
    line-height: 44px;
    text-align: center;
    font-weight: 500;
}

.list_notice1 {
    background: #fef7f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #6e645b;
    line-height: 40px;
    padding: 0 0 0 15px;
    font-weight: bold;
    text-align: center;
}

.list_notice2 {
    background: #fef7f0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #6e645b;
    line-height: 40px;
    padding: 0 0 0 15px;
    font-weight: 500;
    text-align: center;
}

.list1 {
    background: rgba(254, 247, 240, 0.9);
    border-bottom: 1px solid #dddddd;
    color: #271401;
    line-height: 40px;
    text-align: center;
}

.list2 {
    background: rgba(254, 247, 240, 0.9);
    border-bottom: 1px solid #dddddd;
    color: #6e645b;
    line-height: 40px;
    padding: 0 0 0 15px;
    font-weight: 500;
}

.write_title_top {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.write_title {
    background: #fef7f0;
    border-bottom: 1px solid #9fa0a0;
    min-height: 60px;
    color: #271401;
    padding: 10px 20px 10px 20px;
    line-height: 21px;
    width: 200px;
    font-weight: 700;
}

.write_basic {
    background: #fef7f0;
    border-bottom: 1px solid #9fa0a0;
    min-height: 60px;
    color: #6e645b;
    padding: 10px 20px 10px 20px;
    line-height: 21px;
    font-weight: 500;
}

.view1 {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 0 20px 0 20px;
    width: 100%;
    height: 50px;
    line-height: 44px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0pt;
}

.view2 {
    background: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 20px 10px 20px;
    width: 100%;
    line-height: 26px;
    min-height: 300px;
}

.view_box {
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 8px 3px 8px;
    color: #dddddd;
    line-height: 12px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    border-radius: 0px;
    margin: 0 5px 0 0;
    font-weight: 100;
}

.page_wrap {
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
}

.page_wrap ul li {
    display: inline;
}

.page {
    background: #625341;
    display: inline-block;
    padding: 14px 17px 12px 17px;
    color: #f7f7f7;
    border-radius: 3px;
}

.pageon {
    background: #ffb400;
    display: inline-block;
    padding: 14px 17px 12px 17px;
    color: #000000;
    border-radius: 3px;
    font-weight: bold;
}

.info_wrap {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    width: 100%;
    padding: 15px 0 20px 0;
    border-radius: 0px;
}

.info1 {
    float: left;
    width: 100%;
    line-height: 26px;
    color: #ffd800;
    padding: 0 20px 0 20px;
    font-size: 18px;
    font-weight: 700;
}

.info2 {
    float: left;
    width: 100%;
    line-height: 26px;
    color: #ff9700;
    padding: 5px 20px 0 20px;
    font-size: 18px;
    font-weight: 400;
}

.info3 {
    float: left;
    width: 100%;
    line-height: 22px;
    color: #f2f2f2;
    padding: 5px 20px 0 23px;
    font-size: 12px;
    font-weight: 700;
}

/*-------------------------------------------------------------------------------------*
 *  버튼                                                                               *
 *-------------------------------------------------------------------------------------*/

.btn1_1 {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0pt;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px -1px;
}

.btn1_2 {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0pt;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px -1px;
}

.btn2_1 {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0pt;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px -1px;
}

.btn2_2 {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0pt;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px -1px;
}

.btn3_1 {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0pt;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px -1px;
}

.btn3_2 {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0pt;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px -1px;
}

.btn_wrap_right {
    float: left;
    width: 100%;
    text-align: right;
}

.btn_wrap_right ul li {
    display: inline;
}

.btn_wrap_center {
    float: left;
    width: 100%;
    text-align: center;
}

.btn_wrap_center ul li {
    display: inline;
}

.btn1_1 {
    background: linear-gradient(#ff8600, #ffa600);
    min-width: 80px;
    min-height: 34px;
    padding: 0 15px 0 15px;
    line-height: 34px;
    border: 1px solid #9fa0a0;
}

.btn1_1:hover {
    background: linear-gradient(#ffa600, #ff8600);
}

.btn1_2 {
    background: linear-gradient(#625341, #251f28);
    min-width: 80px;
    min-height: 34px;
    padding: 0 15px 0 15px;
    line-height: 34px;
    border: 1px solid #625341;
}

.btn1_2:hover {
    background: linear-gradient(#251f28, #625341);
}

.btn2_1 {
    background: linear-gradient(#ff8600, #ffa600);
    min-width: 120px;
    height: 35px;
    line-height: 35px;
}

.btn2_1:hover {
    background: linear-gradient(#ffa600, #ff8600);
}

.btn2_2 {
    background: linear-gradient(#625341, #251f28);
    min-width: 120px;
    height: 35px;
    line-height: 35px;
}

.btn2_2:hover {
    background: linear-gradient(#251f28, #625341);
}

.btn3_1 {
    background: linear-gradient(#ff8600, #ffa600);
    min-width: 300px;
    height: 50px;
    line-height: 50px;
}

.btn3_1:hover {
    background: linear-gradient(#ffa600, #ff8600);
}

.btn3_2 {
    background: linear-gradient(#625341, #251f28);
    min-width: 300px;
    height: 50px;
    line-height: 50px;
}

.btn3_2:hover {
    background: linear-gradient(#251f28, #625341);
}

.division1 {
    background: #777777;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    padding: 6px 8px 6px 8px;
    line-height: 12px;
    color: #f1f1f1;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
}

.division2 {
    background: #5a0101;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    padding: 6px 8px 6px 8px;
    line-height: 12px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
}

.division3 {
    border: 1px solid #288779;
    display: inline-block;
    text-align: center;
    min-width: 100px;
    padding: 6px 8px 6px 8px;
    line-height: 12px;
    color: #32b29f;
    font-size: 12px;
    font-weight: 700;
    border-radius: 3px;
}

.back_btn{
    background: linear-gradient(#f3f1ee, #fcfbf9);
    padding: 5px 5px 5px 5px;
    border: 3px solid #6e645b;
    border-radius: 10px;
    float: right;
}

.titlecustomer {
    border-radius: 0;
  border: 1px solid #3E3E3E;
  background: #202020;
  color: #fff;
  margin-bottom: 10px;
    height: 40px;
  }

.hg-btn{
	__width:14.16%;
	height:auto;
	float:left;
	margin:10px 1.25%;
	border-radius:8px;
	border:solid 1px #000000;
	box-shadow:0 3px 2px rgba(0,0,0,0.49);
	position:relative;
	overflow:hidden;
	transition:0.3s;
	perspective:900px;
	transform-origin:top center;
	animation:hgBtnAnim 1s ease 1 backwards;
}

.hg-btn .img-cont{
	width:100%;
	height:auto;
	float:left;
	position:relative;
}

.hg-btn .img-cont .main-img{
	width:100%;
	height:100%;
	float:left;
}
.hg-btn .img-cont:before{
	content:'';
	width:150px;
	height:50px;
	position:absolute;
	left:-60px;
	top:-50px;
	transform-origin:right bottom;
	transform:rotate(-35deg);
	background-color:rgba(255,255,255,0.32);
	transition:0.4s;
	transition-delay:0.1s;
}
.hg-btn:hover .img-cont:before{
	transform:rotate(0deg);
}

.hg-btn .img-cont .hot-tag{
	position:absolute;
	left:0;
	top:0;
	transform-origin:right top;
	transform:rotate(0deg);
	transition:0.4s;
}
.hg-btn:hover .img-cont .hot-tag{
	transform:rotate(35deg);
}

.hg-btn .foot{
	width:100%;
	height:65px;
	position:absolute;
	left:0;
	bottom:0;
	transform:translateY(0);
	transition:0.3s;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
	justify-content:center;
	font-size:14px;
	font-weight:bold;
	padding-bottom:5px;
	background:linear-gradient(to top, #000 20%,rgba(0,0,0,0.80), transparent);
	z-index:1;
}
.hg-btn:nth-child(odd) .foot{
	color:#dcf0eb;
}
.hg-btn:nth-child(even) .foot{
	color:#ffff00;
}
.hg-btn:hover .foot{
	height:50px;
	bottom:50%;
	transform:translateY(50%);
	background:linear-gradient(to top, transparent,transparent);
	padding-bottom:0;
	color:#ffff00;
}

.hg-btn .overlay{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-color:rgba(255,255,255,0.3);
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content:center;
	padding-bottom:20px;
	font-size:14px;
	color:#fff;
	opacity:0;
	transform:scale(2);
	transition:0.3s;
}
.hg-btn .overlay:before{
	content:'';
	width:90%;
	height:90%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	border-radius:8px;
	border:solid 2px #e9db01;
	background-color:rgba(0,0,0,0.7);
	z-index:-1;
}

.hg-btn:hover .overlay{
	opacity:1;
	transform:scale(1);
}
.hg-btn:hover .overlay i{
	animation:rocketAnim 1s ease infinite;
	position:relative;
	display:inline-block;
	font-size:14px;
}

/*-------------------------------------------------------------------------------------*
 *  폰트                                                                               *
 *-------------------------------------------------------------------------------------*/

.font01 {
    color: #ffffff;
    font-weight: 500;
}

.font02 {
    color: #000000;
    font-weight: 500;
}

.font03 {
    color: #929292;
}

.font04 {
    color: #484848;
}

.font05 {
    color: #ffc000;
    font-weight: 500;
}

.font06 {
    color: #00ffe4;
    font-weight: 500;
}

.font07 {
    color: #ff7200;
    font-weight: 500;
}

.font08 {
    color: #00ff3c;
    font-weight: 500;
}

.font09 {
    color: #271401;
    font-weight: 500;
}

.font10 {
    color: #4ec4af;
    font-weight: 500;
}

.font11 {
    color: #fac736;
    font-weight: 900;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: -1pt;
    text-shadow: 1px 1px 1px #000000;
    font-style: italic;
}

.font12 {
    color: #ffffff;
    font-weight: 900;
    font-size: 20px;
    font-family: Arial;
    letter-spacing: -1pt;
    text-shadow: 1px 1px 1px #000000;
    font-style: italic;
}

.font13 {
    color: #b0977f;
    font-weight: 500;
}

.font14 {
    color: #818fa0;
}

.font15 {
    color: #c38c31;
}

.font21 {
    color: #84a1a3;
    font-weight: 900;
}

.font22 {
    color: #85d4d7;
    font-weight: 900;
}

/*-------------------------------------------------------------------------------------*
 *  인풋                                                                               *
 *-------------------------------------------------------------------------------------*/

.input1 {
    background-color: #ffffff;
    border: 1px solid #6e645b;
    padding: 4px 0 4px 5px;
    color: #111111;
    border-radius: 3px;
    height: 34px;
}

.input2 {
    background-color: #ffffff;
    border: 1px solid #6e645b;
    padding: 4px 0 4px 5px;
    color: #111111;
    border-radius: 3px;
}

.input1::-webkit-input-placeholder {
    color: #6e645b;
}

.input2::-webkit-input-placeholder {
    color: #6e645b;
}

.inputcustomer {
    background-color: #ffffff;
    border: 1px solid #6e645b;
    padding: 4px 0 4px 5px;
    color: #111111;
    border-radius: 3px;
    height: 100px;
    width: 500px;
}
.inputcustomer::-webkit-input-placeholder {
    color: #6e645b;
}
/*-------------------------------------------------------------------------------------*
 *  마우스 오버                                                                        *
 *-------------------------------------------------------------------------------------*/

.mouseover1 {
    animation-name: mouseover1;
    -webkit-animation-name: mouseover1;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    visibility: visible !important;
}

@keyframes mouseover1 {
    0% {
        transform: scale(1.07);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes mouseover1 {
    0% {
        -webkit-transform: scale(1.07);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

/* 메인게임 마우스 오버 */

.mouseover2 {
    animation-name: mouseover2;
    -webkit-animation-name: mouseover2;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: visible !important;
}

@keyframes mouseover2 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.08);
        box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 70px 50px;
        position: relative;
        z-index: 100;
    }
}

@-webkit-keyframes mouseover2 {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.08);
    }
}

/* GNB마우스오버 */

.mouseover3:hover {
    animation-name: mouseover3;
    -webkit-animation-name: mouseover3;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: visible !important;
}

@keyframes mouseover3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.08);
    }
}

@-webkit-keyframes mouseover3 {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.08);
    }
}