/*--ysk--------------------------------------------------------------------------------*

	ysk 2022년01월

-----------------------------------------------------------------------------------ysk-*/

@charset "utf-8";
* {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cf:after {
    content: '';
    display: block;
    clear: both;
}

/*-------------------------------------------------------------------------------------*
 *  기본스타일 시트                                                                    *
 *-------------------------------------------------------------------------------------*/

a {
    color: #f0f0f0;
    text-decoration: none;
}

body {
    font-size: 13px;
    color: #f0f0f0;
    margin: 0 0 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    min-width: 1440px;
    background: #0e0e0e;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

td {
    font-size: 13px;
    color: #f0f0f0;
    margin: 0 0 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
}


select {
    font-size: 13px;
    color: #f0f0f0;
    margin: 0 0 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
}

textarea {
    font-size: 13px;
    color: #f0f0f0;
    margin: 0 0 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
}

/*-------------------------------------------------------------------------------------*
 *  인풋                                                                               *
 *-------------------------------------------------------------------------------------*/

input::-webkit-input-placeholder {
    color: #f0f0f0;
    font-size: 13px;
    letter-spacing: -1pt;
}

input:-ms-input-placeholder {
    color: #f0f0f0;
    font-size: 13px;
    letter-spacing: -1pt;
}

textarea::-webkit-input-placeholder {
    color: #f0f0f0;
    font-size: 13px;
    letter-spacing: -1pt;
}

textarea:-ms-input-placeholder {
    color: #f0f0f0;
    font-size: 13px;
    letter-spacing: -1pt;
}

input::placeholder {
    color: #f0f0f0;
    font-size: 13px;
    letter-spacing: -1pt;
}

textarea::placeholder {
    color: #f0f0f0;
    font-size: 13px;
    letter-spacing: -1pt;
}

/*-------------------------------------------------------------------------------------*
 *  고정스타일 시트                                                                    *
 *-------------------------------------------------------------------------------------*/

A,
area {
    blr: expression(this.onFocus=this.blur())
}

:focus {
    -moz-outline-style: none;
}

form {
    margin: 0;
}

img {
    border: none;
}

ul,
ol,
li,
dl,
dd,
dt {
    margin: 0;
    list-style: none;
}

html,
body,
div,
span,
object,
iframe,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
swf,
javascript,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
td,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

img,
fieldset,
iframe {
    border: 0 none
}

img {
    /* max-width:100%; */
    vertical-align: middle
}

textarea {
    resize: none
}

input,
select,
textarea,
button {
    font-size: 100%;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

address,
strong,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none
}

/* base - IE8~7 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

/* base - input */

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="search"],
input[type="image"],
textarea {
    -webkit-appearance: none;
}

input:checked[type="checkbox"] {
    background-color: #666;
    -webkit-appearance: checkbox
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"] {
    -webkit-appearance: button;
    border-radius: 0
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}



.pop02_popup1 {position:absolute; z-index:10000000000000000000;}
.pop02_popup2 {position:absolute; z-index:10000000000000000000;}
.pop02_popup_wrap {float:left;z-index:10000000000000000000;}
.pop02_popup_btn_wrap {float:right;z-index:10000000000000000000;}
.pop02_popup_btn_wrap ul li {float:left; margin:0 0 0 5px;}
.pop02_popup_btn {float:right; background:#625341; min-width:60px; height:36px; line-height:40px; padding:0 15px 0 15px; text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#fff; font-size:12px; font-weight:600;}
.pop02_popup_box {float:left; border:5px solid #625341;clear:both;z-index:10000000000000000000;background:#000 url("/frontend/todayslot/images/bg_popup.jpg") left top no-repeat; background-size:cover;}
.pop02_popup_text {float:left; width:100%;z-index:10000000000000000000;}
.pop02_popup_font1 {float:left; width:100%; font-family:'nanumsquare', sans-serif; font-size:22px; letter-spacing:-1px; font-weight:700; color:#ffffff; line-height:40px;}
.pop02_popup_font2 {float:left; width:100%; font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:400; color:#ffffff; line-height:28px;}
.notice_popup1 {position:absolute; z-index:1000000000; top:150px;}
.notice_popup_wrap {float:left; width:450px;}
.notice_popup_btn_wrap {float:right;}
.notice_popup_btn_wrap ul li {float:left; margin:0 0 0 5px;}
.notice_popup_btn {float:right; background:#ba9358; min-width:60px; height:36px; line-height:36px; padding:0 15px 0 15px; text-align:center; display:inline-block; font-family: 'Noto Sans KR', sans-serif; color:#000000; font-size:14px; font-weight:600;}
.notice_popup_box {float:left; width:450px; background:#000000; border:2px solid #ba9358; background:#111111;}
.notice_popup_text {float:left; width:100%;}
.notice_popup_font1 {float:left; width:100%; padding:5px;  font-family: 'Noto Sans KR', sans-serif; font-size:22px; letter-spacing:-1px; font-weight:700; color:#ffffff; line-height:40px;}
.notice_popup_font2 {float:left; width:100%; padding:5px; font-family: 'Noto Sans KR', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:400; color:#d4d4d4; line-height:28px;}