.parsley-errors-list{
    position: absolute;
}

.parsley-errors-list.filled{
    margin-top: 45px;
    margin-left: -35px;
    list-style:none;
    font-size: 12px;
    font-weight: bolder;
    color: #c90001;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.popup_window {
    position: fixed;
    background-color: #fff;
    color: #000000;
    padding: 0;
    display: none;
    z-index: 999;
}

.wrapper_loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1976;
}

.wrapper_loading_img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.after-login-container .my-account .money div span.blue{
    cursor: pointer;
}

.slot-thumbnail {
    width: 180px;
    height: 160px;
}

.modal_body.notice-section{
    height: 583px;
}

.modal_body.event-section{
    height: 583px;
}

.event-image{
    width: 130px;
    height: 161px;
}

.level-icon {
    max-width: 28px;
    max-height: 28px;
}

.cursor-pointer {
    cursor: pointer;
}