
/* -- Noto Sans -- */

@font-face {
  font-family:NotoSansKr-Regular;
  src:  url(../fonts/NotoSansKr-Regular.otf),
        url(../fonts/NotoSansKr-Regular.eot),
        url(../fonts/NotoSansKr-Regular.svg),
        url(../fonts/NotoSansKr-Regular.woff),
        url(../fonts/NotoSansKr-Regular.woff2);
}
@font-face {
  font-family:NotoSansKr-Bold;
  src:  url(../fonts/NotoSansKr-Bold.otf),
        url(../fonts/NotoSansKr-Bold.eot),
        url(../fonts/NotoSansKr-Bold.svg),
        url(../fonts/NotoSansKr-Bold.woff),
        url(../fonts/NotoSansKr-Bold.woff2);
}
@font-face {
  font-family:NotoSansKr-Black;
  src:  url(../fonts/NotoSansKr-Black.otf),
        url(../fonts/NotoSansKr-Black.eot),
        url(../fonts/NotoSansKr-Black.svg),
        url(../fonts/NotoSansKr-Black.woff),
        url(../fonts/NotoSansKr-Black.woff2);
}