@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/poppins/Poppins-Regular.ttf)
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/poppins/Poppins-Medium.ttf)
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/poppins/Poppins-Bold.ttf)
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/poppins/Poppins-SemiBold.ttf)
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body,
html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif !important;
    font-size : .9rem;
}

.sidebar-hr
{
    border-top :1px solid rgba(255,255,255,.15);
}
.navbar-vertical .navbar-nav .nav-link[data-toggle='collapse']:after
{
    color: #fff !important;
}

@media (max-width: 767.98px)
{
    .navbar-nav .nav-link
    {
        color: #fff !important;
    }
    .nav-padding
    {
        padding: 0px;
    }
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link
{
    padding-left: 2.25rem;
}


.navbar-vertical .navbar-nav .nav-link .sub-i
{
    min-width : 1.75rem !important;
}

.btn
{
    box-shadow : none !important;
}

.page-item.active .page-link
{
    box-shadow : none !important;
    border-color: #6a6a6a !important;
    background-color : #6a6a6a !important;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link.active
{
    background: #3e3e3e !important;
}

.sidenav-toggler-dark .sidenav-toggler-line
{
    background-color : #000000 !important;
}

.table thead th
{
    font-size: .9rem !important;
}