/**********************************/
.sidenav-toggler-line
{
    background-color : #ebebeb !important;
}
.login_bg {
    background-image: url('/back/argon/img/theme/bg-worldsl.jpg') !important;
}

.bg-header {
    background:linear-gradient(87deg,#212529,#212229)!important;
}

.sidenav-bg {
    background-color:#212529!important;
}

.card-bg-1
{
    background:linear-gradient(87deg,#606c77,#4f5263)!important
}

.card-bg-2
{
    background:linear-gradient(87deg,rgb(70, 83, 112),rgb(22, 27, 36))!important
}
