/node_modules
/public/hot
/public/back/bower_components
/public/storage
/storage/*.key
storage/
storage/framework/views/*.php
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/games
.vscode/launch.json
.vscode/launch.json
storage/settings.json
public/socket_config.json
public/socket_config0.json
public/socket_config1.json
public/socket_config2.json
public/socket_live_config.json
public/socket_config_gp.json
resources/lang/ko.zip
public/frontend/Major.zip
app/Games/Games.zip
/PTWebSocket/node_modules
/PTWebSocket/package-lock.json
/PTWebSocket/bower_components
bootstrap/cache/packages.php
composer.lock
bootstrap/cache/routes-v7.php
bootstrap/cache/services.php
/public/front/uploads
bootstrap/cache/config.php
public/socket_config_cq9.json
