/node_modules
/public/hot
/public/back
/public/storage
/storage/*.key
storage/
storage/framework/views/*.php
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/games
.vscode/launch.json
.vscode/launch.json
storage/settings.json
public/socket_config.json
public/socket_config0.json
public/socket_config1.json
public/socket_config2.json
public/socket_live_config.json
resources/lang/ko.zip
public/frontend/Major.zip
app/Games/Games.zip
/PTWebSocket
/PTWebSocket/node_modules
