input[type='text'], input[type='password'], select {
    border-radius: 4px;
    border: solid 1px #444;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 10%);
    background: #333;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    line-height: 30px;
    height: 30px;
    transition: 0.2s;
    vertical-align: middle;
}

.cover {max-width: 1170px; margin: 0 auto;}


.ui-button_red, .ui-button_gray, .ui-button_gray2, .ui_btn_green, .ui_btn_gray, .ui_btn_blue, .ui_btn_red, .ui_btn_yellow { cursor: pointer; text-shadow: 0 1px 3px rgba(0,0,0,0.9); color: #fff; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);  font-size: 12px; border: solid 1px #000000; margin: 1px; font-weight: 700px; font-weight: bold; vertical-align: middle;  background-size: contain; padding:0px 20px; transition:0.2s; height:36px; line-height:36px; display:inline-block; vertical-align:middle; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3); border-radius: 4px; box-sizing: border-box; }
button.ui-button_red, button.ui-button_gray, button.ui-button_gray2, button.ui_btn_green, button.ui_btn_gray, button.ui_btn_blue, button.ui_btn_red, button.ui_btn_yellow { padding: 0px 21px; height:36px; line-height:36px; display:inline-block; vertical-align:middle; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);  border-radius: 4px; box-sizing: border-box;}

.clear {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}
#game_iframe {  }


.game_zone_arr { width: 300px; float: right; margin: 10px;}
.game_zone { position: relative; }
.game_zone .btn-zone-arr { text-align: center; background: rgba(255,255,255,0.1); border: solid 1px #444; border-radius: 5px; margin-top: 5px; padding: 5px; vertical-align: text-top; }
.game_time { text-align: center; font-family: dotum; border: solid 1px #444; padding: 10px; box-shadow: inset 0 0px 5px 0 rgba(0,0,0,0.36); vertical-align: text-top; background: rgb(68,68,68); background: -moz-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34,34,34,1) 100%); background: -webkit-linear-gradient(top, rgba(68,68,68,1) 0%, rgba(34,34,34,1) 100%); background: linear-gradient(to bottom, rgba(68,68,68,1) 0%, rgba(34,34,34,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222', GradientType=0 );
border-radius: 5px; }
.game_time h4 { color: #ffcc00; font-size: 12px; display: block; margin: 0; display: inline-block; }
.game_time em { font-style: normal; color: #fff; display: block; display: inline-block; }
.game_time p { color: #ffc428; font-size: 18px; font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif; display: block; margin: 0; display: inline-block; }
#game_end_time { display: none; }
.betting_lock { padding: 0; margin: 0; display: none;}
.game_zone h3 { margin: 0; padding: 0; margin-bottom: 5px; font-size: 12px; background: rgba(100,100,100,0.2); color: #ffcc00; height: 20px; line-height: 20px; border-radius: 5px; }
.game_zone #team_name { font-size: 0px !important; font-weight: bold; }
.gamezone-bet-result { margin-top: 10px; }



.betting_lock { padding: 0; margin: 0; }


.game_zone #team_name { font-size: 0px !important; font-weight: bold; }
.gamezone-bet-result { margin-top: 10px; }
.btn-zone-arr .divd { color:#fff;}
.text-warning { color: #F46A00; }
.text-info { color: #008AE1; }
.text-danger { color: #E90003; }


.cls_game_hit { color:#0074FF;}


.game_zone .btn-zone-arr a { height: 65px; width: 48%; cursor: pointer; display: block; position: relative; margin: 0; padding: 0; border-radius: 10px; border: solid 4px rgba(0,0,0,1);box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);
box-sizing: border-box; }
.game_zone .btn-zone-arr a .divd { font-family: NotoSansKR !important; font-weight: 700; font-size: 16px; text-shadow: 0 0px 2px #000; display: block; margin-top: 0px; text-align:center; }
.game_zone .btn-zone-arr a:hover { border-color: #ffcc00; box-shadow: inset 0px 0px 105px 5px rgba(0,0,0,0.75);}
.game_zone .btn-zone-arr .select { border-color: #ffcc00; box-shadow: inset 0px 0px 105px 43px rgba(0,0,0,0.75) !important;  }
.game_zone .btn-zone-arr a img { display: none;}	
.game_zone .btn-zone-arr .select font { color: #ffcc00 !important;}	
.game_zone .btn-zone-arr .select .divd { color: #ffcc00 !important;}		
.game_zone .btn-zone-arr a .divd { font-family: NotoSansKR !important; font-weight: 700; font-size: 15px; text-shadow: 0 0px 2px #000; position: absolute; left: 0px; top: 28px; right: 0; text-align: center;}
.game_zone .btn-zone-arr a font { font-size: 20px !important; display: block; color: #fff; text-shadow: 0 0px 2px #000; text-align: center; position: absolute; left: 0; top: 5px; right: 0;} 	
.float_left { float: left; }
.float_right { float: right; }

.game_zone h3 {   background:rgba(0,0,0,0.3); border-radius:5px;  line-height: 30px; height: 30px; margin: 10px 0; display: block; text-align: center; color: #ffcc00; font-size: 14px; }
.btn_zone01, .btn_zone02, .btn_zone03, .btn_zone033, .btn_zone0101, .btn_zone0102, .btn_zone0103, .btn_zone0104, .btn_zone0105, .btn_zonesp1, .btn_zonesp2 { margin-bottom: 3px;}



.float_left { float: left;   }
.float_center { float: left;   }	
.float_right { float: right;   }
.btn_zone03 .float_left { width: 38% !important; margin-right: 1.8% !important;}	
.btn_zone03 .float_center { width: 20% !important;}
.btn_zone03 .float_center .divd { bottom: 40% !important; }
.btn_zone03 .float_right { width: 38% !important;}	

.btn_zone033 .float_left { width: 38% !important; margin-right: 1.8% !important;}	
.btn_zone033 .float_center { width: 20% !important;}
.btn_zone033 .float_center .divd { bottom: 40% !important; }
.btn_zone033 .float_right { width: 38% !important;}	

.btn_zone04 .float_left { width: 32% !important; margin-right: 1.8% !important;}	
.btn_zone04 .float_center { width: 32% !important;}

.btn_zone04 .float_right { width: 32% !important;}
.btn_zone044 .float_left { width: 32% !important; margin-right: 1.8% !important;}	
.btn_zone044 .float_center { width: 32% !important;}

.btn_zone044 .float_right { width: 32% !important;}
#game_iframe{ float: left; width: 100%; max-width: 830px;}




.float_left {   background: #207ce5; !important }
.float_right { background: #ff3019; !important}		

.btn_zone0101, .btn_zone0102, .btn_zone0103, .btn_zone0104, .btn_zone0105 { margin-bottom: 3px; float: none !important;}
.btn_zone0101 a, .btn_zone0102 a, .btn_zone0103 a, .btn_zone0104 a, .btn_zone0105 a  { background: #117b92 ; width: 19% !important; margin: 0.5% !important;  float: left !important;}	
.btn_zone04 .float_left {  ; background: #0da700 !important;}
.btn_zone04 .float_center { background: #cb8b00 !important;  }
.btn_zone04 .float_right {   background: #db36a4 !important;}

.btn_zone044 .float_left {  ; background: #0da700 !important;}
.btn_zone044 .float_center { background: #cb8b00 !important;  }
.btn_zone044 .float_right {   background: #db36a4 !important;}	
#game_iframe { float: left; background: #333;}	

#game_iframe2 {  width: 960px; float: left; background: #333; margin-top: 10px;}
#game_iframe2 iframe { width: 100%; height: 411px;}
.sub_content_arr{  background: rgba(0,0,0,0.8); }
.topth {width: calc(100% - 20px);}

.btn_max { position: absolute; left: 0; bottom: -56px; }
.btn_price_zone a { display: inline-block; }
.cart_btn_arr { text-align: right; width: 315px; height: 70px; margin-left: 13px; }
.cart_btn_arr a { display: block; float: right; }
.cart_btn_arr a:hover { opacity: 0.8; }
.price_select img { display: block; padding-top: 8px; }
.eprice_money { display: block; color: #fff; text-shadow: 0 1px 0 #000; }
.eprice_money p { display: block; float: left; margin: 5px; }
.eprice_money span { margin-left: 5px; }
#cart_list { display: block; font-size: 16px; height: 28px; line-height: 28px; font-weight: bold; color: #fff; background: rgba(0,0,0,0.2); box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3); border: solid 1px #000; }
.unbetting { background: #000 url(/html/betemc/images/lock_icon01.png?7) no-repeat center center; opacity: 0.3 !important; }
#price { font-family: Arial, Helvetica, sans-serif; text-align: center; display: block; font-size: 16px; height: 40px; line-height: 40px; width:100%; font-weight: bold; color: #E10003;   margin: 0;  }
#divd { color: #00C3FF; font-weight: bold; }
#eprice { color: #ffe551; font-weight: bold; }
.newcart_price { color: #fff; background: #641c0a; box-shadow: inset 0px 2px 2px rgba(0,0,0,0.3); border-radius: 30px; padding: 5px; }
.newcart_price li { display: inline-block; }
.newcart_price li a { color: #bdbdbd; margin: 0 5px; font-family: dotum; font-size: 12px; }
#bett_lists table thead { background: #666 !important; }
.btn_price_zone { width:100%; padding-top:7px;}
.btn_price_zone button { float: left; border: none; cursor: pointer; width: 33.3%; color: #fff; font-size: 12px; display: inline; font-family: dotum; text-shadow: 0 1px 0 #000; border: solid 1px #000 !important; font-weight: 600; height: 30px; line-height: 30px; padding: 0; border: solid 1px #000; margin: 0; border-radius: 0; }
.btn_price_zone button:hover { color: #fff; border: solid 1px #eaec60; }
#btnBett { height: 48px; color: #000; font-size: 20px; display: block;  padding: 10px; font-weight: 700;     }
.btn_price_zone button { float: left; border: none; cursor: pointer; width: 32.33%; margin: 0.5%; box-sizing: border-box;color: #fff; font-size: 11px; display: inline; font-family: dotum; font-weight: 600; height: 30px; line-height: 30px; padding: 0; border: solid 1px #333; box-shadow: none; border-radius: 3px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2); background: rgb(76,76,76);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#000000',GradientType=0 ); }
.btn_price_zone button:hover { color: #ffcc00; border: solid 1px #000; box-shadow: inset 0px -2px 0px rgba(255,255,255,0.2); filter: brightness(1.5)}


#btnBett { color: #fff; text-shadow: 0 2px 2px #000; font-size: 20px; display: block; margin: 5px; padding: 10px; font-weight: 700;   box-shadow: inset 0 2px 2px 0 rgba(255,255,255,0.5); border-radius: 5px; background: #ff3019;
background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );}
#btnBett:hover { filter: brightness(1.5); }
.cart-new-arr {text-align: center;     background: rgba(255,255,255,0.1);
border: solid 1px #444; padding: 5px;  vertical-align: text-top; margin-top:5px; border-radius:5px; }
.betting_btn_zone { padding-top:5px; cursor: pointer;}  

.blue_text {color: #207ce5}
.red_text {color: #ff3019}
.green_text {color: #0da700}
.orange_text {color: #cb8b00}
.pink_text {color: #db36a4}

.betting_lock { padding: 0; margin: 0; }
.betting_lock p { position: absolute; top: 0; left: 0px; right: 0; bottom: 0; width: 100%; background: rgba(0,0,0,0.7); z-index: 999; margin: 0; }
.betting_lock .fa { margin: 0 auto; font-size: 120px; color: #ffcb00; position: absolute; left: 50%; top:50%; margin-left: -34px; margin-top: -60px; z-index: 99999; }
.topth {width: calc(100% - 20px);}
.topth{ border-collapse: collapse ; margin: 10px; box-sizing: border-box; }
 .topth th{	height: 37px; font-weight: 300px;	font-family: dotum;   background: #252525;   border-bottom: 0;   color: #ccc; border-top: solid 1px #ff0000; border-bottom: solid 1px #333;}
#betting_list .bbs-list-new td { border: none !important; }
		td.mb-nick-user {font-weight: bold; background: rgba(10,10,10,0.5);}
#betting_list {font-size: 0.8em;}
.tf_pagination { padding: 1em 0; text-align: center; display: block; }
.tf_pagination ul { margin: 0; padding: 0; margin: 0 auto; display: inline-block; text-align: center; }
.tf_pagination ul li { list-style: none; padding: 0 3px; ; margin: 0 !important; display: inline-block; vertical-align: middle; text-align: center; }
.tf_pagination ul li a { cursor: pointer; margin-bottom: 5px; border-radius: 0px; display: block; color: #fff; width: 30px; height: 30px; line-height: 30px;  border: solid 1px #000; border-radius: 5px;         background:#333; }
.tf_pagination ul li a .fa { margin-top: 10px; }
.tf_pagination ul li a:hover { color:#ffcc00;  border: solid 1px #ffcc00;  background: #444; }
.tf_pagination .active { color: #ffcc00;  border: solid 1px #ffcc00;  font-weight: bold;  background: #444;}

.ui-button_red, .ui-button_gray, .ui-button_gray2, .ui_btn_green, .ui_btn_gray, .ui_btn_blue, .ui_btn_red, .ui_btn_yellow { cursor: pointer; text-shadow: 0 1px 3px rgba(0,0,0,0.9); color: #fff; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);  font-size: 12px; border: solid 1px #000000; margin: 1px; font-weight: 700px; font-weight: bold; vertical-align: middle;  background-size: contain; padding:0px 20px; transition:0.2s; height:36px; line-height:36px; display:inline-block; vertical-align:middle; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3); border-radius: 4px; box-sizing: border-box; }
button.ui-button_red, button.ui-button_gray, button.ui-button_gray2, button.ui_btn_green, button.ui_btn_gray, button.ui_btn_blue, button.ui_btn_red, button.ui_btn_yellow { padding: 0px 21px; height:36px; line-height:36px; display:inline-block; vertical-align:middle; box-shadow: inset 0 2px 0px 0 rgba(255,255,255,0.3);  border-radius: 4px; box-sizing: border-box;}
.ui-button_red { background: url(/img/btn-red.jpg?4); }
.ui-button_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_red:active { position: relative;  }
.ui-button_gray { background: url(/img/btn-gray.jpg?4); }
.ui-button_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray:active { position: relative;  }
.ui-button_gray2 { background: url(/img/btn-gray.jpg?4); }
.ui-button_gray2:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui-button_gray2:active { position: relative; top: 2px; }
.ui_btn_green { background: url(/img/btn-green.jpg?4); }
.ui_btn_green:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_green:active { position: relative;  }
.ui_btn_red { background: url(/img/btn-red.jpg?4); }
.ui_btn_red:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_red:active { position: relative;  }
.ui_btn_gray { background: url(/img/btn-gray.jpg?4); }
.ui_btn_gray:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_gray:active { position: relative;  }
.ui_btn_blue { background: url(/img/btn-blue.jpg?4); }
.ui_btn_blue:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_blue:active { position: relative;  }
.ui_btn_yellow{ background: url(/img/btn-yellow.jpg?4); }
.ui_btn_yellow:hover { position: relative;  background-position:0 -42px; box-shadow: inset 0 -2px 0px 0 rgba(255,255,255,0.3); text-shadow: 0 -1px 3px rgba(0,0,0,0.9); }
.ui_btn_yellow:active { position: relative;  }

.modal-body input {border: 0;}
.table_top_bg tr {margin-top: 5px; margin-bottom: 5px; font-size: 0.9em; color: #efefef}
@media (max-width: 1195px) {
    .game_zone_arr {width: 100%; margin: 0; margin-top: 5px;}
    .mini_screen_9 {width: 100% !important}
    #betting_list {width: 100%;}

}