.VideoSlots.SGTheKoiGate{width:48px;height:48px;background-image:url(../../images/videoslots/SGTheKoiGate.png)}
.VideoSlots.SGTheKoiGate.idKoi{background-position:-48px 0px}
.VideoSlots.SGTheKoiGate.idKoi.disabled{background-position:-48px 48px}
.VideoSlots.SGTheKoiGate.idDragon{background-position:-96px 0px}
.VideoSlots.SGTheKoiGate.idDragon.disabled{background-position:-96px 48px}
.VideoSlots.SGTheKoiGate.idGate{background-position:-144px 0px}
.VideoSlots.SGTheKoiGate.idGate.disabled{background-position:-144px 48px}
.VideoSlots.SGTheKoiGate.idFlower{background-position:-192px 0px}
.VideoSlots.SGTheKoiGate.idFlower.disabled{background-position:-192px 48px}
.VideoSlots.SGTheKoiGate.idBamboo{background-position:-240px 0px}
.VideoSlots.SGTheKoiGate.idBamboo.disabled{background-position:-240px 48px}
.VideoSlots.SGTheKoiGate.idLeaves{background-position:-288px 0px}
.VideoSlots.SGTheKoiGate.idLeaves.disabled{background-position:-288px 48px}
.VideoSlots.SGTheKoiGate.idWave{background-position:-336px 0px}
.VideoSlots.SGTheKoiGate.idWave.disabled{background-position:-336px 48px}
.VideoSlots.SGTheKoiGate.idA{background-position:-384px 0px}
.VideoSlots.SGTheKoiGate.idA.disabled{background-position:-384px 48px}
.VideoSlots.SGTheKoiGate.idK{background-position:-432px 0px}
.VideoSlots.SGTheKoiGate.idK.disabled{background-position:-432px 48px}
.VideoSlots.SGTheKoiGate.idQ{background-position:-480px 0px}
.VideoSlots.SGTheKoiGate.idQ.disabled{background-position:-480px 48px}
.VideoSlots.SGTheKoiGate.idJ{background-position:-528px 0px}
.VideoSlots.SGTheKoiGate.idJ.disabled{background-position:-528px 48px}
