@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
#wrap {float:left; width:100%; overflow-x:hidden; background:url("../images/bg.jpg") center top;background-size: cover;}
* {box-sizing: border-box;	-ms-box-sizing: border-box;	-webkit-box-sizing: border-box;}

/*-------------------------------------------------------------------------------------*
 *  Header                                                                             *
 *-------------------------------------------------------------------------------------*/
#header_wrap  {float:left; width:100%;}
.header_box   {margin:0px auto;width: 100%;}

.logo         {float:left; width:100%; text-align:center;}


.hot_wrap {float:left; width:100%; position:relative; margin:15px 0 0 0;}
.hot_box {max-width: 1400px; margin:0px auto; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
.hot_wrap p.title{animation: floating-text .5s ease alternate infinite;text-align: center;}
.hot_wrap .title span {font-family: 'nanumsquare', sans-serif;font-weight: 600;font-size: 48px;background: #ffffff;-webkit-background-clip: text;-webkit-text-stroke: 3px transparent;color: #07a021;letter-spacing: 3px;}
.hot_wrap .title strong {font-family: 'nanumsquare', sans-serif;font-weight: 400;font-size: 48x;background: #ffffff;;-webkit-background-clip: text;-webkit-text-stroke: 3px transparent;color: #ff0055;letter-spacing: 3px;padding-left: 10px;}
@keyframes floating-text {0% {transform: translateY(.4em);}
100% {}}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 330px;
    margin: 5px;
    height: 220px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


.parent a {
    display: none;
    font-size: 22px;
    color: #f0e6e4 !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}
.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.jackpot_left_wrap {position:absolute; z-index:1;top:198px;}
.jackpot_right_wrap {position:absolute; z-index:1;top:198px; right:0px;}
@media screen and (max-width: 960px) {
    .jackpot_right_wrap {position:absolute; z-index:1;top:198px; left:1000px;}
}
.grand_jackpot_box {text-align: center; z-index:1;  width:400px; height:140px; background:url("../images/grandjp.png") center top no-repeat; background-size: contain; margin:15px 0 15px 0}
.major_jackpot_box {text-align: center; z-index:1;  width:400px; height:140px; background:url("../images/majorjp.png") center top no-repeat; background-size: contain;margin:15px 0 15px 0}
.minor_jackpot_box {text-align: center; z-index:1;  width:400px; height:140px; background:url("../images/minorjp.png") center top no-repeat; background-size: contain;margin:15px 0 15px 0}
.mini_jackpot_box {text-align: center; z-index:1;  width:400px; height:140px; background:url("../images/minijp.png") center top no-repeat; background-size: contain;margin:15px 0 15px 0}
.jackpot_sum { padding: 80px; font-size: 30px; color:#f0e6e4;font-family:'nanumgothic', sans-serif;font-weight:bold;}


/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
    .wrapper {padding: 20px 20px;}
}




.hello {display: none}

.gnb {
    float: left;
    width: 100%;
    text-align: center;
    background-color: #058f33;
    border-top-style: ridge;
    border-top-width: 3px;
    border-top-color: #b301f5;
    border-bottom-style: ridge;
    border-bottom-width: 3px;
    border-bottom-color: #b301f5;
}
.gnb ul li    {display:inline-block; margin:0 25px 0 25px;}

.top_wrap {float:left; width:100%; height:46px;}
.top_notice {float:left; height:46px; line-height:46px;}

.login_wrap {margin-top:10px;margin-bottom:10px;float:left; width:100%;}
.login_box {width:100%; height:65px; background:url("../images/bg_login.png") center top no-repeat;}
.login        {float:left; width:100%; text-align:center; line-height:60px;}
.login ul li  {display:inline-block; font-family:'nanumsquare', sans-serif; font-size:18px; letter-spacing:-1px; font-weight:400; color:#ffffff; font-weight:700;}

.login_btn1 {
    background: linear-gradient(#ba00ff 0%, #57137e 100%);
    min-width: 115px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 10px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
} 
.login_btn1:hover   {background:linear-gradient(to right,  #ba00ff 0%,  #57137e 100%);}

.demo_btn {
    background: linear-gradient(#5df865 0%, #01b327 100%);
    min-width: 115px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 10px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
} 
.demo_btn:hover   {background:linear-gradient(to right,  #5df865 0%, #01b327 100%);}

.login_btn2 {
    background: linear-gradient(#7e7e7e 0%, #484848 100%);
    min-width: 115px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px 0 10px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
} 
.login_btn2:hover   {background:linear-gradient(to right,  #7e7e7e 0%,  #484848 100%);}

.input_login  {background-color:#5d5d5d; border:1px solid #5d5d5d; padding:5px 0 3px 10px; width:155px; height:36px; font-size:16px; font-family:'nanumgothic', sans-serif; color:#ffffff; border-radius:100px;}

.after_login {
    float:left; width:100%; text-align:center;
}
.after_login div{
    display: inline-flex;
    width: auto;
    height: 28px;
    border: 1px solid #111;
    background: #444;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 18px;
    cursor: pointer;
}
.after_login div:hover {
    color: #ffeb3b;
    border: 1px solid #f4a903;
    box-shadow: 0 0 5px #ff8c00;
}

.after_login div i {
    float: left;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 8px;
}

.after_login div .level {
    float: left;
    margin-top: 3px;
    margin-left: 7px;
    margin-right: 5px;
    width: 20px;
}

.after_login div:nth-child(1) i {
    color: #9ee24f;
}

.after_login div:nth-child(2) i {
    color: #e4a13c;
}

.after_login div:nth-child(3) i {
    color: #399ec6;
}

.after_login div:nth-child(4) i {
    color: #cc4673;
}

.after_login div:nth-child(5) i {
    color: #00b4a3;
}

.after_login div:nth-child(6) i {
    color: #c146d6;
}

.after_login div:nth-child(7) i {
    color: #aaaaaa;
}

.after_login div:nth-child(8) i {
    color: #aaaaaa;
}

.after_login div p {
    float: none;
    margin-top: 5px;
    margin-right: 7px;
    color: #fff;
    font-family: nanumgothic, sans-serif;

}

.after_login div .progress_cont {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 8.50px;
    width: 196px;
    height: 9px;
    background-image: url(../images/icon/progress_cont.png);
    position: relative;
    border: none;
}

.after_login div.yellow {
    background: rgb(201, 178, 51);
}

.after_login div.yellow p {
    color: #000;
    padding-left: 7px;
}


.notice_wrap {float:left; width:100%;}
.notice_box {margin:0px auto; width:1076px;}
.notice {
    float: left;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-family: 'nanumgothic', sans-serif;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #000000;
    padding: 0 15px 0 15px;
    border: solid thin #ffb74b;
}


/*-------------------------------------------------------------------------------------*
 *  Contents                                                                           *
 *-------------------------------------------------------------------------------------*/
#contents_wrap {float:left; width:100%; min-height:622px; background:url("../images/bg_con.jpg") center top no-repeat;}
.contents_box {margin:0px auto; width:1300px;}

.title1 {float:left; width:100%; height:50px;line-height:50px; background:rgba(255,255,255,0.05); border:solid 1px rgba(255,255,255,0.1); font-family:'nanumsquare', sans-serif; padding:0 0 0 12px; font-size:24px; letter-spacing:-1px; font-weight:700; color:#ffffff; margin:5px 0 0 0;}
.title2 {padding:0 0 5px 0; font-weight:700; font-size:18px; color:#9581ff; font-weight:600; font-family:'nanumgothic', sans-serif; letter-spacing:-1px;}

.con_box00 {float:left; width:100%; margin:0 0 0 0;}
.con_box10 {float:left; width:100%; margin:10px 0 0 0;}
.con_box20 {float:left; width:100%; margin:20px 0 0 0;}
.con_box30 {float:left; width:100%; margin:30px 0 0 0;}
.con_box40 {float:left; width:100%; margin:40px 0 0 0;}
.con_box50 {float:left; width:100%; margin:50px 0 0 0;}
.con_box60 {float:left; width:100%; margin:60px 0 0 0;}


/*-------------------------------------------------------------------------------------*
 *  Footer                                                                             *
 *-------------------------------------------------------------------------------------*/
#footer {
    float: left;
    width: 100%;
    text-align: center;
    padding: 25px 0 30px 0;
    background-color: #080504;
}


/*-------------------------------------------------------------------------------------*
 *  Main                                                                               *
 *-------------------------------------------------------------------------------------*/
.main_slot_wrap {float:left; width:100%; position:relative; margin:15px 0 0 0;}


/*-------------------------------------------------------------------------------------*
 *  게시판                                                                             *
 *-------------------------------------------------------------------------------------*/
.list_title1  {background:#38303d; line-height:40px; font-weight:bold; text-align:center; font-weight:bold; color:#ffffff}
.list_notice1 {background:rgba(42,25,35,0.6); line-height:40px; border-bottom:solid 1px rgba(255,255,255,0.1); font-family:'nanumgothic', sans-serif; font-size:14px; letter-spacing:-1px; font-weight:400; color:#ffffff; text-align:center;}
.list_notice2 {background:rgba(42,25,35,0.6); line-height:40px; border-bottom:solid 1px rgba(255,255,255,0.1); font-family:'nanumgothic', sans-serif; font-size:14px; letter-spacing:-1px; font-weight:400; color:#ffffff; padding:0 0 0 15px;}
.list1        {background:rgba(42,25,35,0.4); line-height:40px; border-bottom:solid 1px rgba(255,255,255,0.1); font-family:'nanumgothic', sans-serif; font-size:14px; letter-spacing:-1px; font-weight:400; color:#ffffff; text-align:center }
.list2        {background:rgba(42,25,35,0.4); line-height:40px; border-bottom:solid 1px rgba(255,255,255,0.1); font-family:'nanumgothic', sans-serif; font-size:14px; letter-spacing:-1px; font-weight:900; color:#ffffff; padding:0 0 0 15px;}

.write_title_top {border-top:solid 1px rgba(255,255,255,0.1);}
.write_title     {background:rgba(42,25,35,0.4); border-bottom:solid 1px rgba(255,255,255,0.1); min-height:48px; line-height:48px; padding:3px 10px 3px 10px; width:160px; color:#ffffff; vertical-align:middle; font-family:'nanumgothic', sans-serif; font-size:15px; letter-spacing:-1px; font-weight:400;}
.write_basic     {background:rgba(42,25,35,0.4); border-bottom:solid 1px rgba(255,255,255,0.1); border-left:solid 1px rgba(255,255,255,0.1); min-height:48px; padding:3px 5px 3px 5px;vertical-align:middle; color:#d3c6db; font-family:'nanumgothic', sans-serif; font-size:15px; letter-spacing:-1px; font-weight:400;}

.td_title {
    background: #740da4;
    border: solid 1px rgba(255,255,255,0.1);
    min-height: 48px;
    line-height: 32px;
    padding: 1px 5px 1px 5px;
    width: 160px;
    color: #ffffff;
    vertical-align: middle;
    text-align:center;
    font-family: 'nanumgothic', sans-serif;
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: 400;
}
.td_basic {
    background: rgba(42,25,35,0.4);
    border-bottom: solid 1px rgba(255,255,255,0.1);
    min-height: 48px;
    line-height: 40px;
    padding: 1px 5px 1px 5px;
    width: 160px;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    font-family: 'nanumgothic', sans-serif;
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: 400;
}

.view1     {background:rgba(42,25,35,0.6); border-bottom:solid 1px rgba(255,255,255,0.1); padding:0 20px 0 20px; width:100%; height:50px; line-height:50px;border-radius:5px;  font-weight:600; color:#fff;  font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:700;}
.view2     {background:rgba(42,25,35,0.4); border-bottom:solid 1px rgba(255,255,255,0.1); padding:12px 20px 10px 20px; width:100%; line-height:26px;  font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:700;}
.view_box  {background:rgba(0,0,0,0.4); border:solid 1px #000000; padding:5px 8px 3px 8px; line-height:12px; text-align:center; display:inline-block; color:#888888; font-size:12px; margin:0 5px 0 0; font-weight:100;}

.page_wrap       {float:left; width:100%; height:50px; line-height:50px; text-align:center; border:1px solid rgba(255,255,255,0.1);}
.page_wrap ul li {display:inline;}
.page            {display:inline-block; width:32px; height:32px; border-radius:32px; line-height:32px; color:#a1a1a1; }
.pageon          {background:#750da5; display:inline-block; width:32px; height:32px; border-radius:2px; line-height:32px; color:#ffffff;  }

.info_wrap {background:rgba(42,25,35,0.4); border:solid 1px rgba(255,255,255,0.1); float:left; width:100%; padding:10px 0 10px 0; }
.info1     {float:left; width:100%; line-height:26px; font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:700; color:#ffffff; padding:0 20px 5px 20px;}
.info2     {float:left; width:100%; line-height:26px; font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:400; color:#ffc000; padding:0 20px 0 20px;}
.info3     {float:left; width:100%; line-height:22px; font-family:'nanumgothic', sans-serif; font-size:12px; letter-spacing:-1px; font-weight:700; color:#efe0d6; padding:5px 20px 0 23px;}


/*-------------------------------------------------------------------------------------*
 *  버튼                                                                               *
 *-------------------------------------------------------------------------------------*/
.btn_wrap_right        {float:left; width:100%; text-align:right; }
.btn_wrap_right ul li  {display:inline;}
.btn_wrap_center       {float:left; width:100%; text-align:center; }
.btn_wrap_center ul li {display:inline;}

.btn1_1 {
    background: linear-gradient(to right, #750da5 0%, #5f0c86 100%);
    min-width: 70px;
    height: 35px;
    padding: 0 10px 0 10px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}
    .btn1_1:hover {
        background: linear-gradient(#750da5 0%, #5f0c86 100%);
        border: none;
        outline: none;
        cursor: pointer;
    }

.btn1_2 {
    background: linear-gradient(to right, #5b5b5b 0%, #3f3f3f 100%);
    min-width: 70px;
    height: 35px;
    padding: 0 10px 0 10px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}
    .btn1_2:hover {
        background: linear-gradient(#5b5b5b 0%, #3f3f3f 100%);
        border: none;
        outline: none;
        cursor: pointer;
    }

.btn2_1 {
    background: linear-gradient(to right, #750da5 0%, #5f0c86 100%);
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    border: none;
    outline: none;
    cursor: pointer;
}
    .btn2_1:hover {
        background: linear-gradient(#750da5 0%, #5f0c86 100%);
        border: none;
        outline: none;
        cursor: pointer;
    }

.btn2_2 {
    background: linear-gradient(to right, #5b5b5b 0%, #3f3f3f 100%);
    width: 130px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    border: none;
    outline: none;
    cursor: pointer;
}
    .btn2_2:hover {
        background: linear-gradient(#5b5b5b 0%, #3f3f3f 100%);
        border: none;
        outline: none;
        cursor: pointer;
    }

.btn3_1 {
    background: linear-gradient(to right, #750da5 0%, #5f0c86 100%);
    width: 240px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    border: none;
    outline: none;
    cursor: pointer;
}
    .btn3_1:hover {
        background: linear-gradient(#750da5 0%, #5f0c86 100%);
        border: none;
        outline: none;
        cursor: pointer;
    }

.btn3_2 {
    background: linear-gradient(to right, #5b5b5b 0%, #3f3f3f 100%);
    width: 240px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-family: nanumgothic, sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.5);
    border: none;
    outline: none;
    cursor: pointer;
}
    .btn3_2:hover {
        background: linear-gradient(#5b5b5b 0%, #3f3f3f 100%);
        border: none;
        outline: none;
        cursor: pointer;
    }

.btn_tab      {background:#333333; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#999999; border-radius:0px; font-weight:700; text-align:center;}
.btn_tabon    {background:#750da5; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#ffecd8; border-radius:0px; font-weight:700; text-align:center;}

.icon1   {background:#750da5; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#ffffff; border-radius:0px; font-weight:700; text-align:center;}
.icon2   {background:#750da5; min-width:70px; display:inline-block; font-family:nanumgothic; padding:6px 8px 6px 8px; line-height:12px; color:#ffffff; border-radius:0px; font-weight:700; text-align:center;}


/*-------------------------------------------------------------------------------------*
 *  out login                                                                          *
 *-------------------------------------------------------------------------------------*/
.out_login_wrap  {float:left; width:100%; height:100vh; background:url("../images/bg_login.jpg") center top no-repeat; background-size:cover; padding:180px 0 0 0}
.out_login_box_wrap {width:360px; margin:0px auto;}
.out_login_tit {width:100%; float:left; text-align:center; position:relative;}
.out_login {width:100%; float:left; margin:50px 0 50px 0;}
.out_login_table {width:100%}
.out_login_td1 {width:100%; padding:0 0 5px 0}
.out_login_td2 {width:100%; padding:0 0 10px 0}
.out_login_td3 {width:100%; padding:0 0 10px 0}
.out_login_btn1 {width:100%; height:60px; line-height:60px; color:#e7d2b3; font-weight:600; font-size:20px; letter-spacing:-1px; text-align:center; display:inline-block; background:linear-gradient( #7f614a 0%,  #432e20 100%);  font-family:nanumgothic; }
.out_login_btn1:hover {background:linear-gradient(#937258 0%, #543928 100%);}

					 
/*-------------------------------------------------------------------------------------*
 *  팝업, 탭 (sk_tab)                                                                  *
 *-------------------------------------------------------------------------------------*/
.popupbox_ajax {
    width: 100%;
    float: left;
    background: linear-gradient(#1d120d 0%, #412b1d 100%);
    min-height: calc(100vh - 78px);
    border-radius: 1px;
    padding: 40px;
    position: relative
}

.popup_none              {display:none;}
.popup_wrap              {width:1300px;}
.close_box               {width:100%; float:left; text-align:center; padding:10px 0 10px 0;}
.popupbox                {width:100%; float:left; background-color:#000000ee; min-height:calc(100vh - 78px); border-radius:10px; padding:40px; position:relative; box-shadow:0px 0px 100px rgba(0,0,0,0.7);}
.game_tit                {width:100%; float:left; margin:0 0 10px 0;}

.popup_tab_wrap          {width:100%;}
.popup_tab               {float:left; width:100%;}
.popup_tab li {
    float: left;
    min-width: 120px;
    border-right: solid 1px rgba(255,255,255,0.05);
    background: rgba(30,30,30,0.6);
}
.popup_tab li span       {display:inline-block; width:100%; height:40px; line-height:40px; font-family:'nanumgothic', sans-serif; font-size:12px; text-align:center; font-weight:600;}
.popup_tab li span:hover {display:inline-block; width:100%; height:40px; line-height:40px; font-family:'nanumgothic', sans-serif; font-size:12px; text-align:center; font-weight:600;}

/* 입금신청, 출금신청, 머니이동, 쿠폰신청, 콤프신청, 이벤트, 공지사항 */
.sk_tab_active_01 span   {color:#ffffff; background:linear-gradient(#b301f5 0%,  #5b1283 100%);}
.sk_tab_con_01           {display:block; clear:both;}
.sk_tab_hidden_01        {display:none;}

/* 마이페이지, 정보수정, 입금/출금내역, 지인친구목록, 출석체크목록, 머니이동목록, 쪽지함 */
.sk_tab_active_02 span   {color:#ffffff; background:linear-gradient(#b301f5 0%,  #5b1283 100%);}
.sk_tab_con_02           {display:block; clear:both;}
.sk_tab_hidden_02        {display:none;}

/* 게임이용방법 */
.sk_tab_active_04 span   {color:#ffffff; background:linear-gradient(#b301f5 0%,  #5b1283 100%);}
.sk_tab_con_04           {display:block; clear:both;}
.sk_tab_hidden_04        {display:none;}

/* 카지노보유머니, 슬롯보유머니 */
.sk_tab_active_00 span   {display:inline-block; width:140px; height:40px; line-height:38px; color:#ffffff; text-align:center; font-weight:600; background:linear-gradient(to right, #b301f5 0%,  #5b1283 100%);}
.sk_tab_con_00           {display:block; clear:both;}
.sk_tab_hidden_00        {display:none}

/* 슬롯 세부리스트 */
.slot_list {float:left; width:100%; margin:0px 0 0 0; color:#fff}
.slot_list table tr td {color:#ffffff}
.slot_list table tr td table tr td {background:rgba(0,0,0,0.4); text-align:center;}
.slot_list table tr td table tr td:nth-child(2),
.slot_list table tr td table tr td:nth-child(4),
.slot_list table tr td table tr td:nth-child(6),
.slot_list table tr td table tr td:nth-child(8),
.slot_list table tr td table tr td:nth-child(10),
.slot_list table tr td table tr td:nth-child(12),
.slot_list table tr td table tr td:nth-child(14){background:none}
.slot_list table tr td table tr td:hover {background:rgba(255,255,255,0.1);}
.slot_list table tr td table tr td:nth-child(2):hover,
.slot_list table tr td table tr td:nth-child(4):hover,
.slot_list table tr td table tr td:nth-child(6):hover,
.slot_list table tr td table tr td:nth-child(8):hover,
.slot_list table tr td table tr td:nth-child(10):hover,
.slot_list table tr td table tr td:nth-child(12):hover,
.slot_list table tr td table tr td:nth-child(14):hover {background:none}


/*-------------------------------------------------------------------------------------*
 *  박스스타일                                                                         *
 *-------------------------------------------------------------------------------------*/
/* 콤프신청, 머니이동, 출석체크수*/
.box_wrap01    {background:rgba(42,25,35,0.4); border:solid 1px rgba(255,255,255,0.1); padding:4px; float:left; width:100%; }
.box_box01     {background:rgba(0,0,0,0.3); float:left; width:100%; padding:10px 0 10px 0; text-align:center;} 
.box_font01    {float:left; width:100%; line-height:40px; font-weight:600; color:#dddddd; padding:0 0 0 0; font-size:18px; letter-spacing:-1px; font-family:'nanumsquare', sans-serif;}
.box_font02    {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#ffc000; letter-spacing:-1px; font-size:16px;  font-weight:900; font-family:Arial, sans-serif; letter-spacing:-1pt;}

/* 카지노 로고박스, 마이페이지 카지노 로고 박스 */
.box_wrap02    {background:rgba(42,25,35,0.4); border:solid 1px rgba(255,255,255,0.1); padding:6px; float:left; width:20%; cursor:pointer;}
.box_wrap02_on {background:rgba(0,0,0,0.6); border:solid 1px #750da5; padding:6px;}
.box_box02     {background:rgba(0,0,0,0.3); float:left; width:100%; padding:5px 0 5px 0; text-align:center;} 
.box02         {float:left; width:100%; line-height:34px; font-weight:600; color:#dddddd; padding:0 0 0 0; font-size:14px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}
.box022       {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#ffffff; letter-spacing:-1px; font-size:14px;  font-weight:900;font-family:'nanumgothic', sans-serif;  letter-spacing:0pt;}

/* 머니이동 */
.box_wrap03    {background:rgba(42,25,35,0.4); border:solid 1px rgba(255,255,255,0.1); padding:6px; float:left; width:100%; }
.box_box03     {background:rgba(0,0,0,0.3); float:left; width:100%; padding:5px 0 5px 0; text-align:center;} 
.box03         {float:left; width:100%; line-height:40px; font-weight:400; color:#dddddd; padding:0 0 0 0; font-size:20px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}

.money  {background:rgba(42,25,35,0.4); border:solid 1px rgba(255,255,255,0.1); float:left; width:100%; text-align:center; padding:10px 0 10px 0;}
.money li { display:inline-block; padding:0 10px 0 10px; font-size:16px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}


/*-------------------------------------------------------------------------------------*
 *  특별한                                                                             *
 *-------------------------------------------------------------------------------------*/ 
/* 우측 퀵메뉴 실시간입출금 레벨표 */
/* 실시간출금 */
.right_board_wrap {width:440px; height:336px; position:fixed; right:-400px; top:130px;z-index:999999}
.right_board_wrap2 {width:440px; height:336px; position:fixed; right:-400px; top:230px;z-index:999999}
.right_board_btn {float:left; width:40px;}
.right_board {float:left; width:400px; height:336px; background:rgba(0,0,0,0.9); padding:10px;}
.right_board_tab {width:100%}
.right_board_tab li {width:50%; float:left;}
.right_board_tab li span.tabon {width:100%; height:40px; display:inline-block; text-align:center; line-height:40px;font-family:'nanumsquare', sans-serif; color:#ffffff ; background:#634c2f; font-size:18px}
.right_board_tab li span.taboff {width:100%; height:40px; display:inline-block; text-align:center; line-height:40px;font-family:'nanumsquare', sans-serif; color:#dddddd; background:rgba(255,255,255,0.1); font-size:18px }
.right_board .table_box {width:100%; height:274px; padding:15px; float:left; background:rgba(255,255,255,0.1);}
.right_board .table_box2 {width:100%; height:100%; float:left; }
.right_board table {width:100%;}
.right_board table tr td {font-family:nanumgothic, sans-serif; font-size:14px; line-height:30px}
.right_board table tr td.board_right_td1 {color:#e9e9e9; text-align:left; font-size:12px;}
.right_board table tr td.board_right_td2 {color:#ffffff;text-align:center}
.right_board table tr td.board_right_td3 {color:#e9e9e9;text-align:right}
/* 실시간출금 버튼 */
.right_close {z-index:1; display:none; cursor:pointer}
.right_open {z-index:2; cursor:pointer}
.right_close2 {z-index:1; display:none; cursor:pointer}
.right_open2 {z-index:2; cursor:pointer}
/* 레벨등급표 */
.level_table tr th {color:#ffffff; background:rgba(255,255,255,0.1); padding:1px;font-family:nanumgothic, sans-serif;}
.level_table tr td {font-family:nanumgothic, sans-serif; height:25px; text-align:center; color:#e9e9e9; border-right:solid 1px rgba(255,255,255,0.1); border-bottom:solid 1px rgba(255,255,255,0.1); font-size:12px !important; letter-spacing:-1px;background:#111111}
.level_table tr td:first-child {border-left:solid 1px #303b4d;}
.level_table tr td img {height:20px; }

/* 게임사아이콘 */
.category {float:left; width:330px; height:220px; background:rgba(0,0,0,0.3); position: static; z-index:10000; text-align:center; font-family:'nanumgothic', sans-serif; letter-spacing:-1px; font-weight:bold; color:#f0e6e4; padding:0 0 0 0;
    top:0px; left:0px;}
.category .gameicon{ 
        height: 220px;
        text-align: center;
        position:relative
}
.category .gameborder{
        position:absolute;
        top:0px;left:0px;
        width:100%; height:100%;
        
}

/* 양쪽 퀵메뉴 */
.quick1_wrap {position:fixed; z-index:1; left:50%;}
.quick1_box  {position:absolute; left:-900px; top:300px; display: block; z-index:1; width:300px; height:480px; background:linear-gradient(#ba00ff 0%,  #56137d 100%); border-radius:10px; border:solid 3px #c545ff; box-shadow:0px 0px 20px rgba(0,0,0,0.8); overflow:hidden;}
.quick1      {float:left; width:100%; }
.quick1 table{margin:0 0 0 15px;}
.quick1 td   {line-height:18px; font-family:'nanumgothic', sans-serif; font-size:14px; letter-spacing:-1px; font-weight:400; color:#ffffff; font-weight:700; border-bottom:solid 1px rgba(255,255,255,0.2); padding:3px 0 6px 0;}
.quick1_title {float:left; width:100%; text-align:center; margin:20px 0 10px 0;}

.quick2_wrap {position:fixed; z-index:1; left:50%;}
.quick2_box  {position:absolute; left:600px; top:300px; display: block; z-index:1; width:300px; height:480px; background:linear-gradient(#ba00ff 0%,  #56137d 100%); border-radius:10px; border:solid 3px #c545ff; box-shadow:0px 0px 20px rgba(0,0,0,0.8); overflow:hidden;}
.quick2      {float:left; width:100%; }
.quick2 table{margin:0 0 0 15px;}
.quick2 td   {line-height:18px; font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:400; color:#ffffff; font-weight:700; border-bottom:solid 1px rgba(255,255,255,0.2); padding:3px 0 6px 0;}
.quick2_title {float:left; width:100%; text-align:center; margin:20px 0 10px 0;}

.quick11_wrap {position:fixed; z-index:1; left:50%;}
.quick11_box  {position:absolute; left:-900px; top:720px; display: block; z-index:1; width:300px; height:130px; background:linear-gradient(#5a5a5a 0%,  #333333 100%); border-radius:10px; border:solid 3px #737373; box-shadow:0px 0px 20px rgba(0,0,0,0.8); overflow:hidden;}
.quick11      {float:left; margin:20px 0 0 30px;}
.quick11 ul li {line-height:40px; font-family:'nanumgothic', sans-serif; font-size:20px; letter-spacing:-1px; font-weight:400; color:#ffffff; font-weight:700;}

.quick22_wrap {position:fixed; z-index:1; left:50%;}
.quick22_box  {position:absolute; left:600px; top:720px; display: block; z-index:1; width:300px; height:130px; background:linear-gradient(#5a5a5a 0%,  #333333 100%); border-radius:10px; border:solid 3px #737373; box-shadow:0px 0px 20px rgba(0,0,0,0.8); overflow:hidden;}
.quick22      {float:left; margin:20px 0 0 30px;}
.quick22 ul li {line-height:40px; font-family:'nanumgothic', sans-serif; font-size:20px; letter-spacing:-1px; font-weight:400; color:#ffffff; font-weight:700;}

.quick_font1 {color:#ffffff;font-weight:600; font-size:14px; font-family:'nanumgothic', sans-serif;}
.quick_font2 {color:#efc4ff;font-weight:900; font-size:14px; font-family:'nanumgothic', sans-serif;}
.quick_font3 {color:#ffba00;font-weight:600; font-size:14px; font-family:'nanumgothic', sans-serif;}
.quick_font4 {color:#00ffea;font-weight:900; text-shadow:1px 1px 1px rgba(0,0,0,0.6);}
.quick_font5 {color:#f6ff00;font-weight:900; text-shadow:1px 1px 1px rgba(0,0,0,0.6);}

/* 비주얼 잭팟 등... 레이어상태들 */
.visual_text_wrap {position:absolute; z-index:1; left:50%;}
.visual_text_box  {position:absolute; left:-370px; top:560px; display: block; z-index:1;}
.visual_text      {float:left; width:700px; }
.visual_text ul li     {float:left;}
.visual_text2 {float:left; width:400px; height:70px; line-height:70px; background:url("../images/visual_text2.png") center top no-repeat; background-size:100% 100%; font-size:38px; color:#ffffff; font-weight:bold; font-family:Arial; letter-spacing:-1pt; text-align:center; font-style:italic; text-shadow:1px 1px 1px rgba(0,0,0,0.8);}

/* 룰렛이벤트 */
.roulette_wrap {float:left; width:100%; text-align:center; margin:60px 0 0 0;}
.roulette_box {margin:0px auto; width:600px; height:600px; position:relative;}
.roulette_pin {width:50px; position: absolute; z-index:1; top:-40px; left:268px;}

/*-------------------------------------------------------------------------------------*
 *  Style                                                                              *
 *-------------------------------------------------------------------------------------*/
/* 폰트 스타일 */
.font01 {color:#ffffff; font-weight:600;}
.font02 {color:#000000; font-weight:600;}
.font03 {color:#ffd200;}
.font04 {color:#f4d9bc;font-weight:600;}
.font05 {color:#ffce00;font-weight:600;}
.font06 {color:#ffc000;font-weight:900;}
.font07 {color:#ffa410;font-weight:600;}
.font08 {color:#e3cfba;font-weight:600;}
.font09 {
    color: #e3cfba;
    font-weight: 600;
}
.font10 {color:#f44f8d;font-weight:600;}

.font11 {color:#ffffff; font-size:16px; font-family:'nanumgothic', sans-serif; text-shadow:1px 1px 1px #000000;}
.font12 {color:#f2e07b; font-weight:900; font-size:22px;line-height:35px; font-family:'Noto Sans KR', sans-serif; text-shadow:1px 1px 1px #000000;}
.font13 {color:#b0977f;font-weight:900;}
.font14 {color:#818fa0;}
.font15 {
    color: #818fa0;
    font-weight: 900;
}

/* 인풋 스타일 */
.out_input_login  {background-color:#2b2230; border:1px solid #2b2230;  width:100%; height:50px; color:#ffffff; border-radius:3px;  padding:0 0 0 15px; font-size:16px; font-family:'nanumgothic', sans-serif; }
.input1           {background-color:#2b2230; border:1px solid #000000; padding:0 0 0 10px; height:35px; color:#ffffff;}
.input2           {background-color:#2b2230; border:1px solid #000000; padding:0 0 0 10px; color:#ffffff;}

/*-------------------------------------------------------------------------------------*
 *  마우스 오버                                                                        *
 *-------------------------------------------------------------------------------------*/
.mouseover1{
	animation-name: mouseover1;
	-webkit-animation-name: mouseover1;	

	animation-duration: 0.4s;	
	-webkit-animation-duration: 0.4s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;	
}

@keyframes mouseover1 {
	0% {
		transform: scale(1.1);
	}		
	100% {
		transform: scale(1);
	}			
}

@-webkit-keyframes mouseover1 {
	0% {
		-webkit-transform: scale(1.1);	
	}		
	100% {
		-webkit-transform: scale(1);
	}					
}
.noticecontent {background-color:transparent; width:500px;left:250px;}
.noticebox  {background-color:#000000ee; border: 5px solid #044bb6; border-radius:10px; padding:40px; position:relative; font-size: 16px;
    color: #ffffff;
    margin: 0 0 0 0;
    font-family: nanumgothic,Dotum, Arial, Helvetica, sans-serif;
    letter-spacing:  -1px;
    line-height: 28px;
    font-weight: 400;}
.noticefooter  {font-size: 18px;border-top: 0 none;
    font-family: nanumgothic,Dotum, Arial, Helvetica, sans-serif;}