@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(http://fonts.googleapis.com/earlyaccess/NotoSanskr.css); 
@import url(http://fonts.googleapis.com/earlyaccess/nanumsquare.css); 

#wrap {float:left; width:100%; overflow-x:hidden; background:url("../images/bg2.jpg") center top no-repeat; background-size:cover;}
* {box-sizing: border-box;	-ms-box-sizing: border-box;	-webkit-box-sizing: border-box;}

/*-------------------------------------------------------------------------------------*
 *  Header                                                                             *
 *-------------------------------------------------------------------------------------*/
#header_wrap {float:left; width:100%;}
.top {float:left; width:100%; height:70px; background:url("../images/bg_top.jpg?v=2") center top no-repeat;}
.m_logo {float:left; line-height:70px; margin:0 5px 0 5px;}
.m_menu {float:right; line-height:70px; margin:0 5px 0 5px;}

.my_wrap  {float:left; width:100%; height:40px; background:#003c43; padding:0 5px 0 5px;}
.my       {float:left; width:100%; height:40px; line-height:40px;}
.my_left  {float:left; color:#fff}
.my_right {float:right; color:#fff}

.login {float:left; width:100%; background:#001831; padding:5px 3px 5px 5px; border-bottom:solid 1px rgba(0,0,0,0.7); border-top:solid 1px rgba(0,0,0,0.7); z-index:1;}
.login ul li {float:left; padding:0 2px 0 0}
.login_btn01 {width:100%; background:linear-gradient(to right, #00dad2 0%,  #008aca 100%); height:35px; line-height:35px;  color:#fff; display:inline-block;  text-align:center; font-weight:600; border-radius:3px;}
.login_btn02 {width:100%; background:linear-gradient(to right, #6b6b6b 0%,  #444444 100%); height:35px; line-height:35px;  color:#fff; display:inline-block;  text-align:center; font-weight:600; border-radius:3px;} 
.input_login  {background-color:#3e3e3e; border:1px solid #3e3e3e;  padding:0 0 0 5px; height:35px;  width:100%; border-radius:3px; color:#c0a67e;  font-size:14px; }

.title_wrap {background:#ffd800; float:left; width:100%; height:50px; box-shadow:1px 3px 10px rgba(0,0,0,0.1);}
.title {width:100%; float:left; height:48px; line-height:48px; font-size:24px; font-weight:600; text-align:center; color:#0a1f58; letter-spacing:-1px;}
.title2 {padding:0 0 0 0; font-size:16px; color:#e5a30b; font-weight:bold; line-height:30px;}

.customer_wrap {float:left; width:100%; padding:5px; }
.customer_tit {float:left; width:100%; line-height:60px; color:#dddddd; font-size:20px; font-weight:600;}
.customer {float:left; width:100%; padding:15px 30px 150px 30px; background:url("../images/bg2.jpg") center center no-repeat;}
.customer ul li {font-family:Aria, sans-serif; color:#ffffff; font-size:20px; font-weight:600; margin:0 0 10px 0}
.customer ul li img {height:30px;} 

.notice_wrap {float:left; width:100%; background:#ff00ea; padding:5px}
.notice_list {margin:0px auto; width:100%;}
.notice_box {float:left; width:100%; height:40px; background:url("../images/top_notice_bg.png") center top no-repeat; background-size:100% 100%; }
.notice_box td {font-family:'nanumgothic', sans-serif; font-weight:700; font-size:14px; color:#ffffff; letter-spacing:-1px; text-shadow:1px 2px 2px rgba(0,0,0,0.3); line-height:40px;}


/*-------------------------------------------------------------------------------------*
 *  Contents                                                                           *
 *-------------------------------------------------------------------------------------*/
#contents_wrap {float:left; width:100%; padding:10px 5px 10px 5px; min-height:300px;}

.con_box00 {float:left; width:100%; margin:0 0 0 0;}
.con_box05 {float:left; width:100%; margin:5px 0 0 0;}
.con_box10 {float:left; width:100%; margin:10px 0 0 0;}
.con_box15 {float:left; width:100%; margin:15px 0 0 0;}
.con_box20 {float:left; width:100%; margin:20px 0 0 0;}
.con_box25 {float:left; width:100%; margin:25px 0 0 0;}
.con_box30 {float:left; width:100%; margin:30px 0 0 0;}
.con_box35 {float:left; width:100%; margin:35px 0 0 0;}
.con_box40 {float:left; width:100%; margin:40px 0 0 0;}
.con_box45 {float:left; width:100%; margin:45px 0 0 0;}
.con_box50 {float:left; width:100%; margin:50px 0 0 0;}
.con_box60 {float:left; width:100%; margin:60px 0 0 0;}


/*-------------------------------------------------------------------------------------*
 *  Footer                                                                             *
 *-------------------------------------------------------------------------------------*/
.footer_wrap {float:left; width:100%; text-align:center; padding:15px 0 15px 0; color:#4db5c1; background:url("../images/bg_top.jpg") center top no-repeat; background-size:cover;}


/*-------------------------------------------------------------------------------------*
 *  Main                                                                               *
 *-------------------------------------------------------------------------------------*/
.main_game_wrap {float:left; width:100%; background:url("../images/main_game_bg.jpg?v=2"); padding:10px 0 10px 0;}
.main_game_box {margin:0px auto; width:100%;}

.main_best_wrap {float:left; width:100%; background:#ffd800; padding:0 0 20px 0;}
.main_best_box {margin:0px auto; width:100%; min-height:300px; background:url("../images/bg_best.jpg") center top no-repeat;}
.main_best_title {float:left; width:100%; text-align:center; margin:15px 0 3px 0;}

.jackpot_wrap {width:100%; height:120px; float:left; background:url(../images/bg2.jpg) center center no-repeat; background-size:cover; text-align:center; border-bottom:3px solid #ffd800;} 
.jackpot { font-family:'nanumsquare', sans-serif; padding:15px 0 0 0; font-size:3em; letter-spacing:-1px; font-weight:900; color:#ffd100; text-shadow:1px 2px 2px rgba(0,0,0,0.5);}

/*-------------------------------------------------------------------------------------*
 *  팝업, 탭 (sk_tab)                                                                  *
 *-------------------------------------------------------------------------------------*/
.popup_tab_wrap          {width:100%;}
.popup_tab               {float:left; width:100%; background:rgba(0,0,0,0.2); }
.popup_tab li            {float:left; width:50%; border-right:solid 1px rgba(255,255,255,0.05);}
.popup_tab li span       {display:inline-block; width:100%; height:40px; line-height:40px; font-family:'nanumgothic', sans-serif; font-size:12px; text-align:center; font-weight:600;}
.popup_tab li span:hover {display:inline-block; width:100%; height:40px; line-height:40px; font-family:'nanumgothic', sans-serif; font-size:12px; text-align:center; font-weight:600;}

/* 입금신청, 출금신청, 머니이동, 쿠폰신청, 콤프신청, 이벤트, 공지사항 */
.sk_tab_active_01 span   {color:#ffffff; background:linear-gradient(#bfa86f 0%,  #84734d 100%);}
.sk_tab_con_01           {display:block; clear:both;}
.sk_tab_hidden_01        {display:none;}

/* 마이페이지, 정보수정, 입금/출금내역, 지인친구목록, 출석체크목록, 머니이동목록, 쪽지함 */
.sk_tab_active_02 span   {color:#ffffff; background:linear-gradient(#bfa86f 0%,  #84734d 100%);}
.sk_tab_con_02           {display:block; clear:both;}
.sk_tab_hidden_02        {display:none;}

/* 게임이용방법 */
.sk_tab_active_04 span   {color:#ffffff; background:linear-gradient(#bfa86f 0%,  #84734d 100%);}
.sk_tab_con_04           {display:block; clear:both;}
.sk_tab_hidden_04        {display:none;}

/* 카지노보유머니, 슬롯보유머니 */
.sk_tab_active_00 span   {display:inline-block; width:140px; height:40px; line-height:38px; color:#ffffff; text-align:center; font-weight:600; background:linear-gradient(#00dad2 0%,  #0098b9 100%);}
.sk_tab_con_00           {display:block; clear:both;}
.sk_tab_hidden_00        {display:none}

/* 슬롯 세부리스트 */
.s_game {float:left; width:100%;margin:10px 0 0 0}
.s_game ul li {float:left;padding:0 2px 4px 2px; width:33.3333%; text-align:center }
.s_game ul li a {width:100%; height:100%; display:inline-block; background:url(../images/m_slot_bg.png) no-repeat; padding:10px 0 0 0; background-size:cover}
.s_game ul li span img{width:100%;}
.slogo{ margin:0 0 10px 0} 
.slot_list {float:left; width:100%; margin:10px 0 0 0; }
.slot_list table tr td table tr td {background:rgba(0,0,0,0.4); text-align:center;}
.slot_list table tr td table tr td div {font-weight:600; color:#fff}
.slot_list table tr td table tr td img {}
.slot_list table tr td table tr td:nth-child(1),
.slot_list table tr td table tr td:nth-child(3),
.slot_list table tr td table tr td:nth-child(5),
.slot_list table tr td table tr td:nth-child(7){background:none}

/* 게임리스트 리스트 */
.game_tit {width:100%; float:left; margin:0 0 10px 0;}
.game_list_wrap {float:left; width:100%;}
.game_list_wrap ul li {float:left; width:33.3333333333%; padding:0 1px 2px 1px; position:relative;}
.game_list_wrap ul li a img {width:100%;}

/* 점검중 */
.check {float:left; width:100%; height:100%; background:rgba(0,0,0,0.8); position:absolute; z-index:1; text-align:center; font-size:12px; letter-spacing:-1px; font-weight:400; color:#ffffff; line-height:18px; padding:10px 0 0 0;
top:0px; left:0px; border-radius:0px;}


/*-------------------------------------------------------------------------------------*
 *  박스스타일                                                                         *
 *-------------------------------------------------------------------------------------*/
/* 콤프신청 */
.box_wrap01    {background:rgba(0,0,0,0.5); border:1px solid rgba(0,0,0,0.6); padding:6px; float:left; width:100%; }
.box_box01     {background:rgba(0,0,0,0.3); float:left; width:100%; padding:10px 0 10px 0; text-align:center;} 
.box_font01    {float:left; width:100%; line-height:40px; font-weight:600; color:#dddddd; padding:0 0 0 0; font-size:18px; letter-spacing:-1px; font-family:'nanumsquare', sans-serif;}
.box_font02    {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#ffc000; letter-spacing:-1px; font-size:16px;  font-weight:900; font-family:Arial, sans-serif; letter-spacing:-1pt;}

/* 마이페이지 카지노 로고 박스, 출석체크수 */
.box_wrap02    {background:#005963; border:1px solid rgba(0,0,0,0.4); padding:1px; float:left; width:33.333333%; cursor:pointer; position:relative;}
.box_wrap02_on {background:rgba(0,0,0,0.4); border:solid 1px #ffd100; padding:1px;}
.box_box02     {background:#003e45; float:left; width:100%; padding:5px 0 5px 0; text-align:center;} 
.box02         {float:left; width:100%; line-height:34px; font-weight:600; color:#dddddd; padding:0 0 0 0; font-size:14px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}
.box022        {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#ffffff; letter-spacing:-1px; font-size:11px;  font-weight:900;font-family:'nanumgothic', sans-serif;  letter-spacing:0pt;}

/* 머니이동 */
.box_wrap03    {background:rgba(0,0,0,0.5); border:1px solid rgba(0,0,0,0.6); padding:6px; float:left; width:100%; }
.box_box03     {background:rgba(0,0,0,0.3); float:left; width:100%; padding:5px 0 5px 0; text-align:center;} 
.box03         {float:left; width:100%; line-height:40px; font-weight:400; color:#dddddd; padding:0 0 0 0; font-size:14px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}

.money  {background:rgba(0,0,0,0.5); border:1px solid rgba(0,0,0,0.1); float:left; width:100%; text-align:center; padding:7px 0 7px 0;}
.money li { display:inline-block; padding:0 10px 0 10px; font-size:14px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif; line-height:30px;}


/*-------------------------------------------------------------------------------------*
 *  특별한                                                                             *
 *-------------------------------------------------------------------------------------*/
/* 외부로그인 */
.out_login_wrap  {float:left; width:100%; height:100vh; background:url("../images/bg1.jpg"); padding:70px 0 0 0}
.out_login_box_wrap {width:320px; margin:0px auto;}
.out_login_tit {width:100%; float:left; text-align:center; position:relative;}
.out_login {width:100%; float:left; margin:40px 0 50px 0;}
.out_login_table {width:100%}
.out_login_td1 {width:100%; padding:0 0 5px 0}
.out_login_td2 {width:100%; padding:0 0 10px 0}
.out_login_td3 {width:100%; padding:0 0 10px 0}
.out_login_btn1 {width:100%; height:60px; line-height:60px; color:#e7d2b3; font-weight:600; font-size:20px; letter-spacing:-1px; text-align:center; display:inline-block; background:linear-gradient( #7f614a 0%,  #432e20 100%);  font-family:nanumgothic; }
.out_login_btn1:hover {background:linear-gradient(#937258 0%, #543928 100%);}
.out_input_login  {background-color:#222222; border:1px solid #000000; width:100%; height:50px; color:#ffffff; border-radius:3px;  padding:0 0 0 10px; font-size:16px;}

/* 공지팝업 */
.notice_popup1 {position:absolute; z-index:1000000000; top:80px; left:0px;}
.notice_popup2 {position:absolute; z-index:1000000000; top:80px; left:0px;}
.notice_popup_wrap {float:left; width:100%; padding:20px;}
.notice_popup_btn_wrap {float:right;}
.notice_popup_btn_wrap ul li {float:left; margin:0 0 0 5px;}
.notice_popup_btn {float:right; background:#6421d4; min-width:60px; height:36px; line-height:40px; padding:0 15px 0 15px; text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#ffffff; font-size:12px; font-weight:600;}
.notice_popup_box {float:left; width:100%; background:#000000; border:5px solid #6421d4; background:url("../images/bg1.jpg") center top no-repeat; background-size:cover;}
.notice_popup_text {float:left; width:100%; padding:20px;}
.notice_popup_font1 {float:left; width:100%; font-family:'nanumsquare', sans-serif; font-size:22px; letter-spacing:-1px; font-weight:700; color:#f2ddc0; line-height:40px;}
.notice_popup_font2 {float:left; width:100%; font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:400; color:#d4d4d4; line-height:28px;}

/* 로딩중 */
.loding_wrap {float:left; width:100%; height:100vh; background:url("../images/bg_loding.jpg") center top no-repeat; background-size:cover;}
.loding {float:left; width:100%; line-height:40px; font-family:'nanumsquare', sans-serif; font-size:18px; letter-spacing:-1px; font-weight:700; color:#ffffff; margin:120px 0 0 0; text-align:center;}

/* top ▲ */
.go-top {position:fixed; display:block; width:40px; height:40px; line-height:40px; text-align:center; font-size:30px; bottom:-40px; left:20px; background:linear-gradient(to right, #0096a8 0%,  #006874 100%); color:#ffffff; border-radius:40px; z-index:999;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;}
.go-top.show{bottom:10px;}
.go-top:hover{background:#000000; color:#3b1162;}

/* 룰렛 */
.roulette_wrap {float:left; width:100%; text-align:center; margin:50px 0 0 0;}
.roulette_box {margin:0px auto; width:320px; height:320px; position:relative;}
.roulette_pin {width:30px; position: absolute; z-index:1; top:-25px; left:145px;}




/*-------------------------------------------------------------------------------------*
 *  슬라이드                                                                             *
 *-------------------------------------------------------------------------------------*/
.jssorl-004-double-tail-spin img {
	animation-name: jssorl-004-double-tail-spin;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;stroke:#000;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}












