@charset "utf-8";
.navigation-btn{
    display: none;
}
.slideout-wrapper {
    display: none;
}
@media only screen and (max-width: 1480px) {
    .navigation {
        display: none;
    }
    .navigation-btn {
        display: block;
    }
    .navigation.active {
        display: block;
    }
}
@media only screen and (min-width: 1480px) {
    .slideout-wrapper:visible {
        display: none;
    }
}