@charset "utf-8";
.navigation-btn{
    display: none;
}
.slideout-wrapper {
    display: none;
}
@media only screen and (max-width: 1480px) {
    .navigation {
        display: none;
    }
    .navigation-btn {
        display: block;
    }
    .navigation.active {
        display: block;
    }

    .quick-btn{
        display: none;
    }
}
@media only screen and (min-width: 1480px) {
    .slideout-wrapper:visible {
        display: none;
    }
}
.jssorb051 .i {
    position: absolute;
    cursor: pointer;
}

.jssorb051 .i .b {
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #000;
    stroke-width: 400;
    stroke-miterlimit: 10;
    stroke-opacity: 0.5;
}

.jssorb051 .i:hover .b {
    fill-opacity: .7;
}

.jssorb051 .iav .b {
    fill-opacity: 1;
}

.jssorb051 .i.idn {
    opacity: .3;
}

.jssora051 {
    display: block;
    position: absolute;
    cursor: pointer;
}

.jssora051 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 360;
    stroke-miterlimit: 10;
}

.jssora051:hover {
    opacity: .8;
}

.jssora051.jssora051dn {
    opacity: .5;
}

.jssora051.jssora051ds {
    opacity: .3;
    pointer-events: none;
}

.bgfull {
    background-size: 200% 100%;
}