.Login_login__jJiFM {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex: 1 1
}

.Login_login-inner__7baKk {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 100px 0 105px;
    width: 1200px
}

.Login_login-box__CCfEx {
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    padding: 52px 60px;
    width: 400px
}

.Login_login-box__CCfEx .Login_login-box__title__puLxQ {
    color: #1c2028;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-top: 1px;
    text-align: center
}

.Login_login-box__CCfEx .Login_login-box__notice__gUhhQ {
    color: #707882;
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
    text-align: center
}

.Login_login-box__CCfEx .Login_login-box-safe-link__jGaQP {
    margin-top: 8px;
    text-align: center
}

.Login_login-box__CCfEx .Login_login-box-safe-link__jGaQP .Login_login-box-safe-link__text__iZWga {
    background-color: #f8f9fa;
    border-radius: 18px;
    color: #707882;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    min-width: 240px;
    vertical-align: top
}

.Login_login-box__CCfEx .Login_login-box-safe-link__jGaQP .Login_login-box-safe-link__text__iZWga:before {
    background: url(/frontend/bithumb/react/static/741626d1/media/ico-login-safe.6056bca88ff234eebaee.svg) no-repeat 0 0;
    background-size: 10px 12px;
    content: "";
    display: inline-block;
    height: 12px;
    margin: 12px 6px 0 0;
    vertical-align: top;
    width: 10px
}

.Login_login-box__CCfEx .Login_login-box-safe-link__jGaQP .Login_login-box-safe-link__text__iZWga .Login_login-box-safe-link__text-green__qzilU {
    color: #3cb4c3
}

.Login_login-box__CCfEx .Login_login-box-toggle__msFxl {
    margin-top: 46px;
    text-align: right
}

.Login_login-box__CCfEx .Login_login-box-toggle__msFxl .Login_login-box-toggle__button__gBfTc {
    color: #93989e;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    text-decoration: underline;
    vertical-align: top
}

.Login_login-box__CCfEx .Login_login-box-link__0elZW {
    margin-top: 20px;
    text-align: center
}

.Login_login-box__CCfEx .Login_login-box-link__0elZW .Login_login-box-link__button__Vqr5f {
    color: #707882;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    margin: 0 14px;
    position: relative;
    text-decoration: none;
    white-space: nowrap
}

.Login_login-box__CCfEx .Login_login-box-link__0elZW a:before {
    background-color: #dadde1;
    content: "";
    height: 12px;
    left: -14px;
    position: absolute;
    top: 5px;
    width: 1px
}

.Login_email-login-box__osFqJ,
.Login_login-box__CCfEx .Login_login-box-link__0elZW a:first-child:before {
    display: none
}

.Login_email-login-box__osFqJ.Login_active__BwVQb {
    display: block
}

.Login_phone-login-box__wjb-N {
    display: none
}

.Login_phone-login-box__wjb-N.Login_active__BwVQb {
    display: block
}

.BlockAccount_modal-alert__Q4skr .BlockAccount_modal-alert-content__sIcSI {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 148px;
    padding: 28px 0
}

.BlockAccount_modal-alert__Q4skr .BlockAccount_modal-alert-content__sIcSI .BlockAccount_modal-alert-content__title__aip0g {
    color: #1c2028;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.BlockAccount_modal-alert__Q4skr .BlockAccount_modal-alert-content__sIcSI .BlockAccount_modal-alert-content__title__aip0g+.BlockAccount_modal-alert-content__text-box__iBe8W {
    padding-top: 8px
}

.BlockAccount_modal-alert__Q4skr .BlockAccount_modal-alert-content__sIcSI .BlockAccount_modal-alert-content__title__aip0g+.BlockAccount_modal-alert-content__text-box__iBe8W .BlockAccount_modal-alert-content__text__2n0Mt {
    color: #707882;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px
}

.BlockAccount_modal-alert__Q4skr .BlockAccount_modal-alert-content__sIcSI .BlockAccount_modal-alert-content__text__2n0Mt {
    word-wrap: break-word;
    color: #1c2028;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    word-break: keep-all
}

.BlockAccount_modal-alert__Q4skr .BlockAccount_modal-alert-bottom__8mwys {
    display: flex;
    margin: 0 -4px;
    padding: 0
}

.BlockAccount_modal-alert__Q4skr .BlockAccount_modal-alert-bottom__8mwys button {
    margin: 0 4px
}

.BlockForeignIp_block-foreign-ip-modal__content__X9LI3 {
    border-radius: 8px;
    margin: -36px -32px 0;
    overflow: hidden;
    padding-top: 4px
}

.BlockForeignIp_block-foreign-ip-modal__img__izw5I {
    width: 100%
}

.BlockForeignIp_block-foreign-ip-modal__button-wrap__if7md {
    display: flex;
    margin: 0 -4px;
    padding: 0
}

.BlockForeignIp_block-foreign-ip-modal__button__naeAe {
    margin: 0 4px
}

.Email_email-login__8dh4q {
    display: none;
    margin-top: 6px
}

.Email_email-login__8dh4q.Email_email-login--active__3H6y3 {
    display: block
}

.Email_email-login__8dh4q .Email_email-login__input-row__DtUPe+.Email_email-login__input-row__DtUPe {
    margin-top: 28px
}

.Email_email-login__8dh4q .Email_email-login__button__iNWDk {
    display: flex;
    margin-top: 40px
}

.Email_captcha__fYujw .Email_captcha-google__z9dmz {
    margin: 40px auto 0;
    width: 304px
}

.Email_captcha__fYujw .Email_captcha-google__z9dmz .Email_captcha-google__error-text__fDevJ {
    color: #f03232;
    font-size: 12px;
    line-height: 18px;
    margin: 8px 0 -4px
}

.Email_captcha__fYujw .Email_captcha-custom__D3xcL {
    margin: 36px auto 0;
    width: 300px
}

.Email_captcha__fYujw .Email_captcha-custom__D3xcL .Email_captcha-custom__text__VDX3S {
    color: #707882;
    font-size: 13px;
    line-height: 20px
}

.Email_captcha__fYujw .Email_captcha-custom__D3xcL .Email_captcha-custom-box__1eXBx {
    border: 1px solid #dadde1;
    display: flex;
    height: 54px;
    margin-top: 9px
}

.Email_captcha__fYujw .Email_captcha-custom__D3xcL .Email_captcha-custom-box__1eXBx .Email_captcha-custom-box__img__FOskM {
    width: 197px
}

.Email_captcha__fYujw .Email_captcha-custom__D3xcL .Email_captcha-custom-box__1eXBx .Email_captcha-custom-box__button__ZwCjN {
    border-left: 1px solid #dadde1;
    color: #93989e;
    font-size: 13px;
    line-height: 21px;
    width: 102px
}

.Email_captcha__fYujw .Email_captcha-custom__D3xcL .Email_captcha-custom-box__1eXBx .Email_captcha-custom-box__button__ZwCjN:before {
    background: url(/frontend/bithumb/react/static/741626d1/media/ico-login-refresh.18ca647173dc985c35f7.svg) no-repeat 0 0;
    background-size: 20px 20px;
    content: "";
    display: inline-block;
    height: 20px;
    margin-right: 3px;
    vertical-align: top;
    width: 20px
}

.Email_captcha__fYujw .Email_captcha-custom__D3xcL .Email_captcha--custom__error-text__z1tZW {
    color: #f03232;
    font-size: 12px;
    line-height: 18px;
    margin: 8px 0 -4px
}

.Phone_phone-login__DR2F- {
    display: none;
    margin-top: 6px
}

.Phone_phone-login__DR2F-.Phone_phone-login--active__lyp-0 {
    display: block
}

.Phone_phone-login__DR2F- .Phone_phone-login__input-title__N47fl {
    color: #707882;
    font-size: 13px;
    line-height: 20px
}

.Phone_phone-login__DR2F- .Phone_phone-login__input-row__0kBP2 {
    margin-top: 28px
}

.Phone_phone-login__DR2F- .Phone_phone-login__input-row--phone__hHeDD {
    display: flex
}

.Phone_phone-login__DR2F- .Phone_phone-login__nation-select__6E74A {
    border-bottom: 1px solid #dadde1;
    height: 47px;
    width: 84px
}

.Phone_phone-login__DR2F- .Phone_phone-login__phone-num__qNg30 {
    margin-left: 12px;
    width: 192px
}

.Phone_phone-login__DR2F- .Phone_phone-login-confirm__DfDxO {
    display: flex;
    margin-left: 12px;
    width: 100px
}

.Phone_phone-login__DR2F- .Phone_phone-login-confirm__DfDxO .Phone_phone-login-confirm__request-time__7KH-w {
    color: #d7d8d9;
    display: block;
    font-size: 10px;
    line-height: 12px
}

.Phone_phone-login__DR2F- .Phone_phone-login-confirm__DfDxO>button {
    font-size: 14px
}

.Phone_phone-login__DR2F- .Phone_phone-login__confirm-time__ZhLgf {
    color: #f03232;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-right: 4px;
    min-width: 45px;
    padding: 13px 0;
    text-align: right;
    width: 45px
}

.Phone_phone-login__DR2F- .Phone_phone-login__button__6GjH5 {
    display: flex;
    margin-top: 40px
}

.SecondAuth_auth__E1gtp {
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    padding: 72px 60px 52px;
    text-align: center;
    width: 400px
}

.SecondAuth_auth__E1gtp .SecondAuth_auth__title__pwaqK {
    color: #1c2028;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px
}

.SecondAuth_auth__E1gtp .SecondAuth_auth__notice__hGjbG {
    color: #3d414b;
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
    min-height: 42px
}

.SecondAuth_auth__E1gtp .SecondAuth_auth__notice__hGjbG.SecondAuth_auth__notice--error__sd-Z7 {
    color: #f03232
}

.SecondAuth_auth__E1gtp .SecondAuth_auth__phone-verify__ggXFs {
    margin: 44px 0 0
}

.SecondAuth_auth__E1gtp .SecondAuth_auth__input-row__\+CjP9 {
    margin: 44px auto 0;
    width: 320px
}

.SecondAuth_auth__E1gtp .SecondAuth_auth__button__NQzZl {
    display: flex;
    margin: 112px 0 0
}

.SecondAuth_auth__E1gtp .SecondAuth_auth__alternative__Ww8R0 {
    margin: 20px 0 0
}

.AlternativeAuth_alternative-auth__NN60F {
    padding: 0 20px
}

.AlternativeAuth_alternative-auth__NN60F .AlternativeAuth_alternative-auth__button__PMHK7 {
    color: #acb0b4;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    position: relative
}

.AlternativeAuth_alternative-auth__NN60F .AlternativeAuth_alternative-auth__button__PMHK7:after {
    background: url(/frontend/bithumb/react/static/741626d1/media/ico-login-link-arrow.9c82199b18602ae63aa4.svg) no-repeat 0 0;
    background-size: 20px 20px;
    content: "";
    display: inline-block;
    height: 20px;
    position: absolute;
    vertical-align: top;
    width: 20px;
    z-index: 1
}

.AstxLoading_astx-loading__xpuzd {
    padding: 60px 0 26px
}

.AstxLoading_astx-loading__xpuzd .AstxLoading_astx-loading__title__d0QHi {
    color: #1c2028;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.AstxLoading_astx-loading__xpuzd .AstxLoading_astx-loading__text__oD\+4B {
    color: #707882;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px
}

.AstxLoading_astx-loading__xpuzd .AstxLoading_astx-loading__loading-box__3R-51 {
    margin-top: 28px
}

.SecurityProgram_security-program__FaaIo {
    margin: 15px auto -37px;
    text-align: right;
    width: 520px
}

.SecurityProgram_security-program__checkbox__V7aET label {
    margin-right: 8px
}