@charset "utf-8";
html {font-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textare a,button,select{margin:0;padding:0}
ul,ol,dl,li,dd,dt {list-style:none;}
body {height:100%; line-height: 1; font-size:13px; background-color: #222121; font-family: 'NTS_L',Sans-serif;}
img,fieldset,iframe,button {border:none; outline: none;}
i,em,address{font-style:normal;}
button,label{cursor:pointer}
table {border-collapse:collapse; border-spacing:0; vertical-align:middle;}
input,select,button,textarea{vertical-align:middle; border: 0; outline: none; color:#222; font-family: 'NTS_L',Sans-serif;}
input:focus,textarea:focus {outline:none}
a:link, a:visited, a:hover, a:active {text-decoration:none;}


/********************************************************
■ index : 첫화면
********************************************************/
.ibg {width: 100%; height: 100%; background-image: url('/back/img/bg.jpg');background-size: cover;}
.login_warp {position: absolute;left: 50%;top: 200px;width: 340px;margin-left: -180px;animation:index 3s ease-in-out;-webkit-animation:index 3s ease-in-out;}
.login_warp h2 {margin-bottom: 20px; text-align: center; animation:index_logo 2s infinite ease-in-out; -webkit-animation:index_logo 2s infinite ease-in-out;}
.login_warp h2 img {width: 100%;}

.lg_notice {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700 !important;
    box-shadow: 3px 3px 10px #000;
}
.lg_box {display: none;position: relative;padding: 20px 20px 10px 20px;background:url(../img/userform-bg.png);border-radius: 3px;-webkit-border-radius: 10px;box-shadow:1px 1px 3px #000;border: 1px solid rgba(255, 255, 255, 0.2);background-repeat: round;}
.lg_box.on {display: block;}
.lg_box .login {display: block;}
.lg_box .login .lg_id {position: relative; line-height: 46px;height: 46px; margin-bottom: 10px; border: 1px solid #777; background-color: #eee; border-radius: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;}
.lg_box .login .lg_pw {position: relative; line-height: 46px;height: 46px; margin-bottom: 10px; border: 1px solid #777; background-color: #eee; border-radius: 20px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;}

.capcha_id {float:right;width:140px; line-height: 46px;height: 46px; margin-bottom: 10px; border: 1px solid #333; background-color: #ddd; border-radius: 50px; -webkit-border-radius: 50px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;}
.capcha_id .input_type {width: 120px; line-height: 40px;height: 40px; margin: 0 20px; background: none; color: #000; font-size: 16px;}

.lg_box .login .input_type {width: 240px; line-height: 46px;height: 46px; margin: 0 20px; background-color: transparent; color: #000; font-size: 16px; }
.lg_box .btlogin {width: 100%; background-color: #022a6d; color: #fff;}
.lg_box .btlogin:hover {background-color: #015475;}
.lg_box .btjoin {background-color: #262a35; color: #fff;}
.lg_box .btjoin:hover {background-color: #37404f;}
.lg_box .lg_bt {display: block; line-height: 48px; margin-bottom: 10px; font-size: 16px; text-align: center; letter-spacing: -0.5px; outline: 0; border-radius: 20px; cursor: pointer; transition:all .3s ease-out; -webkit-transition:all .3s ease-out; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)}

.code_box {display: none; position: relative; padding: 10px 10px 3px 10px; background-color:#fff; border: 1px solid #271b14; border-radius: 20px;border: 1px solid rgba(255, 255, 255, 0.2); background:url(../img/userform-bg.png);}
.code_box.on {display: block;}
.code_box .code {display: block;}
.code_box .code .lg_code {position: relative; line-height: 46px; margin-bottom: 10px; border: 1px solid #777; background-color: #fff; border-radius: 30px;box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5) inset;}
.code_box .code .input_type {width: 240px; line-height: 46px; margin: 0 20px; background-color: transparent; color: #ddd; font-size: 16px;}
.code_box .btok {width: 100%; background-color: #910000; color: #fff;}
.code_box .btok:hover {background-color: #c10000;}
.code_box .btcancel {background-color: #262a35; color: #fff;}
.code_box .btcancel:hover {background-color: #37404f;}
.code_box .lg_bt {display: block; line-height: 46px; margin-bottom: 10px; font-size: 16px; text-align: center; letter-spacing: -0.5px; outline: 0; border-radius: 20px; cursor: pointer; transition:all .3s ease-out; -webkit-transition:all .3s ease-out;}

.help_box {margin-top: 10px; text-align: center; background-color: rgba(28, 22, 22, 0.7); border-radius: 20px; -webkit-border-radius: 20px;}
.help_box a {display: block; padding: 10px 0; color: #fff; font-size: 16px; text-shadow: 0 2px 2px #000;}
.help_box a:hover {text-decoration: underline;}

.vimeo_cover{/* position: fixed; *//* top:0; *//* left:0; *//* width:100%; *//* height:100%; *//* z-index:-1; */}
#vimeo {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: fixed;
    min-width: 0px;
    min-height: 0px;
    width: 1920px;
    height: 1180px;
    left: 0px;
    top: -100px;
    z-index: -11;
}
.joinform-footer {text-align:center;color:#000000;opacity:0.8;margin:20px auto;font-size:11px;}