@charset "utf-8";

#wrap {float:left; width:100%; overflow-x:hidden;}
* {box-sizing: border-box;	-ms-box-sizing: border-box;	-webkit-box-sizing: border-box;}

/*-------------------------------------------------------------------------------------*
 *  Header                                                                             *
 *-------------------------------------------------------------------------------------*/
#header_wrap {float:left; width:100%;}

.top_wrap {float:left; width:100%; height:223px; background:url('../images/bg_top.jpg') center top no-repeat;}
.top1_box {margin:0px auto; width:1400px; position:relative;}
.top2_box {margin:0px auto; width:1400px;}

.gnb_left {float:left; margin:34px 0 0 -93px;}
.gnb_left ul li {float:left; margin:0 5px 0 0;}

.logo {position:absolute; left:50%; top:10px; margin-left:-57px;}

.login {float:right; margin:34px 0 0 0;}
.login ul li {float:left; margin:0 0 0 5px; color:#ffffff; font-size:14px; font-weight:500; letter-spacing:-1px; text-shadow:1px 2px 2px rgba(0,0,0,0.3);}
.input_login  {background-color:#000000; border:1px solid #63582c; padding:4px 0 4px 10px; width:120px; height:40px; border-radius:0px; color:#9c9c9c; font-size:14px; }
.input_login::-webkit-input-placeholder{color:#9c9c9c; font-size:14px;}
.login_btn1         {background:url(../images/btn_header_bg.png) no-repeat center; min-width:115px; min-height:40px; padding:0 7px 0 7px; line-height:40px; display:inline-block; text-align:center; border-radius:0px; color:#ffffff; font-size:14px; letter-spacing:0pt; font-weight:500;}
.login_btn1:hover {background:url(../images/btn_header_bg_hover.png) no-repeat center;}
.login_btn2         {background:url(../images/btn_header_bg.png) no-repeat center; min-width:115px; min-height:40px; padding:0 7px 0 7px; line-height:40px; display:inline-block; text-align:center; border-radius:0px; color:#ffffff; font-size:14px; letter-spacing:0pt; font-weight:500;}
.login_btn2:hover {background:url(../images/btn_header_bg_hover.png) no-repeat center;}

.gnb {width:100%; float:left; text-align:center; margin:100px 0 0 0;}
.gnb ul li {display:inline-block; margin:0 25px 0 25px; font-size:20px; font-weight:400; letter-spacing:0px; text-shadow:2px 1px 4px rgba(0,0,0,0.4);}
.gnb ul li a {color:#ffffe9;}
.gnb ul li a:hover {color:#eacf68;}

.title1 {float:left; width:100%; height:58px; line-height:54px; text-align:center; color:#ffffff; font-size:30px; letter-spacing:-1px; padding:0 15px 0 15px; margin:10px 0 0 0; font-family:'GmarketSans'; font-weight:700; border-bottom:1px solid rgba(255,255,255,0.2); text-shadow:1px 1px 2px rgba(0,0,0,0.5);}

/*-------------------------------------------------------------------------------------*
 *  Contents                                                                           *
 *-------------------------------------------------------------------------------------*/
 .slideshow5_wrap {height:447px !important;}
.main_contents_wrap {float:left; width:100%; min-height:500px; background:url('../images/bg_con.jpg') center top no-repeat; padding:0 0 80px 0;}
.main_contents_box {margin:0px auto; width:1400px;}

.con_box00 {float:left; width:100%; margin:0 0 0 0;}
.con_box10 {float:left; width:100%; margin:10px 0 0 0;}
.con_box20 {float:left; width:100%; margin:20px 0 0 0;}
.con_box30 {float:left; width:100%; margin:30px 0 0 0;}
.con_box40 {float:left; width:100%; margin:40px 0 0 0;}
.con_box50 {float:left; width:100%; margin:50px 0 0 0;}
.con_box60 {float:left; width:100%; margin:60px 0 0 0;}

.game {margin:0 auto; width:100%;}
.game .categorylist {width: 100%;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;margin: 20px auto 10px auto;}
.game .categorylist li {display:inline-block; text-align:center; margin: 3px}
.game .categorylist li img:hover {box-shadow:rgba(54,30,5,0.7) 0 0 30px 0;}

.game {margin:0 auto; width:100%;}
.game .gamelist { float:left; text-align:center; }
.game .gamelist li {display:inline-block; text-align:center; margin: 3px}
.game .gamelist li img {width: 240px;height: 172px;}
.game .gamelist li img:hover {box-shadow:rgba(54,30,5,0.7) 0 0 30px 0;}


.check {float:left; width:320px; height:130px; background:rgba(0,0,0,0.5) url(../images/check.png) center center no-repeat; position:absolute; z-index:10000; text-align:center; font-size:20px; font-family:'GmarketSans'; font-weight:700; color:#f7f7f7; line-height:26px; top:0px; left:0px; padding:45px 0 0 0; text-shadow:1px 5px 5px #000000;}
.check span{color:rgba(200,0,0,0.9);}

/*-------------------------------------------------------------------------------------*
 *  Footer                                                                             *
 *-------------------------------------------------------------------------------------*/
.footer_wrap {float:left; width:100%; text-align:center; background:#0e0e0e;}
.footer_copyright {float:left; width:100%; text-align:center; margin:35px 0 40px 0; line-height:30px; color:#5a5a5a; font-size:16px; font-weight:500; letter-spacing:0px;}


/*-------------------------------------------------------------------------------------*
 *  Main                                                                               *
 *-------------------------------------------------------------------------------------*/
 .con1{float:left; width:70%; margin:89px 0 0 235px;}
 .con1 li{float:left; margin:0 25px 10px 0; perspective:300px;}
.con1 li:last-child{margin:0 0 0 0;}
.con1 li:nth-child(2){float: right;}
.con1 li:nth-child(4){float: right;margin: 0 25px 0 0;}
.con1 li .item{display:block; backface-visibility:hidden; transition:0.3s;}
.con1 li .item.front{position:absolute;transform:rotateY(0deg);}
.con1 li .item.back{transform:rotateY(-180deg);}
.con1 li:hover .item.front{transform:rotateY(180deg);}
.con1 li:hover .item.back{transform:rotateY(0deg);}
.con1 li:hover .item{box-shadow:rgba(164,80,5,0.7) 1px 0 30px;}

.con2{float:left; width:100%; margin:60px 0 0 0; text-align:center;}
.con2 li{display:inline-block; margin:0 30px 0 30px;}

.con3_wrap{float:left; width:100%; margin:50px 0 0 0;}
.con3_box{width:450px; height:240px; float:left; margin:0 25px 0 0;}
.con3_box:last-child{margin:0 0 0 0;}


.main_con_title{height:50px;}
.main_con{height:190px; background:rgba(11,5,2,0.5); padding:20px 10px 10px 10px;}
.main_con td {font-size:16px; line-height:30px; color:#ffffff; font-weight:300; letter-spacing:-1px;}

/* 킹스카지노 한정 코드-하단 공지사항만 있을시 */
.con3_box.alone { margin: 0 auto; float: none; width: 550px;}
.con3_box.alone .main_con_title { width: 100%; text-align: center;}
.con3_box.alone .main_con {
	padding:25px 20px 20px 20px;
	background: rgba(11,5,2,0.75);
	border: 1px solid #000;
	border-radius: 12px 12px;
}
.main_contents_box {
	overflow: hidden;
	background: url(../images/bg_bottom_dior.png?v=1);
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: 100% auto;
	padding-bottom: 70px;
}
.main_contents_wrap { padding-bottom:0 !important;}


/*-------------------------------------------------------------------------------------*
 *  팝업, 탭 (sk_tab)                                                                  *
 *-------------------------------------------------------------------------------------*/
.popup_none      {display:none;}
.popup_wrap_1000 {width:1200px;}
.popup_wrap_1360 {width:1380px;}
.close_box       {width:100%; float:left; text-align:center; padding:35px 0 10px 0;}
.popupbox        {width:100%; float:left; background:#341f07 url("../images/bg2.jpg") center top no-repeat; min-height:400px; border-radius:10px; padding:30px 30px 70px 30px; position:relative; box-shadow:50px 50px 50px rgba(0,0,0,0.8);}


/*-------------------------------------------------------------------------------------*
 *  팝업로그인                                                                         *
 *-------------------------------------------------------------------------------------*/
.popup_wrap_login  {width:400px;}
.popup_box_login    {width:100%; float:left; background:url("../images/bg2.jpg") center top repeat-y; border-radius:10px; padding:30px; position:relative; box-shadow:50px 50px 50px rgba(0,0,0,0.8);}

.popup_login {float:left; width:100%; text-align:center; padding:0 0 25px 0;}
.popup_login ul li { margin:0 0 5px 0; line-height:32px; color:#ffffff; font-size:14px; font-weight:500; letter-spacing:-1px; text-shadow:1px 2px 2px rgba(0,0,0,0.3); text-align:center;}
.input_popup_login  {background-color:#333333; border:1px solid #000000; padding:4px 0 4px 10px; width:340px; height:46px; border-radius:4px; color:#ffffff; font-size:14px; }
.popup_login_btn1         {background:url("../images/btn1.jpg") center top no-repeat; background-size:100% 100%; min-width:340px; min-height:34px; padding:0 15px 0 15px; line-height:46px; display:inline-block; text-align:center; border-radius:4px; color:#ffffff; font-size:12px; letter-spacing:0pt; font-weight:700; text-shadow:1px 1px 1px rgba(0,0,0,0.3); box-shadow:rgba(0,0,0,0.3) 2px 2px 2px -1px;}
.popup_login_btn1:hover {background:url("../images/btn1_h.jpg") center top no-repeat; background-size:100% 100%;}
.popup_login_btn2         {background:url("../images/btn2.jpg") center top no-repeat; background-size:100% 100%; min-width:340px; min-height:34px; padding:0 15px 0 15px; line-height:46px; display:inline-block; text-align:center; border-radius:4px; color:#ffffff; font-size:12px; letter-spacing:0pt; font-weight:700; text-shadow:1px 1px 1px rgba(0,0,0,0.3); box-shadow:rgba(0,0,0,0.3) 2px 2px 2px -1px;}
.popup_login_btn2:hover {background:url("../images/btn2_h.jpg") center top no-repeat; background-size:100% 100%;}


/*-------------------------------------------------------------------------------------*
 *  공지팝업                                                                           *
 *-------------------------------------------------------------------------------------*/
.notice_popup1 {position:absolute; z-index:1000000000; top:150px; left:350px;}
.notice_popup_wrap {float:left; width:450px;}
.notice_popup_btn_wrap {float:right;}
.notice_popup_btn_wrap ul li {float:left; margin:0 0 0 5px;}
.notice_popup_btn {float:right; background:#ba9358; min-width:60px; height:36px; line-height:36px; padding:0 15px 0 15px; text-align:center; display:inline-block; font-family: 'Noto Sans KR', sans-serif; color:#000000; font-size:14px; font-weight:600;}
.notice_popup_box {float:left; width:450px; background:#000000; border:2px solid #ba9358; background:#111111;}
.notice_popup_text {float:left; width:100%;}
.notice_popup_font1 {float:left; width:100%; padding:5px;  font-family: 'Noto Sans KR', sans-serif; font-size:22px; letter-spacing:-1px; font-weight:700; color:#ffffff; line-height:40px;}
.notice_popup_font2 {float:left; width:100%; padding:5px; font-family: 'Noto Sans KR', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:400; color:#d4d4d4; line-height:28px;}
