/* custom */
.parsley-errors-list {
    position: absolute;
}

.parsley-errors-list.filled {
    margin-top: 40px;
    margin-left: -35px;
    list-style: none;
    font-size: 12px;
    font-weight: bolder;
    color: #c90001;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.odometer-value, .odometer-formatting-mark {
    color: #ffffff;
    font-size: 48px;
    font-family: SCDream8;
    text-shadow: 0 4px 3px #000;
}

@media (max-width: 1160px) {
    .odometer-value, .odometer-formatting-mark {
        font-size: 4vw;
    }
}

@media (max-width: 640px) {
    .parsley-errors-list.filled {
        margin-top: 38px;
    }
}

@media (max-width: 414px) {
    .odometer-value, .odometer-formatting-mark {
        font-size: 6vw;
    }
}

.popup_window {
    position: fixed;
    background-color: #fff;
    color: #000000;
    padding: 0;
    display: none;
    z-index: 999;
}

.wrapper_loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1976;
}

.wrapper_loading_img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
}

.level-icon {
    max-width: 28px;
    max-height: 28px;
}

.cursor-pointer, .player-balance {
    cursor: pointer;
}

.form-container .form-group .infos input[readonly] {
    background-color: #4e4e4e;
}

.ajs-dialog {
    text-align: left;
}