@charset "utf-8";
/*  1920센터 정렬 완벽 구현 */

.slideshow5_wrap {
    position: relative;
    height: 360px;
    overflow: hidden;
    clear: both;
}

.slideshow5_wrap_center {
    position: absolute;
    width: 1920px;
    left: 50%;
    margin-left: -960px;
}

/*  화살표 스타일1 */

.arrow_wrap {
    position: absolute;
    width: 1600px;
    left: 50%;
    margin-left: -800px;
    top: 140px;
    z-index: 10000;
}

/* 화살표 위치구현 */

.arrow_left {
    float: left;
}

.arrow_right {
    float: right;
}

/*  화살표 스타일2 */

.wrap_btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    z-index: 110;
    margin-left: -50px;
}

/* 화살표 위치구현 */

.slide1 {
    position: relative;
}

.wrap_btn span {
    float: left;
    cursor: pointer;
}

/*  점 스타일 */

.slide_pager {
    position: absolute;
    top: 500px;
    float: left;
    width: 100%;
    text-align: center;
    z-index: 110;
}

/* 점의 위치설성 */

.slide_pager span {
    font-size: 50px;
    width: 35px;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    text-align: center;
    margin: 0 5px 0 5px;
}

/* 점의 기본 색상 */

.slide_pager span.cycle-pager-active {
    color: #ffffff;
}

/* 점의 선택시 색상 */