@font-face { font-family: 'S-CoreDream-5Medium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: normal; font-style: normal; }

body { font-family: 'S-CoreDream-5Medium', sans-serif; background:url('/frontend/k1slot/images/bg.jpg') repeat center top;background-size:cover;color:#000;font-weight:700; }

a { text-decoration:none; color:inherit; font-size:inherit; font-weight:bold;  }
a:hover { text-decoration:none; color:inherit; }

ul { padding:0;margin:0; }
li { list-style:none; }


/* 상단 */
.top_menu { min-width:1200px;width:100%;height:auto;overflow:hidden;margin:0 0 20px 0; }
.top_menu > .line01 { background:none; }
.top_menu > .line01 > .con { width:1200px;padding:15px 0;height:120px;margin:0 auto;color:#fff; }
.top_menu > .line01 > .con > .l { float:left; }
.top_menu > .line01 > .con > .r { float:right; }
.top_menu > .line01 > .con > .r > a { display:inline-block;color:#000;background:url('/frontend/k1slot/images/top_menu_tile.png') repeat;padding:5px 10px;border-radius:20px;margin:5px 0; }
.top_menu > .line01 > .con > .r > a:hover { color:#333333; }

.top_menu > .line01 > .con  > .logo { position:absolute;width:504px;height:100px;text-align:center;left:50%;margin-left:-252px; }
.top_menu > .line01 > .con  > .logo > a {  }

.top_menu > .line02 { background:url('/frontend/k1slot/images/top_menu_tile.png') repeat; }
.top_menu > .line02 > .con { position:relative;width:1200px;height:80px;margin:0 auto; }

.top_menu > .line02 > .con  > .l { float:left; }
.top_menu > .line02 > .con  > .r { float:right; }
.top_menu > .line02 > .con  > .btn { width:240px;height:80px;line-height:80px;text-align:center;font-size:20px;cursor:pointer;color:#000; }
.top_menu > .line02 > .con  > .btn:hover { background:#085513;color:#fff; }
.top_menu > .line02 > .con  > .btn.b4 { width:300px; }
.top_menu > .line02 > .con  > .btn_new { background-image: url(/frontend/k1slot/images/ico_new.png);background-repeat:no-repeat;background-position:50% 9px; }
.top_menu > .line02 > .con  > .btn_new:hover { background:#085513;color:#fff;background-image: url(/frontend/k1slot/images/ico_new.png);background-repeat:no-repeat;background-position:50% 9px;}

/* BODY */
.body { width:1200px;height:auto;margin:0 auto;min-height:500px; }
.body:after { content: ""; display: block; clear: both; }
.body > .info { min-height:1px;height:auto;overflow:visible; }
.body > .info:after { content: ""; display: block; clear: both; }
.body > .info > .round { width:300px;float:left;line-height:55px;text-align:center;font-size:18px;color:#000; }
.body > .info > .countdown { width:300px;float:left; }

.body > .lobby { width:100%;text-align:center; }
.body > .lobby td a img { border:3px solid #fff; }
.body > .lobby td a:hover img { border:3px solid #ffc000; }

.btn_subgame { display:inline-block;width:100px;height:50px;line-height:50px;color:#fff;background:#911010;text-align:center;cursor:pointer;font-size:16px;border-radius:8px; }
.btn_subgame:hover { color:#911010;background:#fff; }
.btn_subgame.on { color:#911010;background:#fff; }

.body > .info > .probability { width:300px;float:left;line-height:55px;height:60px;text-align:center;font-size:18px;background:#262120; }
.body > .info > .probability > .title { float:left;display:inline-block; padding:0 5px; height:60px; font-size:12px; line-height:12px; writing-mode:vertical-lr; color:#fff; background:#c7b299; text-align:center; cursor:Default; }
.body > .info > .probability > .prob { display:inline-block;width:50px;height:50px; }
.body > .info > .probability > .power_odd { background:url('/frontend/k1slot/images/icon_power_odd.png') no-repeat center center;background-size:40px 40px; }
.body > .info > .probability > .power_even { background:url('/frontend/k1slot/images/icon_power_even.png') no-repeat center center;background-size:40px 40px; }
.body > .info > .probability > .power_under { background:url('/frontend/k1slot/images/icon_power_under.png') no-repeat center center;background-size:35px 30px; }
.body > .info > .probability > .power_over { background:url('/frontend/k1slot/images/icon_power_over.png') no-repeat center center;background-size:35px 30px; }
.body > .info > .probability > .normal_odd { background:url('/frontend/k1slot/images/icon_normal_odd.png') no-repeat center center;background-size:40px 40px; }
.body > .info > .probability > .normal_even { background:url('/frontend/k1slot/images/icon_normal_even.png') no-repeat center center;background-size:40px 40px; }
.body > .info > .probability > .normal_under { background:url('/frontend/k1slot/images/icon_normal_under.png') no-repeat center center;background-size:35px 30px; }
.body > .info > .probability > .normal_over { background:url('/frontend/k1slot/images/icon_normal_over.png') no-repeat center center;background-size:35px 30px; }

.body > .info > .pickster { width:300px;float:left;line-height:55px;height:60px;text-align:center;font-size:18px;background:#262120; }
.body > .info > .pickster > .title { float:left;display:inline-block; padding:0 5px; height:60px; font-size:12px; line-height:12px; writing-mode:vertical-lr; color:#fff; background:#c7b299; text-align:center; cursor:Default; }
.body > .info > .pickster > .pick { display:inline-block;width:50px;height:50px; }




.body > .info > .money { width:300px;float:left;text-align:center;padding:7.5px 0;text-align:right; }
.body > .info > .money > .wrap { position:relative;display:inline-block;width:250px;background:url('/frontend/k1slot/images/money_tile.png') repeat;border-radius:20px;color:#fff;vertical-align:middle; }
.body > .info > .money > .wrap > .icon { position:absolute;top:0;left:-30px;width:50px;height:50px;line-height:50px;font-size:30px;color:#fff;border-radius:50%;background:#f1004a;text-align:center; }
.body > .info > .money > .wrap > .l { float:left;padding:0 0 0 30px; width:100px;line-height:50px;text-align:left; }
.body > .info > .money > .wrap > .r { float:left;padding:0 10px 0 0; width:150px;line-height:50px;text-align:right; }

.body > .info > .point { width:300px;float:left;text-align:right; padding:7.5px 0; text-align:right; }
.body > .info > .point > .wrap { position:relative;display:inline-block;width:250px;background:url('/frontend/k1slot/images/money_tile.png') repeat;border-radius:20px;color:#fff;vertical-align:middle; }
.body > .info > .point > .wrap > .icon { position:absolute;top:0;left:-30px;width:50px;height:50px;line-height:50px;font-size:30px;color:#fff;border-radius:50%;background:#f1004a;text-align:center; }
.body > .info > .point > .wrap > .l { float:left;padding:0 0 0 30px; width:100px;line-height:50px;text-align:left; }
.body > .info > .point > .wrap > .r { float:left;padding:0 10px 0 0; width:150px;line-height:50px;text-align:right; }

.body > .betting_area { position:relative;height:auto;overflow:hidden; }
.body > .betting_area > .table01 { position:relative;width:840px;float:left;margin:20px 0; }
.body > .betting_area > .table01 > .animation { height:auto;overflow:hidden;text-align:center; }
.body > .betting_area > .table01 > .animation > iframe { border:none;overflow:hidden; }

.body > .betting_area > .table01 > .bettingMask { display:none;position:absolute;width:100%;height:100%;background:url('/frontend/k1slot/images/godori_tile.png') repeat; }

/* GODORI */
.body > .betting_area > .table01 > .godori { width:100%;text-align:center;background:url('/frontend/k1slot/images/godori_tile.png') repeat;border-radius:8px;margin:0 0 30px 0;height:auto;overflow:hidden; }
.body > .betting_area > .table01 > .godori .title { padding:10px 0;font-size:20px;color:#fff;background:url('/frontend/k1slot/images/godori_title_tile.png') repeat;border-radius:8px; }
.body > .betting_area > .table01 > .godori div { height:auto;overflow:hidden; }
.body > .betting_area > .table01 > .godori .t_line { float:left;width:20%;padding-top:30px;color:#fff; }
.body > .betting_area > .table01 > .godori .t_line:last-child { float:left;width:40%; }
.body > .betting_area > .table01 > .godori .previous { float:left;width:20%;padding:0 0 50px 0; }
.body > .betting_area > .table01 > .godori .wrap { float:left;width:40%;position:relative;padding:0 0 0 0;margin:0 0 50px 0; }
.body > .betting_area > .table01 > .godori .wrap .back { position:absolute;left:50%;top:50%;margin:-79.5px 0 0 -51px; }


.body > .betting_area > .table01 > .betting { width:100%;color:#fff;background:#911010;border-collapse:separate;border-spacing: 0 4px; }
.body > .betting_area > .table01 > .betting .head { padding:10px;font-size:18px; }
.body > .betting_area > .table01 > .betting .button_row { background:url('/frontend/k1slot/images/betting_button_tile.png') repeat; }
.body > .betting_area > .table01 > .betting .button_row .betting_title { padding:5px 10px; }
.body > .betting_area > .table01 > .betting .button_row td { padding:5px; }
.body > .betting_area > .table01 > .betting .button_row td .btn { width:100%;height:60px;line-height:60px;border-radius:8px;background:#fff;color:#000;cursor:pointer; }
.body > .betting_area > .table01 > .betting .button_row td .btn:hover, .body > .betting_area > .table01 > .betting .button_row td .btn.on { color:#000;background:#FFD76E; }
.body > .betting_area > .table01 > .betting .button_row td .btn .l { float:left;width:70%;height:60px;line-height:60px;text-align:left;padding:0 0 0 10px; }
.body > .betting_area > .table01 > .betting .button_row td .btn .r { float:left;width:30%;height:60px;line-height:60px;text-align:right;padding:0 10px 0 0; }

.body > .betting_area > .table01 > .betting .button_row td .btn02 { width:100%;height:60px;line-height:60px;border-radius:8px;background:#fff;color:#000;cursor:pointer; }
.body > .betting_area > .table01 > .betting .button_row td .btn02:hover, .body > .betting_area > .table01 > .betting .button_row td .btn02.on { color:#000;background:#FFD76E; }
.body > .betting_area > .table01 > .betting .button_row td .btn02 .l { float:left;width:80%;height:60px;line-height:60px;text-align:left;padding:0 0 0 10px; }
.body > .betting_area > .table01 > .betting .button_row td .btn02 .r { float:left;width:20%;height:60px;line-height:60px;text-align:right;padding:0 10px 0 0; }
.body > .betting_area > .table01 > .betting .button_row td .btn02 .l02 { float:left;width:75%;height:60px;line-height:60px;text-align:left;padding:0 0 0 10px; }
.body > .betting_area > .table01 > .betting .button_row td .btn02 .r02 { float:left;width:25%;height:60px;line-height:60px;text-align:right;padding:0 10px 0 0; }
.body > .betting_area > .table01 > .betting .button_row td .btn02 .odd { color:#5780e7; }
.body > .betting_area > .table01 > .betting .button_row td .btn02 .even { color:#d62828; }
.body > .betting_area > .table01 > .betting .button_row td .btn02 .small { color:#1bba6d; }


.fx .odd { display:inline-block;text-align:center;padding:12px;border-radius:30%;color:#fff;background:#004a80;line-height:1; }
.fx .even { display:inline-block;text-align:center;padding:12px;border-radius:30%;color:#fff;background:#790000;line-height:1; }
.fx .small { display:inline-block;text-align:center;padding:8px;border-radius:30%;color:#fff;background:#007236;line-height:1; }


.body > .betting_area > .table02 > .betting { width:100%;color:#fff;background:#000;border-collapse:separate;border-spacing: 0 4px; }
.body > .betting_area > .table02 > .betting .head { padding:10px;font-size:18px; }
.body > .betting_area > .table02 > .betting .button_row { background:url('/frontend/k1slot/images/betting_button_tile.png') repeat; }
.body > .betting_area > .table02 > .betting .button_row .betting_title { padding:5px 20px; }
.body > .betting_area > .table02 > .betting .button_row td { padding:5px; }
.body > .betting_area > .table02 > .betting .button_row td .btn { width:100%;height:60px;line-height:60px;border-radius:8px;background:#fff;cursor:pointer; }
.body > .betting_area > .table02 > .betting .button_row td .btn:hover, .body > .betting_area > .table01 > .betting .button_row td .btn.on { color:#000;background:#FFD76E; }
.body > .betting_area > .table02 > .betting .button_row td .btn .l { float:left;width:70%;height:60px;line-height:60px;text-align:left;padding:0 0 0 10px; }
.body > .betting_area > .table02 > .betting .button_row td .btn .r { float:left;width:30%;height:60px;line-height:60px;text-align:right;padding:0 10px 0 0; }


.body > .betting_area >.cart_wrapper { position:absolute;right:0;width:340px;min-height:1px; }
.body > .betting_area >.cart_wrapper > .cart { position:absolute;right:0;top:0;width:340px;color:#fff; }
.body > .betting_area >.cart_wrapper > .cart > .btn_money { height:50px;line-height:50px;background:#8f1313;cursor:pointer;border-radius:8px;text-align:center;color:#fff;font-size:24px;margin-bottom:10px; }
.body > .betting_area >.cart_wrapper > .cart > .btn_money:hover { background:#ae1818; }


.body > .betting_area >.cart_wrapper > .cart > .money { width:100%;text-align:center;padding:7.5px 0;text-align:right;}
.body > .betting_area >.cart_wrapper > .cart > .money > .wrap { position:relative;display:inline-block;width:320px;background:#2b2624;color:#fff;vertical-align:middle; }
.body > .betting_area >.cart_wrapper > .cart > .money > .wrap > .icon { position:absolute;top:0;left:-10px; }
.body > .betting_area >.cart_wrapper > .cart > .money > .wrap > .l { float:left;padding:0 0 0 40px; width:150px;line-height:40px;text-align:left; }
.body > .betting_area >.cart_wrapper > .cart > .money > .wrap > .r { float:left;padding:0 10px 0 0; width:170px;line-height:40px;text-align:right; }

.body > .betting_area >.cart_wrapper > .cart > .point { width:100%;text-align:center;padding:7.5px 0;text-align:right;}
.body > .betting_area >.cart_wrapper > .cart > .point > .wrap { position:relative;display:inline-block;width:320px;background:url('/frontend/k1slot/images/money_tile.png') repeat;color:#fff;vertical-align:middle; }
.body > .betting_area >.cart_wrapper > .cart > .point > .wrap > .icon { position:absolute;top:0;left:-20px; }
.body > .betting_area >.cart_wrapper > .cart > .point > .wrap > .l { float:left;padding:0 0 0 30px; width:150px;line-height:40px;text-align:left; }
.body > .betting_area >.cart_wrapper > .cart > .point > .wrap > .r { float:left;padding:0 10px 0 0; width:170px;line-height:40px;text-align:right; }

.body > .betting_area >.cart_wrapper > .cart > .betting_info { border-radius:8px;background:url('/frontend/k1slot/images/betting_info_tile.png') repeat;margin-bottom:10px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .h { background:#0e0e0e;text-align:center;font-size:18px;padding:10px 0;border-radius:8px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c { text-align:center;padding:15px 0; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul { width:100%;height:auto;overflow:hidden;padding:0 15px }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li { height:auto;overflow:hidden; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c2 { float:left;width:50%; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c2:first-child { text-align:left; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c2:last-child { text-align:right; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c3 { float:left;width:24%;padding:0 2%; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c3:first-child { width:35%; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c3:last-child { text-align:right;width:41%; }


.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c3 > .t1 { color:#000;background:#f5ae4a;border-radius:6px 6px 0 0;box-shadow: 5px 3px 5px rgba(0,0,0,0.8) inset;padding:5px 0;text-align:center; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c3 > .c1 { color:#fff;background:#1c1c1c;border-radius:0 0 6px 6px;box-shadow: 5px 3px 5px rgba(0,0,0,0.8) inset;padding:5px 0;line-height:28px;  }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .c3 > .c1 > img { width:25px; }


.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .prize01 { float:left;width:30%;text-align:left;font-size:20px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .prize02 { float:left;width:70%;text-align:right;font-size:20px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .sideIcon > img { height:30px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_info > .c > ul > li > .selected_odds { line-height:30px; }

.body > .betting_area >.cart_wrapper > .cart > .betting_cart { border-radius:8px;background:url('/frontend/k1slot/images/betting_cart_tile.png') repeat;font-size:14px;margin:0 0 20px 0; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .h { background:#911010;text-align:center;font-size:18px;padding:10px 0;border-radius:8px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c { text-align:center;padding:15px 0; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul { width:100%;height:auto;overflow:hidden;padding:0 15px }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li { height:auto;overflow:hidden; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li.mb10 { margin-bottom:10px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li.mb5 { margin-bottom:5px; }

.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .i2 { float:left;padding:6px 0 6px;text-align:center;margin:3px 0; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .i2:first-child { text-align:center;width:35%;margin:3px 2% 3px 0;background:#085513;border-radius:8px 0 0 8px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .i2:last-child { text-align:right;width:63%;background:#333333;border-radius:0 8px 8px 0;padding:6px 10px 6px 0; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .i2 > #bt_amount { width:100%;text-align:right;background:none;border:0;color:#fff; }

.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c2 { float:left;width:50%;padding:0 0 5px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c2:first-child { text-align:left; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c2:last-child { text-align:right; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c2 > .btn02 { display:inline-block;width:94%;height:48px;line-height:48px;text-align:center;cursor:pointer;background:#911010;color:#fff;font-size:16px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c2 > .btn02:hover { color:#911010;background:#fff; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c2 > .btn022 { display:inline-block;width:94%;height:48px;line-height:48px;text-align:center;cursor:pointer;background:#085513;color:#fff;font-size:16px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c2 > .btn022:hover { color:#085513;background:#fff; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c3 { float:left;width:33.3333%;padding:0 0 5px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c3:first-child { text-align:left; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c3:last-child { text-align:right; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c3 > .btn01 { display:inline-block;width:94%;height:43px;line-height:43px;text-align:center;cursor:pointer;background:#fff;color:#000; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .c3 > .btn01:hover { color:#000;background:#EEFFEA; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .btn03 { width:100%;height:55px;line-height:55px;background:#6c5596;color:#fff;cursor:pointer;font-size:18px; }
.body > .betting_area >.cart_wrapper > .cart > .betting_cart > .c > ul > li > .btn03:hover { background:#333333;color:#fff; }


.body > .betting_area > .table03 { width:840px;float:left;padding:20px 0;color:#fff; }
.body > .betting_area > .table03 > .history { width:100%;background:url('/frontend/k1slot/images/betting_cart_tile.png') repeat;text-align:center;border-radius:8px 8px 0 0; }
.body > .betting_area > .table03 > .history .head { background:#911010;color:#fff;border-radius:8px;padding:10px 20px;text-align:left;border:0 !important; }
.body > .betting_area > .table03 > .history th { border-bottom:2px solid #252525; padding:5px 0; }
.body > .betting_area > .table03 > .history td { border-bottom:2px solid #252525; padding:5px 0; }
.body > .betting_area > .table03 > .history .paging { padding:10px 20px;border:0 !important;text-align:center; }

.table03 { width:840px;float:left;color:#fff; }
.table03 > div > .history { width:100%;background:url('/frontend/k1slot/images/betting_cart_tile.png') repeat;text-align:center;}
.table03 > div > .history .head { background:#911010;color:#fff;padding:10px 20px;text-align:left;border:0 !important; }
.table03 > div > .history th { border-bottom:2px solid #252525; padding:5px 0; }
.table03 > div > .history td { border-bottom:2px solid #252525; padding:5px 0; }
.table03 > div > .history .paging { padding:10px 20px;border:0 !important;text-align:center; }

.btn_money02 { width:90%;height:50px;line-height:50px;background:#8f1313;cursor:pointer;border-radius:8px;text-align:center;color:#fff;font-size:24px;margin:2.5px auto; }
.btn_money02:hover { background:#ae1818; }

.body .table04 { width:100%;padding:20px 0; }
.body .table04 > .history { width:100%;background:url('/frontend/k1slot/images/betting_cart_tile.png') repeat;text-align:center;border-radius:8px 8px 0 0;color:#fff; }
.body .table04 > .history .head { background:#911010;color:#fff;border-radius:8px;padding:10px 20px;text-align:left;border:0 !important; }
.body .table04 > .history th { border-bottom:2px solid #252525; padding:5px 0; }
.body .table04 > .history td { border-bottom:2px solid #252525; padding:5px 0; }
.body .table04 > .history .paging { padding:10px 20px;border:0 !important;text-align:center; }

.body .table04 > div > .history { width:100%;background:url('/frontend/k1slot/images/betting_cart_tile.png') repeat;text-align:center;color:#fff; }
.body .table04 > div > .history .head { background:#911010;color:#fff;border-radius:8px;padding:10px 20px;text-align:left;border:0 !important; }
.body .table04 > div > .history th { border-bottom:2px solid #252525; padding:5px 0; }
.body .table04 > div > .history td { border-bottom:2px solid #252525; padding:5px 0; }
.body .table04 > div > .history .paging { padding:10px 20px;border:0 !important;text-align:center; }
.body .table04 > div > .history tr.clspager table tr td { border-bottom:0px solid #252525; padding:5px 5px; }

.body .table04 .head span { line-height:30px; }
.body .table04 .head input { vertical-align:middle;text-align:center; }

.body .table05 { width:100%;background:url('/frontend/k1slot/images/betting_info_tile.png') repeat;padding:0 0 20px;margin:30px 0 0 0;color:#fff;border-radius:8px 8px 0 0; }
.body .table05 > .head { background:#911010;color:#fff;border-radius:8px;padding:10px 20px;text-align:left; }
.body .table05 > .warning { margin:0 0 0 30px; padding:0 0 0 30px;text-align:left; }
.body .table05  .title { font-size:20px;padding:10px 0; }
.body .table05 > .warning .list { list-style:circle; }
.body .table05  .title02 { font-size:20px;padding:10px 60px; }

.body .table05 > .exchange { color:#fff;padding:0 20px; }
.body .table05 > .exchange table { width:100%;border-collapse:separate;border-spacing: 0 1px; }
.body .table05 > .exchange table th { background:#911010;color:#fff;padding:20px 20px;text-align:center; }
.body .table05 > .exchange table td { color:#fff;padding:20px 30px;background:#000; }
.btn_amount { display:inline-block;width:100px;height:30px;line-height:30px;color:#000;background:#959595;text-align:center;cursor:pointer;font-size:14px; }
.btn_amount:hover { background:#fff; }
.body .table05 > .exchange table td .comment { line-height:18px;font-size:12px; }
.btn_request { width:300px;height:50px;line-height:50px;background:#fff;cursor:pointer;text-align:center;color:#000;font-size:24px;margin:10px auto; }
.btn_request:hover { background:#085513;color:#fff; }


.body > .table06 { width:100%; }
.body > .table06 > .title { background:#911010;height:auto;overflow:hidden;padding:8px 20px;margin:30px 0 30px 0;color:#fff;font-size:24px;border-radius:8px; }
.body > .table06 > .title > .l { float:left;line-height:50px; }
.body > .table06 > .title > .r { float:right;}
.body > .table06 > .title::after { content: ''; dispaly: table; clear: both; }

.body > .table06 > .cs { width:100%;background:url('/frontend/k1slot/images/betting_cart_tile.png') repeat;margin:0 0 50px 0;color:#fff; }
.body > .table06 > .cs .list { cursor:pointer; }
.body > .table06 > .cs .list:hover { color:#91002c; }

.body > .table06 > .cs .notice_list { cursor:pointer;color:#B40404; }
.body > .table06 > .cs .notice_list:hover { color:#fff; }


.body > .table06 > .cs td { padding:10px 20px;text-align:center; }
.body > .table06 > .cs .head { background:#911010;color:#fff;border-radius:8px; }
.body > .table06 > .cs .head td { padding:20px 0;text-align:center; }
.body > .table06 > .cs .btn_row { text-align:right; }
.btn_write { display:inline-block;width:100px;height:50px;line-height:50px;color:#fff;background:#085513;text-align:center;cursor:pointer;font-size:16px;border-radius:8px; }
.btn_write:hover { color:#085513;background:#fff; }

.body > .table06 > .cs .cs_content { min-height:100px;height:auto;overflow:hidden;color:#fff;text-align:left; }
.body > .table06 > .cs input { width:80%; }
.body > .table06 > .cs textarea { width:90%;height:400px;padding:15px 25px;margin:25px 0 0 0; }

.body > .table06 > div > .cs { width:100%;background:url('/frontend/k1slot/images/betting_cart_tile.png') repeat;margin:0 0 50px 0;color:#fff; }
.body > .table06 > div >.cs .list { cursor:pointer; }
.body > .table06 > div >.cs .list:hover { color:#91002c; }
.body > .table06 > div > .cs .head { background:#911010;color:#fff;padding:20px 0;text-align:center; }
.body > .table06 > div > .cs td { padding:10px 20px;text-align:center; }


.delete_btns { padding:10px 0; }
.btn_del { float:left;display:inline-block;width:100px;height:50px;line-height:50px;color:#fff;background:#085513;text-align:center;cursor:pointer;font-size:16px;border-radius:8px; }
.btn_del:hover { color:#085513;background:#fff; }
.btn_del_all { float:right;display:inline-block;width:100px;height:50px;line-height:50px;color:#fff;background:#911010;text-align:center;cursor:pointer;font-size:16px;border-radius:8px; }
.btn_del_all:hover { color:#911010;background:#fff; }
.btn_search { display: inline-block;width: 87px;height: 40px;line-height: 42px;color: #fff;background: #085513;text-align: center;cursor: pointer;font-size: 16px;border-radius: 8px; }
.btn_search:hover { color: #085513;background: #9e9b9d; }
/* 오토 */
.auto { position:relative; }
.auto > iframe { width:1200px;border:0;min-height:1200px; }



.footer { min-width:1200px;width:100%;padding:20px 0 20px;background:#000;color:#fff; }
.footer table { width:1200px;margin:0 auto; }
.footer table .l { width:50%;height:200px; }
.footer table .l .name { font-size:60px;font-weight:700; }
.footer table .r { width:50%;height:200px;text-align:right;vertical-align:bottom; }


#mask { display:none; position:absolute;left:0;top:0;z-index:1000;background-color:#fff;display:none;opacity:0; }
#message { display:none;z-index:5;position:fixed;top:50%;margin:-93.5px 0 0 0;width:100%;height:auto;padding:100px 0;background:url("/frontend/k1slot/images/message_tile.png") repeat;text-align:center; z-index:1001;}
#message img { cursor:pointer; }



[data-tooltip-text]:hover {
	position: relative;
}

[data-tooltip-text]:hover:after {
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8);

	-webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	color: #FFFFFF;
	font-size: 12px;
	content: attr(data-tooltip-text);

	margin-bottom: 10px;
	line-height:14px;
	top: 110%;
	left: 0;    
	padding: 7px 12px;
	position: absolute;
	width: 150px;

	z-index: 9999;
}

.main_popup {
    position: absolute;
    z-index: 9999
}

.pop_title {
    width: 100%;
    text-align: center;
    margin-top: 65px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

.pop_content {
    min-height: 410px;
    margin-top: 20px;
    text-align: center;
    color: #333
}

.pop_foot {
    height: 40px;
    text-align: right;
    color: #fff;
    padding-right: 40px;
    padding-left: 40px;
}

.pop_foot images, input {
    vertical-align: middle
}

.pop_foot input {
    vertical-align: middle;
    margin-top: -2px;
    border: none;
    background: #fff;
    width: 16px;
    height: 16px;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 65%;
    left: 48%
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.layer_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
    z-index: 100;
    display: block;
}

.layer_mask2 {
    position: absolute;
    width: 100%;
    height: 200%;
    background: #000000;
    opacity: 0.8;
    z-index: 100;
    display: block;
}

.layer_notice2 {
    position: absolute;
    top: 450px;
    left: 50%;
    width: 420px;
    height: 210px;
    margin: 0px 0px 0px -210px;
    z-index: 500;
    background: rgba(255,144,0,0.5);
    border: 1px solid rgba(255,144,0,0.95);
}

.layer_notice2 .text_area {
    padding: 80px 10px 40px 10px;
    text-align: center;
    line-height: 40px;
    min-height: 40px;
    color: #ffffff;
    font-size: 30px;
    font-family: "맑은 고딕";
    font-weight: bold;
}

.tbox {
    position: absolute;
    display: none;
    padding: 14px 17px;
    border-radius: 30px;
    z-index: 999999
}

.tinner {
    /* overflow: hidden; */
    font-size: 11.5px;
    box-shadow: 0px 0px 50px #fee7b5;
    -webkit-box-shadow: 0px 0px 50px #fee7b5;
    background-color: rgba(0, 0, 0, 0.65);
    overflow-x: hidden;
}

.tmask {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 99999
}
.tclose {
    position: absolute;
    top: 25px;
    right: 45px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(/frontend/k1slot/images/x-button.svg) no-repeat;
    transition: all .3s ease;
    transform: rotate(0deg)
}