
.sub-modal {padding: 10px 50px; background: url('/frontend/k1slot/images/layer_bg.jpg') no-repeat; background-size: cover; box-shadow: inset 0 0 30px 5px; color: #000; height:100%;}
.sub-modal.customer {background: url('/img/layer_pattern.png');}
.sub-modal.info {background: url('/img/layer_info.jpg') no-repeat;}
.sub-modal.other {background: url('/img/layer_other.jpg') no-repeat;}
.sub-modal.mypage {background: url('/img/layer_mypage.jpg') center no-repeat; background-size: cover;}
select,input[type=text],input[type=password]{height:30px;margin:3px 0;padding:0 .5em;border:1px solid #555;border-radius:3px;background-color:#000;color:#fff !important;box-sizing:border-box;vertical-align:top}
select:focus,input:focus,textarea:focus{outline:0;border:1px solid #fee7b5;}

p {color: #fff;}
.logo {text-align:center; margin: 20px 0 10px 0;}
.info {font-size: 14px;}
.info p:nth-child(1) {color: #f8e521;}

.sub_table table {color:#fff; font-size: 13px; background: rgba(0,0,0,0.75); width: 100%; border: 1px solid #666;}
.sub_table table tr {height: 45px; border: 1px dotted #444;}
.sub_table table tr td {padding-left: 15px;}
.sub_table table tr td:nth-child(1) {width: 170px; text-align:center; padding-left: 0; font-weight:bold; color: #fee7b5;}
.sub_table table tr td input, .sub_table table tr td div, .sub_table table tr td p {display:inline-block; vertical-align: top;} 
.sub_table table tr td p {font-size: 12px; margin: 0.8em 0; color: #ccc; }
.sub_table table tr td p span.warning {color: #f8e521; }
.sub_table table tr td div.btn {height:30px;margin:3px 0;padding:0 .5em;border-radius:3px;background-color:#793c21;color:#fff; border: 1px solid #240b00; box-sizing:border-box;vertical-align:top;font-size: 0.9em; line-height: 2.5em;transition: all .3s ease;}
.sub_table table tr td div.btn:hover {background-color:#240b00; transition: all .3s ease; cursor:pointer;}
.sub_table table tr td.telnum select,
.sub_table table tr td.telnum input {width: 80px;}
.sub_table table tr td.telnum .hyphen {line-height: 2.5em; margin: 0 3px;}

.sub_table {position:relative;}
.terms_money {position:absolute; height: 87.5%; z-index: 10; background: rgba(0,0,0,0.75); color: #fff; overflow: auto; padding: 3%; font-size: 13px; display:none;}
.terms_money.active {display:block;}
.terms_money_open {position:absolute; color: #fff; top: 5px; left: 5px; font-size: 13px; text-shadow: rgb(255, 237, 67) 0px 0px 10px;}
.terms_money_open:hover {color:#fee7b5; cursor:pointer;}
.terms_close{position:absolute;top:10px;right:10px;width:30px;height:30px;cursor:pointer;background:url(/img/x-button.svg) no-repeat; transition: all .3s ease; transform: rotate(0deg)}
.terms_close:hover {transition: all .3s ease; transform: rotate(90deg)}


.banksel {width: 157px;}

.submit_wrap {text-align:center;}
.submit_wrap .btn {display:inline-block; background-color:#c49a56; color:#000; border: 1px solid #f7deb6; font-size: 15px; border-radius: 5px; height: 35px; min-width: 150px; margin: 20px 0 0 0; padding: 0.3em 0.7em; text-align:center; line-height: 25px; font-weight: 900; transition: all 0.3s ease}
.submit_wrap .btn:hover {background-color:#171717; color:#fee7b5; cursor:pointer;}
.submit_wrap .btn.style2 {width: 296px;border: 1px solid #f7deb6;font-size: 15px;border-radius: 5px;margin: 0;padding: 0;transition: all 0.3s ease;}

.sub-content {padding-bottom: 30px;}
.sub-content h2{text-align:center;margin:30px 0 30px;text-shadow:0px 0px 10px #ffed43; color: #fff;}
.sub-content h2 img {height: 35px; position: relative; top: 7px;}
.loginbox input[type="text"],
.loginbox input[type="password"] {width:300px; height: 35px; margin:5px auto;display:block}
.loginbox input[type="text"]::placeholder,
.loginbox input[type="password"]::placeholder {font-size: 13px;}
.loginbox .help{text-align:center; margin: 30px 0 0px 0;}
.loginbox .help a{margin:0 25px;color:#eee; transition: all .3s ease; font-size: 15px;}
.loginbox .help a:hover{color:#ffed43;text-shadow:0px 0px 10px #ffed43; transition: all .3s ease}

.sub_table.money table tr td input,
.sub_table.money table tr td select {width: 200px;}


.box-wrap { border: 1px solid #666; border-radius: 5px; background: rgba(0,0,0,0.75); height: 450px; overflow: hidden;}
.game-list {padding: 6px 5px 8px 5px; text-align:center;}
.game-list a font {text-transform: uppercase; color: #fff; transition: all .3s ease; font-size: 13px; padding: 1px 5px 1px 10px; border-left: 1px solid #ccc;}
.game-list a:first-child font {border: none;}
.game-list a:hover font {color:#fee7b5; transition: all .3s ease}
.box-wrap .inner-box #scroll-box { overflow: auto; height: 416px;}
.box-wrap .inner-box #scroll-box img.com_img {width: 100%;}



.notice table	{border: 1px solid #111; font-size: 13px;}
.notice th	{padding:10px;background: rgba(49,35,26,0.85);color:#fee7b5;border: 1px solid #111}
.notice td	{padding:10px;background: rgba(0,0,0,0.85);color:#ff9c76;text-align:center;border: 1px solid #111; font-size: 13px;}
.notice td:nth-child(2) {text-align:left; padding-left: 15px; color:#eee; }
.notice tbody tr:hover {background: rgba(255,255,255,0.8); transition: all .3s ease; cursor:pointer;}
.notice.view td	{text-align:left; padding-left: 15px; color:#eee; }
.notice.view tbody tr:hover {background: rgba(0,0,0,0.85); cursor: default;}

.page {width: 100%; margin: 20px auto; color: #ccc; text-align:center;}
.page li {display:inline-block; vertical-align:top; font-size: 13px; height: 20px; line-height: 20px; border:1px solid rgba(0,0,0,0); padding: 0 10px; transition: all .3s ease;}
.page li.txt {font-size: 11px;}
.page li:hover,
.page li.active {color:#fff; background: rgba(0,0,0,0.85); border: 1px solid #fff; cursor:pointer; transition: all .3s ease}


.gamesel ul {padding: 5px 0;}
.gamesel ul li {display:inline-block; vertical-align:top; background: url('/img/gamesel_btn.png') no-repeat; width: 160px; height: 40px; background-position:0 -80px; margin: 3px 1px;}
.gamesel ul li div {background: url('/img/gamesel_btn.png') no-repeat; width: 160px; height: 40px; transition: all .3s ease}
.gamesel ul li.micro div		{background-position: 0 0;}
.gamesel ul li.allbet div		{background-position: -160px 0;}
.gamesel ul li.asia div			{background-position: -320px 0;}
.gamesel ul li.lotus div		{background-position: -480px 0;}
.gamesel ul li.evolution div	{background-position: -640px 0;}
.gamesel ul li.gameplay div		{background-position: -800px 0;}
.gamesel ul li.hogame div		{background-position: -960px 0;}
.gamesel ul li.playtech div		{background-position: -1120px 0;}
.gamesel ul li.vivo div			{background-position: -1280px 0;}
.gamesel ul li.taishan div		{background-position: -1440px 0;}
.gamesel ul li.habanero div		{background-position: -1600px 0;}
.gamesel ul li.microslot div	{background-position: -1760px 0;}
.gamesel ul li.midas div		{background-position: -1920px 0;}

.gamesel ul li.active {background-position-x:-160px; cursor:pointer;}
.gamesel ul li.active div {background-position-y:-40px;}

.gamesel ul li:hover {background-position-x:-160px; cursor:pointer;}
.gamesel ul li:hover div {background-position-y:-40px; transition: all .3s ease}


.terms { color: #fff; height: 310px; overflow: auto; padding: 20px; font-size: 13px; border: 1px dashed #999; background: rgba(0,0,0,0.6);}
.terms b {font-size: 15px;}
