@charset "utf-8";

#wrap {float:left; width:100%; overflow-x:hidden;}
* {box-sizing: border-box;	-ms-box-sizing: border-box;	-webkit-box-sizing: border-box;}

/*-------------------------------------------------------------------------------------*
 *  Header                                                                             *
 *-------------------------------------------------------------------------------------*/
#header_wrap {float:left; width:100%;  background:url("../../images/m_bg_top.jpg") center top; background-attachment: fixed; background-repeat: no-repeat;}
.top {float:left; width:100%; height:70px;}
.m_logo {float:none; line-height:70px; text-align: center; margin:0 auto;}
.m_menu {float:right; line-height:70px; margin:0 5px 0 5px; position: absolute; top: 0; right: 5px; float: none;}

.my_wrap  {float:left; width:100%; min-height:52px; line-height:20px; background:#1c150a; border-top:1px solid rgba(0,0,0,0.5); text-align:center; padding:15px 0 15px 0;}
.top_menu  {float:left; width:100%; min-height:50px; line-height:20px; text-align:center; padding:5px 0 5px 0;}
.top_menu ul li {float:left; width:33.333333333%; margin:0 0 0 0;padding:3px;}

.login {float:left; width:100%; background:url("../../images/btn1.jpg") center center no-repeat; background-size:cover; height:56px; padding:0px 3px 0px 5px; border-bottom:solid 1px rgba(0,0,0,0.7); border-top:solid 1px rgba(0,0,0,0.7); z-index:1;}
.login ul li {float:left; padding:0 2px 0 0; margin:10px 0 0 0;}
.login_btn01 {width:100%; background:linear-gradient(#343434 0%, #000000 100%); border:1px solid #63582c; height:35px; line-height:35px;  color:#ffffff; display:inline-block; text-align:center; font-weight:500; border-radius:0px;}
.login_btn02 {width:100%; background:linear-gradient(#343434 0%, #000000 100%); border:1px solid #63582c; height:35px; line-height:35px;  color:#ffffff; display:inline-block;  text-align:center; font-weight:500; border-radius:0px;}
.input_login  {background-color:#000000; border:1px solid #63582c; padding:0 0 0 5px; height:35px; width:100%; border-radius:3px; color:#9c9c9c;  font-size:14px; }
.input_login::-webkit-input-placeholder{color:#9c9c9c; font-size:14px;}
.title {background:url(../../images/bg_title.png) center top no-repeat; background-size:100% 100%;width:100%; float:left; height:50px; line-height:56px; font-size:30px; font-weight:600; text-align:center; color:#ffffff; letter-spacing:-1px; text-shadow:1px 2px 2px rgba(0,0,0,0.0); font-family:'GmarketSans'; font-weight:700;text-shadow:1px 1px 2px rgba(0,0,0,0.7);}

/*-------------------------------------------------------------------------------------*
 *  Contents                                                                           *
 *-------------------------------------------------------------------------------------*/
.contents_wrap {float:left; width:100%; padding:10px 5px 10px 5px; min-height:300px; background:url("../../images/m_bg_con.jpg?v=<%=ver%>") center top fixed; background-repeat: no-repeat;}

.con_box00 {float:left; width:100%; margin:0 0 0 0;}
.con_box05 {float:left; width:100%; margin:5px 0 0 0;}
.con_box10 {float:left; width:100%; margin:10px 0 0 0;}
.con_box15 {float:left; width:100%; margin:15px 0 0 0;}
.con_box20 {float:left; width:100%; margin:20px 0 0 0;}
.con_box25 {float:left; width:100%; margin:25px 0 0 0;}
.con_box30 {float:left; width:100%; margin:30px 0 0 0;}
.con_box35 {float:left; width:100%; margin:35px 0 0 0;}
.con_box40 {float:left; width:100%; margin:40px 0 0 0;}
.con_box45 {float:left; width:100%; margin:45px 0 0 0;}
.con_box50 {float:left; width:100%; margin:50px 0 0 0;}
.con_box60 {float:left; width:100%; margin:60px 0 0 0;}

.game {float:left; width:100%;}
.game .categorylist {width: 100%;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;margin: 20px auto 10px auto;}
.game .categorylist li {float:left; width:100%; margin:0 0 0 0;  position:relative; padding:3px;}
.game .categorylist li img:hover {box-shadow:rgba(54,30,5,0.7) 0 0 30px 0;}

.game .gamelist {width:100%; display: flex;flex-wrap: wrap;align-items: center;justify-content: center;margin: 20px auto 10px auto;}
.game .gamelist li {float:left; width:50%; margin:0 0 0 0;  position:relative; padding:3px;}
.game .gamelist li img {width: 150px;height: 120px;}
.game .gamelist li img:hover {box-shadow:rgba(54,30,5,0.7) 0 0 30px 0;}





.check {float:left; width:100%; height:100%; background:rgba(0,0,0,0.8) url(../../images/check.png) center center no-repeat; background-size:30%; position:absolute; z-index:1; text-align:center; font-size:12px; letter-spacing:-1px; font-family:'GmarketSans'; font-size:16px; font-weight:700; color:#f7f7f7; line-height:18px; top:0px; left:0px; border-radius:8px; padding:12% 0 0 0;}
.check span{color:rgba(200,0,0,0.9);}

/*-------------------------------------------------------------------------------------*
 *  Footer                                                                             *
 *-------------------------------------------------------------------------------------*/
.footer_wrap {float:left; width:100%; text-align:center; background:#2b2b2b; padding:20px 0 20px 0;}
.footer_copyright {float:left; width:100%; text-align:center; line-height:30px; color:#5a5a5a; font-size:12px; font-weight:300; letter-spacing:0px;}
.footer_copyright img {width: 100%}


/*-------------------------------------------------------------------------------------*
 *  Main                                                                               *
 *-------------------------------------------------------------------------------------*/
.main_con1_wrap {float:left; width:100%; margin:10px 0 0 0; border-radius:0px;}
.main_con1_title {float:left; width:100%; line-height:40px; font-size:18px; color:#dddddd; font-weight:500; letter-spacing:-1pt;}
.main_con1 {float:left; width:100%; background:rgba(0,0,0,0.5); padding:10px 0 10px 0;}
.main_con1 td {font-size:12px; line-height:30px; color:#ffffff;}


/*-------------------------------------------------------------------------------------*
 *  팝업, 탭 (sk_tab)                                                                  *
 *-------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------*
 *  슬라이드                                                                             *
 *-------------------------------------------------------------------------------------*/
.jssorl-004-double-tail-spin img {
	animation-name: jssorl-004-double-tail-spin;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-004-double-tail-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;stroke:#000;stroke-width:400;stroke-miterlimit:10;stroke-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}



/*-------------------------------------------------------------------------------------*
 *  팝업로그인                                                                         *
 *-------------------------------------------------------------------------------------*/
.popup_wrap_login  {width:400px;}
.popup_box_login    {width:100%; float:left; border-radius:10px; padding:30px; position:relative; box-shadow:50px 50px 50px rgba(0,0,0,0.8);}
.close_box       {width:100%; float:left; text-align:center; padding:35px 0 10px 0;}
.close_box img {height : 50px;}
.popupbox        {width:100%; float:left; background:#341f07 url("../../images/bg2.jpg") center top no-repeat; min-height:400px; border-radius:10px; padding:10px 10px 40px 10px; position:relative; box-shadow:50px 50px 50px rgba(0,0,0,0.8);}

.popup_login {float:left; width:100%; text-align:center; padding:0 0 25px 0;}
.popup_login ul li { margin:0 0 5px 0; line-height:32px; color:#ffffff; font-size:14px; font-weight:500; letter-spacing:-1px; text-shadow:1px 2px 2px rgba(0,0,0,0.3); text-align:center;}
.input_popup_login  {background-color:#333333; border:1px solid #000000; padding:4px 0 4px 10px; width:320px; height:46px; border-radius:4px; color:#ffffff; font-size:14px; }
.popup_login_btn1         {background:url("../../images/btn1.jpg") center top no-repeat; background-size:100% 100%; min-width:320px; min-height:34px; padding:0 15px 0 15px; line-height:46px; display:inline-block; text-align:center; border-radius:4px; color:#ffffff; font-size:12px; letter-spacing:0pt; font-weight:700; text-shadow:1px 1px 1px rgba(0,0,0,0.3); box-shadow:rgba(0,0,0,0.3) 2px 2px 2px -1px;}
.popup_login_btn1:hover {background:url("../../images/btn1_h.jpg") center top no-repeat; background-size:100% 100%;}
.popup_login_btn2         {background:url("../../images/btn2.jpg") center top no-repeat; background-size:100% 100%; min-width:320px; min-height:34px; padding:0 15px 0 15px; line-height:46px; display:inline-block; text-align:center; border-radius:4px; color:#ffffff; font-size:12px; letter-spacing:0pt; font-weight:700; text-shadow:1px 1px 1px rgba(0,0,0,0.3); box-shadow:rgba(0,0,0,0.3) 2px 2px 2px -1px;}
.popup_login_btn2:hover {background:url("../../images/btn2_h.jpg") center top no-repeat; background-size:100% 100%;}


/*-------------------------------------------------------------------------------------*
 *  공지팝업                                                                           *
 *-------------------------------------------------------------------------------------*/
.notice_popup1 {position: fixed; z-index:1000000000; top:0px; left:0px;width:100%;height: 100%;}
.notice_popup_wrap {float:left; width:100%; padding:5px;height: 100%;}
.notice_popup_btn_wrap {float:right;}
.notice_popup_btn_wrap ul li {float:left; margin:0 0 0 5px;}
.notice_popup_btn {float:right; background:#954d13; min-width:60px; height:36px; line-height:36px; padding:0 15px 0 15px; text-align:center; display:inline-block; color:#ffffff; font-size:12px; font-weight:300;}
.notice_popup_box {float:left; width:100%; height: 95%;background:#000000; border:5px solid #954d13; background:#000000;}
.notice_popup_text {float:left; width:100%; height: 100%;padding:5px;}
.notice_popup_font1 {float:left; width:100%;  padding:5px; height: 100%;font-size:20px; letter-spacing:-1px; font-weight:700; color:#ffffff; line-height:40px;}
.notice_popup_font2 {float:left; width:100%;  padding:5px; font-size:14px; letter-spacing:-1px; font-weight:400; color:#d4d4d4; line-height:28px;}






