body {
  background: #1d1d1d;
}

/* Global Button Override */
.btn {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn:hover, .btn:active, .btn:focus {
  outline: 0;
  color: #ffffff;
  opacity: .9;
}

/* ngDialog Default */
.ngdialog-overlay {
  background: rgba(0,0,0,0.8);
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0;
}

.ngdialog-custom.ngdialog.ngdialog-theme-default {
  padding: 0;
}

.ngdialog-signup.ngdialog {
  overflow-x: hidden;
}

.no-error input.form-control, input.no-error {
  background: url("/frontend/boss/V/icon-valid.png") 95% center no-repeat transparent;
  border-color: #53d14c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control {
  background: url("/frontend/boss/V/icon-error.png") 95% center no-repeat transparent;
  border-color: #d54b4b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control {
  background: url("/frontend/boss/V/icon-valid.png") 95% center no-repeat transparent;
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ngdialog--signup .recommender input.form-control,
.ngdialog--signup .recommender input.no-error {
  background: transparent;
  border-color: #666666;
  box-shadow: none;
}

.has-error .form-notice {
  display: none;
}

.form-notice {
  font-size: 12px;
  line-height: 1.2;
  margin-top: 3px;
  color: #666666;
}

.ngdialog--signup .form-footer {
  margin-top: 20px;
}

.form-terms {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 10px;
}

.form-terms i {
  color: #b73528;
}

.form-footer .btn {
  margin-top: 20px;
  width: 100%;
}

.form-footer > button[disabled] {
  cursor: not-allowed;
  opacity: 0.75;
}

.ngdialog__phone input, .ngdialog__phone button {
  display: inline-block;
  vertical-align: middle;
  float: left;
}

.ngdialog__phone input {
  width: 70%;
}

.ngdialog__phone button {
  width: calc(30% - 5px);
  height: 35px;
  font-size: 12px;
  margin-left: 5px;
  word-break: keep-all;
  padding: 8px 5px;
}

.ngdialog__form__input {
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #282828;
  border: solid 1px #666666;
  color: #ffffff;
  font-size: 16px;
  height: 35px;
  padding: 5px 10px;
}

.ngdialog__form__label > i {
  color: #f56161;
}

.ngdialog__form__label {
  color: white;
  font-weight: 600;
}

.won-text {
  position: absolute;
  top: 8px;
  right: 10px  !important;
  /* left: 191px; */
  margin: 0;
  font-size: 13px;
  padding-left: 5px;
  color: #ffffff;
}

/* End: Signup popup */
.ngdialog-custom.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #2D2D2D;
  border-radius: 0;
  font-size: 14px;
  height: 100%;
  line-height: 1.5;
  padding: 0;
  width: 100%;
}

.ngdialog__form-group {
  box-shadow: none;
  width: 100%;
  margin-bottom: 10px;
}

.ngdialog__heading {
  background: #1d1d1d;
  height: 40px;
}

.ngdialog__title {
  color: #999999;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.ngdialog.ngdialog-theme-default .ngdialog-close {
  top: 6px;
  z-index: 300;
}


.ngdialog__content {
  background-color: #2d2d2d;
  padding: 10px;
}

.ngdialog__footer {
  color: #666666;
  font-size: 12px;
}

.ngdialog__footer .btn-link{
  font-size: 13px;
  font-weight: 700;
}

/* wallet */
.balance {
  background-color: #2D2D2D;
}

.balance__list {
  margin: 0;
}

.balance__content {
  padding: 7px 20px;
}

.balance__content span {
  text-transform: uppercase;
}

.balance__content--total-balance {
  background-color: #9b001b;
  border-bottom: 0;
  color: #f5f5f5;
  padding: 5px 20px;
}

.balance ul li:nth-child(even) {
  /*background: url(../images/wallet/bg-wallet.jpg) right no-repeat #282426;*/
  background-color: #1d1d1d;
}

.balance ul li:nth-child(odd) {
  background: #2D2D2D;
}

.ngdialog__content .btn-group.btn-group-justified {
  margin: 0;
}

.ngdialog__content .btn-group.btn-group-justified .btn-group {
  padding-right: 1px;
}

.process-forms fieldset {
  padding-bottom: 10px;
  position: relative;
}

.process-forms fieldset label {
  color: #ffffff;
}

.process-forms fieldset select + input {
  margin-top: 5px;
}

.process-forms .btn-clear {
  height: 35px;
  width: calc(25% - 5px);
  margin-left: 5px;
  position: absolute;
  top: 26px;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*.process-forms .btn-clear{
  height: 35px;
  margin-left: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}*/

/*.lists__content {*/
/*  background-color: #f5f5f5;*/
/*  padding: 10px;*/
/*  border-radius: 10px;*/
/*  margin-bottom: 5px;*/
/*}*/

.lists__content ul {
  margin: 0;
}

/* history lists */
.history-table-lists > tbody > tr > th,
.history-table-lists > tbody > tr > td {
  padding: 5px;
  text-align: center;
}

.history-table-lists > tbody > tr > th {
  background-color: #111111;
  color: #C1AD8B;
  border-top: 0;
  border-bottom: 10px solid #2d2d2d;
}

.history-table-lists > tbody > tr > td {
  background-color: #1D1D1D;
  vertical-align: middle;
  border-top: 0;
  color: #fff;
}

.history-table-lists > tbody > tr > td a {
  color: inherit;
}

.history-table-lists > tbody > tr > td a span + span {
  color: #9b001b;
  font-weight: bold;
}

.history-table-lists td .form-control {
  display: inline-block;
  width: 77%;
}

/* SweetAlert */
.swal-overlay {
  z-index: 20000;
}

.swal-modal {
  z-index: 20001;
}

.swal-footer {
  text-align: center;
}

/* pagination */
.pagination-items {
  display: block;
}

ul.pagination {
  background: none;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  height: auto;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}

ul.pagination li {
  border: none;
  display: inline;
  float: none;
  height: 29px;
  line-height: 28px;
  padding: 0;
}

ul.pagination li:first-child, ul.pagination li:last-child {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

ul.pagination li:hover {
  background: none;
}

ul.pagination li > a {
  background-color: #000000;
  border: 1px solid #2d2d2d;
  color: #ffffff;
  line-height: 29px;
  padding: 6px 12px;
}

ul.pagination li > a:hover {
  outline: none !important;
  background: #c1ad8b;
  color: #000;
  text-decoration: none;
}

ul.pagination > .active > a, ul.pagination > .active > a:hover {
  background-color: #111;
  color: #c1ad8b;
  border: 1px solid #c1ad8b;
}

ul.pagination li.disabled > a {
  background-color: #000000;
  border: 1px solid #2d2d2d;
  color: #ffffff;
  line-height: 29px;
  margin-left: -1px;
  padding: 6px 12px;
}

ul.pagination li:nth-child(1) > a {
  margin-right: -2px;
}

ul.pagination li:nth-child(2) > a {
  margin-right: -3px;
}

ul.pagination li:nth-last-child(2) > a {
  margin-left: -4px;
}

ul.pagination li:last-child > a {
  margin-left: -5px;
}


.slick-loading .slick-list {
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('/frontend/boss/V/fonts/slick.eot?ver=1.01');
  src: url('/frontend/boss/V/fonts/slick.eot?#iefix&ver=1.01') format('embedded-opentype'), url('/frontend/boss/V/fonts/slick.woff?ver=1.01') format('woff'), url('/frontend/boss/V/fonts/slick.ttf?ver=1.01') format('truetype'), url('/frontend/boss/V/fonts/slick.svg#slick?ver=1.01') format('svg');
}

.slots .jackpot {
  position: absolute;
  right: 186px;
}

.jackpot .dollar-sign img {
  position: relative;
  float: left;
  top: -9px;
  left: -3px;
}

.slots .jackpot-odometer {
  height: 41px;
  overflow: hidden;
  position: absolute;
  width: 190px;
  left: 16px;
  top: -10px;
}

.slot-nav {
  background: #383536;
  background: -moz-linear-gradient(top, #383536 0%, #262325 100%);
  background: -webkit-linear-gradient(top, #383536 0%, #262325 100%);
  background: linear-gradient(to bottom, #383536 0%, #262325 100%);
  border-bottom: 1px solid #000000;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 0;
}

.slot-nav > li {
  float: left;
  padding: 0;
  width: 20%;
  font-size: 8px;
  line-height: 3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slot-nav a {
  color: #FFFFFF;
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.slot-nav a.active {
  background-color: #101011;
}

.slot-game {
  background: #1a1216
}

.footer-copyright {
  /*background: #0c080b;*/
}

.slot-item {
  border: 1px solid #000000;
  /*border-radius: 5px;*/
  box-shadow: inset 0 0 1px 2px rgba(255, 255, 255, 0.1);
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #1a191a;
}

.slot-title {
  /*background-color: rgba(0,0,0,0.6);*/
  background: #333333;
  bottom: 0;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin-bottom: 0;
}

/*.slot-game .mobile-slot-wrapper{ padding:0 10px;}*/


/*CSS STARTS HERE*/
.btn-red-plain,
.btn-red {
  background: #c1ad8b;
  border: 1px solid #000000;
  /*border-radius: 7px;*/
  color: #000;
}

.btn-red-plain:active, .btn-red-plain:focus,
.btn-red:active, .btn-red:focus {
  background: #c1ad8b;
}

.btn-red-plain {
  border: 1px solid #650000;
}

.btn-red-plain:active, .btn-red-plain:focus,.btn-red-plain:hover,.btn-primary:active:hover{
  border: 1px solid #c1ad8b;
  background-color: #c1ad8b;
  color:#1d1d1d ;
}

.btn-grey {
  background: #666666;
  color: #ffffff;
}

.btn-grey:active, .btn-grey:focus {
  background: #666666;
  color: #ffffff;
}

.btn-black {
  background: #282527;
  color: #999999;
}

.btn-black:active, .btn-black:focus {
  background: #282527;
  color: #999999;
}

.btn-yellow {
  background: #a47c00;
  background: -moz-linear-gradient(top, #a47c00 0%, #b28700 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a47c00), color-stop(100%, #b28700));
  background: -webkit-linear-gradient(top, #a47c00 0%, #b28700 100%);
  background: -o-linear-gradient(top, #a47c00 0%, #b28700 100%);
  background: -ms-linear-gradient(top, #a47c00 0%, #b28700 100%);
  background: linear-gradient(to bottom, #a47c00 0%, #b28700 100%);
  border-radius: 7px;
  color: #ffffff;
}


[class^="col-xs"] {
  padding: 0;
}

.col-xs-12 {
  padding: 0
}

/*.header{
  height: 67px;
  position: relative;
}*/
.header .logo img {
  margin: 5px 0 0 10px;
  width: 165px;
}

.header .navigation {
  margin: 9px 10px;
}

.header .navigation.logged-in {
  margin: 13px 37px 0 0;
}

.header .navigation li {
  color: #7a746d;
  font-weight: 700;
  font-size: 15px;
  border-left: 1px solid #000000;
  line-height: 3;
  padding-left: 10px;
}

.ngdialog-wallet .logout-nav li:active,
.ngdialog-wallet .logout-nav li:focus,
.header .navigation li:active,
.header .navigation li:focus {
  outline: 1px solid #e99d3d;
}

.header .navigation.logged-in li {
  line-height: 1.1em;
  text-align: right;
}

.header .navigation.logged-in .title {
  font-size: 12px;
  font-weight: 500;
}

.header .navigation.logged-in .top-balance {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
}

.header .icon-user {
  background: url("../images/user-icon.png") center no-repeat;
  width: 22px;
  height: 26px;
  position: absolute;
  right: 11px;
  top: 18px;
}

.casino {
  padding: 12px;
}

.slots-top,
.casino-top,
.slots-bottom,
.casino-bottom {
  width: 100%;
  float: left;
  height: 60px;
}

.slots-top,
.casino-top {
  height: 67px;
}

.casino .casino-buttons {
  position: relative;
  float: left;
  width: 100%;
}

.casino .casino-buttons img {
  width: 100%;
}

.casino .casino-buttons .btn-red {
  padding: 3px 9px;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 374px) {
  .casino-buttons .btn-red {
    bottom: 2px;
  }
}

@media only screen and (min-width: 375px) {
  .casino-buttons .btn-red {
    bottom: 7px;
  }
}

@media only screen and (min-width: 425px) {
  .casino-buttons .btn-red {
    bottom: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .casino-buttons .btn-red {
    bottom: 26px;
  }

}

@media only screen and (min-width: 1024px) {
  .casino-buttons .btn-red {
    bottom: 41px;
  }
}

@media only screen and (min-width: 1440px) {
  .casino-buttons .btn-red {
    bottom: 66px;
  }
}


/*.slots .slots-nav {*/
/*  text-align: center;*/
/*  color: #808080;*/
/*  background: #000000;*/
/*  border: 1px solid #28200f;*/
/*  padding: 10px 0;*/
/*  font-weight: 700;*/
/*  font-size: 12px;*/
/*  max-height: 39px;*/
/*  text-overflow: ellipsis;*/
/*}*/

/*.slots .slots-nav.active {*/
/*  color: #ffffff;*/
/*  background: #820000;*/
/*}*/

.progressive-content {
  border-top: 1px solid #000000;
  height: 85px;
  left: -20px;
}

.progressive-content.bg-1 {
  background: url("../images/slots/slot-header-1.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-2 {
  background: url("../images/slots/slot-header-2.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-3 {
  background: url("../images/slots/slot-header-3.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-4 {
  background: url("../images/slots/slot-header-4.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-5 {
  background: url("../images/slots/slot-header-5.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-6 {
  background: url("../images/slots/slot-header-6.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-8 {
  background: url("../images/slots/slot-header-7.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-12 {
  background: url("../images/slots/slot-header-8.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-9 {
  background: url("../images/slots/slot-header-9.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-10 {
  background: url("../images/slots/slot-header-10.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

.progressive-content.bg-11 {
  background: url("../images/slots/slot-header-11.jpg") #322712 right no-repeat;
  background-size: auto 85px;
}

/*.progressive-content.bg-7 { background:#322712 }*/


.ngdialog.ngdialog-theme-default.ngdialog-signup {
  padding-top: 17px;
}

.ngdialog.ngdialog-theme-default.ngdialog-login {
  padding: 0;
}

.ngdialog.ngdialog-theme-default.ngdialog-signup .ngdialog-content {
  background: black;
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
}

.ngdialog.ngdialog-theme-default.ngdialog-signup {
  padding-bottom: 0;
}

.ngdialog.ngdialog-theme-default.ngdialog-login .ngdialog-content {
  width: 394px;
  background: #282426;
}

.ngdialog-login .ngdialog-login_heading {
  line-height: 1;
}

.ngdialog-login button {
  border-radius: 0;
  margin-bottom: 10px;
}

.ngdialog-signup_heading,
.ngdialog-login_heading {
  padding-top: 15px;
}

.ngdialog-signup_heading .title,
.ngdialog-login_heading .title {
  font-size: 30px;
}

.ngdialog-signup_heading .desc,
.ngdialog-login_heading .desc {
  color: #615e5e;
}

.ngdialog-login .popup-form {
  margin-top: 20px;
  margin-top: 20px;
}

.ngdialog-login .close-overlay {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  color: #e2574c;
  font-size: 40px;
  padding-top: 10px;
  text-align: center;
}

.ngdialog-login .close-overlay button:active {
  outline: transparent;
}

.ngdialog-content .close-overlay .close-dialog .btn-primary:before {
  content: '\00D7';
  font-size: 20px;
  font-weight: 700;
}

.ngdialog-content .close-overlay .close-dialog .btn-primary:after {
  transform: skewX(20deg);
  content: "";
  background: linear-gradient(to bottom, #c59953 0%, #4b362f 100%);
  display: block;
  height: 42.5px;
  left: 7px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-radius: 0 0 0 5px;
  position: absolute;
  top: -1px;
  width: 15px;
  transition: all 0.3s ease;
}

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  /*background: #000000;*/
  color: #bbb;
  content: '\00D7';
  font-size: 40px;
  font-weight: 400;
  height: 25px;
  line-height: 25px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 0;
  width: 30px;
}

/*.ngdialog.ngdialog-theme-default.ngdialog-login .ngdialog-overlay{
  background: url("../images/bg-login.jpg") center no-repeat;
  background-size: cover;
}*/
.ngdialog-signup .form-control,
.ngdialog-login .form-control {
  border-radius: 0;
  /* padding: 22px 12px;
   font-size: 17px;*/
}

.ngdialog-signup .signup__form fieldset:nth-of-type(3) {
  padding-bottom: 10px;
}

.ngdialog-login .info {
  line-height: 3;
}

.ngdialog-login__footer {
  margin-top: 10px;
}

.ngdialog-login .input-group-addon{
  background-color: #282828;
  border-radius: 0;
  border: 1px solid #585858;
  border-right: 0;
  position: relative;
}

.ngdialog-login .input-group-addon:after{
  content: "";
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #666666;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ngdialog-signup .btn-theme,
.ngdialog-signup .btn-red,
.ngdialog-login__footer .btn-red,
.ngdialog-login .ngdialog-content .btn-red,
.ngdialog-login__footer .btn-grey {
  border: transparent;
}

.ngdialog-login .input-group{
  margin-bottom: 10px;
}

.ngdialog-login .form-control {
  background-color: #282828;
  border-radius: 0;
  border: 1px solid #585858;
  border-left: 0;
  box-shadow: none;
  color: #ffffff;
  height: 40px;
}

.ngdialog-login.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 100%;
  margin-left: 0;
  background: #171717;
  padding: 0px;
  /*height: 100%;*/
  min-height: 100vh;
  overflow-y: -moz-hidden-unscrollable;
}

.ngdialog-login.ngdialog.ngdialog-theme-default .ngdialog-content .ngdialog__content {
  padding: 0px 40px;
  background: none;
}

.ngdialog-login.ngdialog.ngdialog-theme-default
.ngdialog-signup .btn-theme {
  border-radius: 0
}

.ngdialog.ngdialog-theme-default.ngdialog-signup .ngdialog-overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.ngdialog-signup .ngdialog__content {
  background: #201f1f;
  color: #999999;
  padding: 15px;
}

.ngdialog-signup .group {
  position: relative;
}

.ngdialog-signup .float-button {
  position: absolute;
  bottom: 3px;
  right: 5px;
}

.ngdialog-signup .signup-inquiry {
  font-size: 10px;
  margin-bottom: 5px;
}

.has-error .form-control {
  background: url("../images/icon-error.png") right 10px center no-repeat;
  border-color: #9b001b;
}

.has-success .form-control {
  background: url("../images/icon-valid.png") right 10px center no-repeat;
  border-color: #3c763d;
}

.has-not-used.has-success .form-control,
.has-not-used.has-success .form-control:hover,
.has-not-used.has-success .form-control:focus,
.has-not-used .form-control,
.has-not-used .form-control:hover,
.has-not-used .form-control:focus {
  background: none;
  border-color: #CCCCCC;
  box-shadow: none;
}


.ngdialog.ngdialog-theme-default.ngdialog-custom.ngdialog-wallet .ngdialog-content {
  position: absolute;
  width: auto;
  left: 0;
  background: #171717;
  height: 100vh;
}

.ngdialog-wallet .ngdialog__heading {
  /*background: url("../images/wallet/bg-user-wallet.jpg") center no-repeat;*/
  /*background-size: 100% 100%;*/
  position: relative;
  float: left;
  width: 100%;
  padding-top: 2px;
}

.ngdialog-wallet .ngdialog__heading.desktop {
  background: linear-gradient(to bottom, #4b362f 0%, #c59953 100%);
}

.ngdialog-wallet .ngdialog__heading .ngdialog__title {
  font-size: 14px;
  line-height: 1;
  padding: 11px 20px;
  color: #fff;
}

.ngdialog-wallet .ngdialog__heading .ngdialog__title strong {
  margin-left: 5px;
}

.ngdialog-wallet .logout-nav {
  margin: 10px 10px;
}

.ngdialog-wallet .logout-nav li {
  color: #7a746d;
  font-weight: 900;
  font-size: 14px;
  padding: 5px 8px;
  background: #201d1e;
  color: #999;
}

.ngdialog-wallet .my-wallet {
  float: left;
  position: relative;
  width: 100%;
  background: #111111;
  font-size: 13px;
  color: #c1ad8b;
  padding: 7px 20px;
  font-weight: 700;
  text-align: center;
}

.text-white,
.ngdialog-wallet .my-wallet .title {
  color: #ffffff;
}

.ngdialog-wallet .ngdialog__content {
  background: #1d1d1d;
}

.balance__list li {
  /*background: url("../images/bg-wallet.jpg") center no-repeat;*/
  /*background-size: 100% 100%;*/
}

.balance__list .gspName {
  color: #999999;
  font-weight: 600;
}

.balance__content--total-balance {
  background: #fff;
  /*background: url("../images/wallet/bg-user-wallet.jpg") center no-repeat;*/
  background-size: 100% 100%;
  color: #fff;
  background: #111111;
}

.navigation-buttons ul {
  color: #ffffff;
  background: #1e170c;
}

.navigation-buttons li {
  border-top: 1px solid #352b1b;
  border-bottom: 1px solid #000000;
  padding: 10px 10px;
  background: #100c05;
}

.get-balance:active, .get-balance:focus,
.navigation-buttons li:active, .navigation-buttons li:focus {
  outline: 1px solid #e99d3d;

}

.navigation-buttons .badge {
  background: #840000;
}

.ngdialog-wallet .close-overlay {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  font-size: 40px;
  padding-top: -2px;
  z-index: 3;
  text-align: center;
}

.ngdialog-wallet .close-overlay:active,
.ngdialog-wallet .close-overlay:focus {
  border: 0px solid #e99d3d;
}

.ngdialog.ngdialog-theme-default.ngdialog-notice .ngdialog-content {
  background: url("../images/bg-notice.jpg") center no-repeat;
  background-size: cover;
}

.popup-notice__header {
  padding: 12px 10px;
  color: #ffffff;
  border-bottom: 1px solid #3a3a3a;

}

.ngdialog-notice .btn-red {
  border: none;
}

.ngdialog-notice__content {
  padding: 10px 20px;
}

.ngdialog-notice__content .title {
  color: #c3a660;
}

.ngdialog-notice__content .popup-content p span {
  color: #ffffff !important;
}

.popup-notice__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  float: left;
  border-top: 1px solid #3a3a3a;
  padding: 10px;
}


/*notice*/

.ngdialog.ngdialog-theme-default.ngdialog-notice .ngdialog-content {
  background: url(/mobile/frontend/boss/V/bg-notice.jpg) 100% top no-repeat #1a1819;
  background-size: cover;
}

.ngdialog-notice-page .ngdialog__title {
  background-color: transparent;
  border-top: 0;
  margin-left: 13px;
  margin-right: 13px;
  border-bottom: 1px solid #999;
  padding: 6px 100px;
}

.ngdialog-notice-page .ngdialog__content {
  background: none;
  height: 300px;
  overflow-y: scroll;
}

.ngdialog-notice-page .ngdialog__content h5 {
  font-size: 20px;
  font-weight: bold;
  color: #eeca7a;
}

.ngdialog-notice-page .ngdialog__content p {
  color: #999999;
}

.ngdialog-notice-page button {
  background: -moz-linear-gradient(#373638, #232223, #373638);
  background: -webkit-linear-gradient(#373638, #232223, #373638);
  background: linear-gradient(#373638, #232223, #373638);
  color: #ffffff;
  position: fixed;
  border: 0;
  border-bottom: 1px solid #000;
  bottom: 0;
}

.ngdialog-notice-page button:hover {
  color: #ffffff;
}

.signup-error {
  color: #9b001b;
  font-weight: bold;
  letter-spacing: -0.06em;
}

.has-success .signup-error {
  display: none;
}

.has-error .signup-inquiry {
  display: none;
}

/**/
.header {
  position: relative;

  /*border-top: 2px solid #000;*/
}

#header {
  width: 100%;
  background: url(../images/bg-header.png) top repeat-x;
}

.logo {
  position: absolute;
  padding: 6px;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.banner {
  background: url("/mobile/frontend/boss/V/banner/mobile-main-banner-mobile.jpg") #130f11 center no-repeat;
  background-size: 100%;
  min-height: 358px;
  width: 100%;
  top: 0;
  /*position: absolute;*/
  z-index: -2;
}

.banner .banner-slider {
  margin-top: 200px;
  margin-bottom: 0px;
}

.banner-slider img {
  margin: auto;
  width: 500px;
}

.banner-slider .slick-dots li button:before {
  font-size: 8px;
  color: #999999;
  opacity: 1;
}

.banner-slider .slick-dots li.slick-active button:before {
  color: #c1ad8b;
}

.banner-slider .slick-dots li {
  width: 15px;
}

.banner-slider .slick-dots {
  bottom: -18px;
}

.bg-primary {
  /*background: #391310;*/
  /*background: -moz-linear-gradient(top, #391310 0%, #781b13 100%);*/
  /*background: -webkit-linear-gradient(top, #391310 0%,#781b13 100%);*/
  /*background: linear-gradient(to bottom, #391310 0%,#781b13 100%);*/
  background-color: #232323;
}

/*.bg-primary-header{*/
/*  background: linear-gradient(to bottom,#292929 0%,#000000 100%);*/
/*}*/


.btn-primary {
  border:1px solid #c1ad8b ;
  background: #111111;
  color: #c1ad8b;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active:focus{
  border:1px solid #111111;
  border-color:1px solid #111111 !important;
  background: #c1ad8b;
  background-color: #c1ad8b !important;
  color: #111111;
}

.ngdialog-login .btn-primary:active,
.ngdialog-login .btn-primary:focus,
.ngdialog-login .btn-primary:hover,
.ngdialog-login .btn-primary:active:focus{
  border:1px solid #111111 !important;
  background: #c1ad8b !important;
  color: #111111 !important;
}

.footer-btn.btn-primary{
  border: none;
  background: #c1ad8b;
  color: #000000;
}

.footer-btn.btn-primary:active,
.footer-btn.btn-primary:focus,
.footer-btn.btn-primary:hover,
.footer-btn.btn-primary:active:focus{
  border: none;
  background: #c1ad8b !important;
  color: #111111;
}

.btn-top-left, .btn-top-right, .btn-bottom-left, .btn-bottom-right {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  z-index: 2;
  /*padding: 6px 20px;*/
}


.btn-top-left, .btn-bottom-left {
  border-left: 0;
}

.btn-top-right, .btn-bottom-right {
  border-right: 0;
}

.btn-top-left, .btn-top-right {
  border-top: 0;
  border-bottom: 2px solid #000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /*border-bottom: 2px solid #000;*/
}

.game-content, .game-content2 {
  padding: 10px 5px 10px 5px;
  background-color: #2d2d2d;
  overflow: auto;
}

.game-content .game-button, .game-content2 .game-button {
  position: relative;
  float: left;
  height: 110px;
  border-radius: 5px;
  width: 49%;
  margin-right: 5px;
  margin-bottom: 10px;
}

.game-content .game-button-content, .game-content2 .game-button-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  padding: 5px;
}

.game-content .game-button-content p, .game-content2 .game-button-content p {
  color: #ffffff;
  margin: 0 0 2px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  /*font-size: 14pt;*/
}


/*.live-button-1 {
  background: url(../images/live-buttons/mobile-live-button-1.jpg) center no-repeat #252326;
  background-size: 100%;
}

.live-button-2 {
  background: url(../images/live-buttons/mobile-live-button-2.jpg) center no-repeat #252326;
  background-size: 100%;
}

.live-button-3 {
  background: url(../images/live-buttons/mobile-live-button-3.jpg) center no-repeat #252326;
  background-size: 100%;
}

.live-button-4 {
  background: url(../images/live-buttons/mobile-live-button-4.jpg) center no-repeat #252326;
  background-size: 100%;
}*/

.sports-button-1 {
  background: url(../images/sports-buttons/mobile-sports-button-1.jpg) center no-repeat #252326;
  background-size: 100%;
}

.sports-button-2 {
  background: url(../images/sports-buttons/mobile-sports-button-2.jpg) center no-repeat #252326;
  background-size: 100%;
}

.sports-button-3 {
  background: url(../images/sports-buttons/mobile-sports-button-3.jpg) center no-repeat #252326;
  background-size: 100%;
}

.sports-button-4 {
  background: url(../images/sports-buttons/mobile-sports-button-4.jpg) center no-repeat #252326;
  background-size: 100%;
}

.sports-button-5 {
  background: url(../images/sports-buttons/mobile-sports-button-5.jpg) center no-repeat #252326;
  background-size: 100%;
}

.sports-button-6 {
  background: url(../images/sports-buttons/mobile-sports-button-6.jpg) center no-repeat #252326;
  background-size: 100%;
}


.game-buttons {
  position: relative;
  background: #0c080b;
}

.game-buttons .button, .game-button-2 .button {
  padding: 10px;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
  background: url("/mobile/frontend/boss/V/sports-header.jpg") center no-repeat;
}

.game-button-1 a,
.game-button-2 a,
.game-button-3 a {
  color: #d1d1d1;
  text-decoration: none;
}

.game-button-1 a span,
.game-button-2 a span,
.game-button-3 a span {
  color: #ffffff;
}

.game-buttons .game-button-1 img,
.game-buttons .game-button-2 img {
  height: auto;
  border: 1px solid #000000;
  width: 100%;
}


/* playtechHTML5 */

.ngdialog-playtech.ngdialog.ngdialog-theme-default {
  padding: 0;
}

.ngdialog-playtech.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 100%;
  height: 100%;
  background: url("../images/playtech/bg.png") #000000 top right / 100% no-repeat;
  padding: 0;
}

.ngdialog-playtechHTML5.ngdialog.ngdialog-theme-default {
  padding: 0;
}

.footer-copyright {
  padding: 10px 10px 40px 10px;
  text-align: center;
  color: #666666;
  font-size: 12px;
  bottom: 0;
  width: 100%;
}

.footer-copyright span {
  color: #cab593;
  font-weight: bold
}

.footer-copyright a {
  background: #333333;
  color: #ffffff;
  border: 0;
  padding: 7px;
  line-height: 1;
}

/*media query*/
@media only screen and (max-width: 320px) {
  .game-content2 .game-button, .game-content .game-button {
    width: 49%
  }

  .banner {
    background-size: 100%;
  }

  .logo img {
    margin: 10px 0px;
  }

  .game-content .game-button-content p, .game-content2 .game-button-content p {
    color: #ffffff;
    margin: 0px 0 2px;
    font-weight: bold;
    font-size: 13px;
    padding-top: 5px;
  }

  .ngdialog-login.ngdialog.ngdialog-theme-default .ngdialog-content {
    /*width: 278px;*/
  }

  .ngdialog-login .ngdialog__footer p {
    font-size: 11px;
    font-weight: 300;
    color: white;
  }
}

@media only screen and (min-width: 360px) {
  .slots .col-xs-5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95px;
  }

  .banner .banner-slider {
    margin-top: 186px;
  }

  .banner-slider img {
    margin: auto;
    width: 300px;
  }

  .ngdialog-login .ngdialog__footer p {
    font-size: 12px;
    font-weight: 300;
    color: white;
  }
}

@media only screen and (min-width: 375px) {
  .game-content2 .game-button, .game-content .game-button {
    width: 49.3%
  }
}

@media only screen and (min-width: 411px) {
  .game-content2 .game-button, .game-content .game-button {
    width: 49.3%;
  }

}

@media only screen and (min-width: 768px) {
  .game-content2 .game-button, .game-content .game-button {
    width: 49.6%;
    height: 200px;
  }

  /*.logo img {
    height: 140px;
    width: 136px;
    margin: 10px 0px;
  }*/

  .game-content .game-button-content p, .game-content2 .game-button-content p {
    color: #ffffff;
    margin: 0px 0 2px;
    font-weight: bold;
    font-size: 14pt;
    padding-top: 5px;
  }

  .banner .banner-slider {
    margin-top: 240px;
  }

  .banner-slider img {
    margin: auto;
    height: 98px;
    width: 461px;
  }
}

@media only screen and (max-width: 414px) {
  .banner .banner-slider {
    margin-top: 115px;
  }

  .banner {
    background: url("/mobile/frontend/boss/V/banner/mobile-main-banner-mobile.jpg") #000000 no-repeat;
    background-size: 100%;
    min-height: 230px;
    width: 100%;
    top: 0;
    /* position: absolute; */
    z-index: -2;
  }

  .banner-slider img {
    margin: auto;
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .game-content2 .game-button, .game-content .game-button {
    width: 49.6%;
    height: 236px;
  }

  /*.logo img {
    height: 140px;
    width: 136px;
    margin: 10px 0px;
  }*/

  .banner {
    background: url(../images/banner/mobile-main-banner.jpg) #130f11 center center no-repeat;
    background-size: 100%;
    min-height: 450px;
    width: 100%;
    top: 0;
    /* position: absolute; */
    z-index: -2;
  }

  .game-content .game-button-content p, .game-content2 .game-button-content p {
    color: #ffffff;
    margin: 0px 0 2px;
    font-weight: bold;
    font-size: 14pt;
    padding-top: 5px;
  }

  .banner .banner-slider {
    margin-top: 330px;
  }

  .banner-slider img {
    margin: auto;
    height: 98px;
    width: 538px;
  }
}

@media only screen and (min-width: 1440px) {
  .game-content .game-button {
    height: 200px;
  }

  /*.game-content .game-button-content {*/
  /*  margin-top: 160px;*/
  /*}*/
  .banner {
    background-size: 30%;
  }
}

@media only screen and (min-width: 2560px) {
  .game-content .game-button {
    height: 330px;
  }

  .game-content .game-button-content {
    margin-top: 280px;
  }
}
/*
@media only screen and (min-width: 568px) and (orientation: landscape) {
  .banner .banner-slider {
    margin-top: 200px;
  }
}

@media only screen and (min-width: 736px) and (orientation: landscape) {
  .banner .banner-slider {
    margin-top: 284px;
  }

  .banner-slider img {
    margin: auto;
    height: 70px;
    width: 400px;
  }
}

@media only screen and (min-width: 667px) and (orientation: landscape) {
  .banner .banner-slider {
    margin-top: 284px;
  }

  .banner-slider img {
    margin: auto;
    height: 70px;
    width: 400px;
  }
}

@media only screen and (min-width: 667px) and (orientation: landscape) {
  .banner .banner-slider {
    margin-top: 270px;
  }

  .banner-slider img {
    margin: auto;
    height: 70px;
    width: 400px;
  }
}

@media only screen and (min-width: 812px) and (orientation: landscape) {
  .banner .banner-slider {
    margin-top: 270px;
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .banner .banner-slider {
    margin-top: 340px;
  }

  .banner-slider img {
    height: 90px;
    width: 550px;
  }
}

@media only screen and (min-width: 568px) and (orientation: landscape) {
  .game-content .game-button, .game-content2 .game-button {
    height: 200px;
    width: 49.5%;
  }

  .game-content .game-button-content {
    margin-top: 75px;
  }

  .banner {
    background-size: 99%;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .game-content .game-button, .game-content2 .game-button {
    height: 250px;
    width: 49.6%;
  }

  .game-content .game-button-content {
    margin-top: 100px;
  }

  .banner {
    background-size: 100%;
  }
}

@media only screen and (min-width: 1280px) and (orientation: landscape) {
  .game-content .game-button, .game-content2 .game-button {
    height: 304px;
  }

  .game-content .game-button-content {
    margin-top: 135px;
  }
}

@media only screen and (min-width: 1440px) and (orientation: landscape) {
  .game-content .game-button {
    height: 200px;
  }

  .game-content .game-button-content {
    margin-top: 160px;
  }
}

@media only screen and (min-width: 2560px) and (orientation: landscape) {
  .game-content .game-button {
    height: 350px;
  }

  .game-content .game-button-content {
    margin-top: 300px;
  }
}*/

.game-content .game-button:nth-child(even), .game-content2 .game-button:nth-child(even) {
  margin-right: 0px;
}

.game-content .game-button:nth-child(5), .game-content .game-button:nth-child(6), .game-content2 .game-button:nth-child(3), .game-content2 .game-button:nth-child(4) {
  margin-bottom: 0px;
}

.ngdialog-wallet-container .guest-dm {
  width: 38px;
  background: #b13d3b;
  text-align: center;
  height: 18px;
  vertical-align: top;
  line-height: 18px;
  border-radius: 3px;
  margin-left: 7px;
  vertical-align: middle;
}

.balance .balance__list .total {
  /*margin-bottom: 10px;*/
  height: 32px;
}

.ngdialog-content .btn-black {
  margin-top: 1px;
  background: #2d2d2d;
  color: #C1AD8B;
  font-weight: 600;
}

.ngdialog-content .btn-group-justified .btn-group:nth-child(1) {
  /*padding-right: 1px;*/
}

/*.balance .balance__list li:last-of-type{*/
/*  margin-bottom: 10px;*/
/*}*/
.live-chat {
  position: absolute;
  width: 100%;
  left: 0;
  outline: none;
}

.custom-loader-container {
  background-color: #212426;
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.loader svg {
  animation: rotate360 .75s linear infinite;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
  fill: #e4d9c8;
}

.custom-loader-container {
  background-color: #212426;
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.custom-loader {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* End: loader */
.ngdialog.ngdialog-theme-default.ngdialog-direct .ngdialog-content {
  background: black;
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.ngdialog-login .ngdialog__footer p {
  font-weight: 300;
  color: white;
}

.ngdialog-custom .ngdialog__content .list-unstyled li > a {
  font-weight: 700;
  background: #999999;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ngdialog-custom .ngdialog__heading .badge {
  background-color: #b13d3b;
}

.ngdialog-custom .ngdialog__content .list-unstyled li .badge {
  background-color: #b13d3b;
  font-size: 12px;
  margin-bottom: 4px;
}

.ngdialog__logo {
  padding-top: 50px;
}

.right-align {
  text-align: right;
  position: relative;
}

fieldset label span {
  color: white;
  font-weight: 700;
}

.process-forms .form-control {
  background-color: #202020;
  border: solid 1px #3E3E3E;
  color: #949494;
  font-size: 16px;
  height: 35px;
  padding: 5px 10px;
}

.process-forms label span:nth-child(2){
  color: #f56161;
}

.process-forms .wallet-button button {
  padding: 5px 8px;
  margin-top: 10px;
}

.process-forms select.form-control {
  padding: 5px;
}

.alert.alert-danger{
  background-color: #111111;
  border-color: #111111;
  color: #c1ad8b;
  margin-bottom: 10px;
}

/* micropopup */
.ngdialog-playtechHTML5.ngdialog.ngdialog-theme-default .ngdialog-content{
  width: 100%;
  height: 100%;
  background: url("../images/microgaming/bg.png") #000000 top right / 100% no-repeat;
}

.ngdialog-playtechHTML5.ngdialog.ngdialog-theme-default{ padding: 0; }


/*notice event button*/
.ngdialog--promotion .ngdialog-content{
  background: #ffffff;
}

.customercenter-container {
  /*padding: 10px 0;*/
}

.customercenter-container .list-inline{
  margin: 0 auto;
  font-size: 0;
}

.customercenter-container ul li{
  position: relative;
  text-align: center;
  width: 25%;
  height: 45px;
  color: #ffffff;
  padding-right: 10px;
  font-size: 14px;
  letter-spacing: -0.5px;
  word-break: keep-all;
}
.customercenter-container li img{
  width: 30px;
}
.customercenter-container ul li:after{
  content: "";
  position: absolute;
  height: 30px;
  width: 2px;
  background-color: #272727;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.customercenter-container ul li:last-child:after{
  display: none;
}

.filter-color-yellow svg path{
  fill:#deb97d;
}
.customercenter-container li .notice{
  background: url("/mobile/frontend/boss/V/customer-center/notice-icon.svg");
}

/*notice event*/
.customer-nav [class*='col-'] {
  padding: 0;
}

.comment-box {
  border: 1px solid #000000;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-height: 500px;
  overflow-y: auto;
}

.comment-box-read {
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.comment-box-read {
  margin-left: 30px;
}

.comment-box__header,
.comment-box-read__header {
  background-color: #111111;
  color: #C1AD8B !important;
  padding: 5px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.comment-box__title,
.comment-box__date {
  color: #C1AD8B;
  margin: 0;
}

.comment-box__content,
.comment-box-read__content {
  background-color: #1D1D1D;
  padding: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-color: #111111;
  color: #fff;
}


.customer {
  padding: 10px;
  height: 100vh;
}

.customer .button-group .button {
  background-color: #333333;
}

.customer-nav {
  /*margin-top: 40px;*/
  padding: 0;
}

.customer-nav .list-inline{
  margin: 0;
}

.customer-nav__list .customer-nav__items .customer-nav__link {
  line-height: 1.5;
  padding: 10px 5px;
  color: #ffffff;
  border: 1px solid #c29652;
}

.customer__content:nth-child(odd) {
  font-size: 14px;
  outline: 0;
  height: 35px;
  background: #1d1d1d;
}

.customer__content:nth-child(even) {
  font-size: 14px;
  outline: 0;
  height: 35px;
}

.customer__content.active {
  background-color: #333333;
}

.customer__content__title, .customer__content__date {
  color: #999999;
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
  position: relative;
  top: 5px;
}

.customer__content__title {
  color: #ffffff;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 67%;
  margin-left: 20px;
  margin-right: 0;
}


.customer-nav__items {
  /*border-bottom: 1px solid #d5d5d5;*/
  float: left;
}

.customer-nav__items.pull-right {
  margin-left: 0;
}

.customer-nav__link {
  /*border-right: 1px solid #d5d5d5;*/
  color: #333333;
  text-align: center;
  white-space: nowrap;
}

.navFaq {
  border: none;
}

.customer-nav__link {
  margin-bottom: 0;
  border-radius: 0;
}

.customer-nav__link.active{
  background: #8a2015;
  background: -moz-linear-gradient(top, #8a2015 0%, #b73528 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8a2015), color-stop(100%, #b73528));
  background: -webkit-linear-gradient(top, #8a2015 0%, #b73528 100%);
  background: -o-linear-gradient(top, #8a2015 0%, #b73528 100%);
  background: -ms-linear-gradient(top, #8a2015 0%, #b73528 100%);
  background: linear-gradient(to bottom, #4b362f 0%, #c59953 100%);
  color: #ffffff;
  border-radius: 0;
}

.customer__title {
  font-weight: 700;
  color: #ffffff;
}
.customer .contact li{
  height: 70px;
}

.customer .contact .col-xs-2{
  text-align: center;
  line-height: 45px;
}
.customer-info{
  display: grid;
  color: #ffffff;
}
.customer-info .gold-text{
  letter-spacing: -1.44px;
  color: #c1ad8b;
  font-size: 24px;
}

.btn-primary.live-chat{
  background: #2d2d2d;
}

.btn-primary.live-chat:hover,
.btn-primary.live-chat:active,
.btn-primary.live-chat:focus{
  background: #2d2d2d !important;
  color: #ffffff !important;
  border: none;
}

.footer .btn{
  height: 38px;
}

.footer.main .btn.btn-primary:hover,
.footer.main .btn.btn-primary:active,
.footer.main .btn.btn-primary:focus{
  color: #111;
  background: #c1ad8b;
  border: none;
}



.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}

.game-buttons-container{
  width: 100%;
  padding: 10px;
  font-size: 0;
}

.game-buttons-container .game-buttons{
  width: calc(100% / 1);
  height: 140px;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 80px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 3px 3px 0 0;
  position: relative;
}

.game-buttons-container .game-buttons:nth-child(2),
.game-buttons-container .game-buttons:nth-child(4){
  margin-right: 0;
  float: right;
}

/*.game-buttons-container .game-buttons:nth-child(3){
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
}*/

.game-buttons .title-container {
  position: absolute;
  width: 100%;
  height: 30px;
  background-color: black;
  opacity: 0.8;
  bottom: 0;
  line-height: 30px;
  text-align: center;
}

.game-buttons.live{
  background: url("/frontend/boss/V/casino.png") top center / 100% no-repeat;
}

.game-buttons.others{
  background: url("/frontend/boss/V/slot.png") top center / 100% no-repeat;
}

.game-buttons.mini{
  background: url("/frontend/boss/V/mini.png") top center / 100% no-repeat;
}

.game-buttons.sports{
  background: url("/frontend/boss/V/sports.png") top center / 100% no-repeat;
}

.game-buttons.poker{
  background: url("/frontend/boss/V/mobile-IDN-button.jpg") top center / 100% no-repeat;
}

.game-buttons.slot{
  background: url("/frontend/boss/V/mobile-slot-button.jpg") top center / 100% no-repeat;
}
.game-buttons.comming{
  background: url("/frontend/boss/V/comming.png?ver=1.01") top center / 100% no-repeat;
}

.wallet-buttons-container{
  width: 100%;
  height: 60px;
  background: #111111;
  padding: 11px 18px;
  text-align: center;
}

.wallet-buttons-container .btn-wallet{
  width: calc(100% / 2 - 10px);
  height: 38px;
  border-right: 3px;
  border-radius: 3px;
  font-weight: bold;
}

.wallet-buttons-container .btn-wallet.deposit{
  background: transparent;
  border: 1px solid #999999;
  color: #999999;
}

.wallet-buttons-container .btn-wallet.withdraw{
  background: #c1ad8b;
  border: 1px solid #c1ad8b;
  color: #111111;
  margin-right: 0;
}


@media only screen and (min-width: 320px) and (max-width: 320px)  {
  .game-buttons-container .game-buttons{
    width: calc(96% / 2);
  }
}

/*games popup*/

.ngdialog.ngdialog-theme-default.ngdialog-gamespopup.ngdialog-gamespopup{
  padding: 0;
}
.ngdialog.ngdialog-theme-default.ngdialog-gamespopup.ngdialog-gamespopup .ngdialog-content{
  height: 100%;
  padding: 0;
  background: #1d1d1d;
  width: 100%;
}

.ngdialog-games-page .title{
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 5px 20px;
  color: #ffffff;
  height: 50px;
  background: #111111;
}

.ngdialog-games-page .games-popup-container{
  font-size: 0;
  padding: 10px;
  background: #1d1d1d;
}

.ngdialog-games-page .games-popup-buttons img{
  padding: 0 10px;
}
.ngdialog-games-page .games-popup-buttons p{
  margin-bottom: 0;
}

.ngdialog-games-page .games-popup-buttons{
  width: calc(100% / 3 - 10px);
  /*height: 125px;*/
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #999999;
  vertical-align: top;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: -0.5px;
  margin-right: 15px;
}

.ngdialog-games-page .games-popup-buttons:nth-child(3n + 3){
  margin-right: 0;
}

.ngdialog-games-page .games-popup-buttons:nth-child(3n + 3){
  margin-bottom: 0;
}

/*MicroGaming*/
.ngdialog.ngdialog-theme-default.ngdialog-microgaming {
  padding: 0;

}
.ngdialog.ngdialog-theme-default.ngdialog-microgaming .ngdialog-content{
  background: url("/mobile/frontend/boss/V/microgaming/bg.png") top right/100% no-repeat #000000;
  height: 100%;
  width: 100%;
}
.ngdialog.ngdialog-theme-default.ngdialog-viewslot{
  padding: 0;
}
.ngdialog.ngdialog-theme-default.ngdialog-viewslot .ngdialog-content{
  padding: 0;
  background: #1d1d1d;
  width: 100%;
}
/*SlotVIew*/
.slots-nav-container {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  padding: 0 5px;
  border-bottom: 1px solid #666666;
  text-align: center;
  color: #999999;
}

.slots-nav-container::-webkit-scrollbar {
  display: none;
}

.slots-nav {
  display: table-cell;
  font-weight: 700;
  font-size: 12px;
  padding: 17px 15px;
  position: relative;
}

.slots-nav.active {
  color: #c1ad8b;
}

.slots-nav.active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c1ad8b;
  height: 2px;
  width: calc(100% - 15px);
}

.slot-container {
  padding: 9px;
  min-height: 300px;
}

.slot-item-wrapper {
  height: 180px !important;
  padding: 0 !important;
  border: solid 1px transparent !important;
  margin-bottom: 45px !important;
  width:calc( 100% / 3);

}

.slot-item {
  height: 100%;
  position: relative;
  background-color: #00000010 !important;
  margin: 0 !important;
}

.slot-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  bottom: -43px;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}

.loading-placeholder ul li {
  height: 180px;
  width: calc(100% / 3 - 5px);
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #444444;
  display: inline-block;
  position: relative;
  float: left;
  overflow: hidden;
}

.loading-placeholder ul li:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 80%) 50% 50%;
}

.loading-placeholder ul li span {
  position: absolute;
  bottom: 0;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}

.loading-placeholder ul li:last-child {
  margin-right: 0;
}
main .title {
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 5px 20px;
  color: #ffffff;
  height: 50px;
  background: #111111;
}
@media only screen and (max-width: 768px) and (min-width: 768px){
  .game-buttons-container .game-buttons {
    height: 208px;
  }
}
@media only screen and (min-width:1024px) and (max-width:1024px ){
  .game-buttons-container .game-buttons {
    height: 271px;
  }
}


/*banner*/
.banner-container{
  width: 100%;
  position: relative;
}

.text-slider{
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: -25px;
}

.text-slider.slick-dotted .slick-dots{
  bottom: 0;
}

.text-slider.slick-dotted .slick-dots li.slick-active button:before {
  color: #c1ad8b;
}

.text-slider.slick-dotted  .slick-dots li button:before {
  opacity: 0.75;
  color: #999999;
}

.svg-img{
  width: 40px;
  height: 36px;
}

.dm-badge{
  position: absolute;
  top: 0px;
  left: 50%;
  background-color: #b13d3b;
}

/*landscape orientation*/
@media only screen and (min-width: 640px) and (max-width: 640px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 175px;
  }
}

@media only screen and (min-width: 731px) and (max-width: 731px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 195px;
  }
}

@media only screen and (min-width: 823px) and (max-width: 823px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 220px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 568px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 160px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 667px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 183px;
  }
}

@media only screen and (min-width: 736px) and (max-width: 736px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 200px;
  }
}

@media only screen and (min-width: 812px) and (max-width: 812px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 216px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 266px;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
  .game-buttons-container .game-buttons {
    height: 346px;
  }
}

/*slots jackpot*/
.jackpot-container{
  width: 100%;
  height: 90px;
  padding: 10px 10px 0;
  background-size: 100%;
  background-origin: content-box;
  position: relative;
  text-align: center;
  color: #ffffff;
}

.jackpot-container .container-jackpot{
  background: url("/frontend/boss/V/bg-jackpot-mobile.jpg") right #111111 no-repeat;
  border-radius: 3px;
  height: 80px;
  position: relative;
}
.jackpot-container p{
  margin: 0;
  padding-top: 10px;
}
.jackpot-container img.won-krw{
  position: relative;
  top: 10px;
  left: 20px;
}

.currency-sign{
  width: 40px;
  height: 35px;
  float: left;
  margin-left: 17px;
}

.jackpot-odometer{
  width: 233px;
  height: 45px;
  position: relative;
  overflow: hidden;
  float: right;
  margin-right: 10px;
}

.jackpot-odometer_m{ 
  width: 233px;
  height: 45px;
  position: relative;
  overflow: hidden;
  float: right;
  margin-right: 10px;
  
}

.btn-wallet-amount{
  background: #B73528;
  border: 1px solid #B73528;
  color: #ffffff;
  width: 48px;
  border-radius: 0;
  padding: 5px 0;
}

.btn-wallet-amount:hover,
.btn-wallet-amount:active,
.btn-wallet-amount:active:hover,
.btn-wallet-amount:focus{
  background-color: #812319;
  border-color: #812319;
  color: #ffffff;
}

.btn-wallet-clear{
  background: #2D2D2D;
  border-color: #2D2D2D;
  color: #ffffff;
  border-radius: 0;
}

.btn-wallet-clear:hover,
.btn-wallet-clear:active,
.btn-wallet-clear:active:hover,
.btn-wallet-clear:focus{
  background: #424242;
  border-color: #424242;
  color: #ffffff;
}

.process-forms{
  background: #1D1D1D;
  padding: 10px;
  margin-bottom: 10px;
}

.ngdialog-transfer .ngdialog__content,
.ngdialog-withdraw .ngdialog__content,
.ngdialog-deposit .ngdialog__content{
  padding: 10px;
}

.ngdialog-bonus .form-control{
  background: #202020;
  border: 1px solid #3E3E3E;
  color: #fff;
}

.ngdialog-bonus hr{
  border-top: 1px solid #3E3E3E;
}

.ngdialog-bonus h4.text-center strong{
  color: #999;
}

.lists__content:nth-child(odd) {
  background-color: #1D1D1D;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: #999999;
}

.lists__content:nth-child(even) {
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: #999999;
}

.ngdialog__content .btn-group .badge{
  background-color: #b13d3b;
}

.btn-block+.btn-block.btn-red-plain{
  margin-top: 0;
}

.ngdialog.ngdialog-theme-default.ngdialog-movie .ngdialog-content,
.ngdialog.ngdialog-theme-default.ngdialog-movie-2 .ngdialog-content,
.ngdialog.ngdialog-theme-default.ngdialog-movie-3 .ngdialog-content,
.ngdialog.ngdialog-theme-default.ngdialog-movie-4 .ngdialog-content{
  padding: 0;
  width: 375px;
}

/*.ngdialog.ngdialog-theme-default.ngdialog-movie,
.ngdialog.ngdialog-theme-default.ngdialog-movie-2,
.ngdialog.ngdialog-theme-default.ngdialog-movie-3,.ngdialog.ngdialog-theme-default.ngdialog-movie-4 {
  padding: 0;
}*/

.direct-message p {
  word-break: break-all;
}

.ngdialog.ngdialog-theme-default.ngdialog-movie .ngdialog-close:before,
.ngdialog.ngdialog-theme-default.ngdialog-movie-2 .ngdialog-close:before,
.ngdialog.ngdialog-theme-default.ngdialog-movie-3 .ngdialog-close:before,
.ngdialog.ngdialog-theme-default.ngdialog-movie-4 .ngdialog-close:before{
  top: 8px;
  font-size: 30px;
  line-height: 25px !important;
}

.notice-btn-mobile {
  border-radius: 0;
}

@supports (-webkit-overflow-scrolling: touch) {

  .ngdialog.ngdialog-theme-default.ngdialog-movie .ngdialog-close:before,
  .ngdialog.ngdialog-theme-default.ngdialog-movie-2 .ngdialog-close:before,
  .ngdialog.ngdialog-theme-default.ngdialog-movie-3 .ngdialog-close:before,
  .ngdialog.ngdialog-theme-default.ngdialog-movie-4 .ngdialog-close:before{
    line-height: 18px;
  }
}

.swal-title,
.swal-text{
  text-align: center;
}

.has-error .form-control {
  background: url(../images/icon-error.png) rgba(255, 255, 255, .05) right 10px center no-repeat;
  border-color: #9b001b;
}

.has-success .form-control {
  background: url(../images/icon-valid.png) rgba(255, 255, 255, .05) right 10px center no-repeat;
  border-color: #3c763d;
}

.change-password-error span {
  color: #a94442;
  font-weight: 700;
}

@media not all and (min-resolution:.001dpcm) {
  @media {
    .ngdialog.ngdialog-theme-default.ngdialog-movie .ngdialog-close:before,
    .ngdialog.ngdialog-theme-default.ngdialog-movie-2 .ngdialog-close:before,
    .ngdialog.ngdialog-theme-default.ngdialog-movie-3 .ngdialog-close:before,
    .ngdialog.ngdialog-theme-default.ngdialog-movie-4 .ngdialog-close:before{
      line-height: 2.5rem;
      right: 2px !important;
      font-size: 3rem;
      height: 3rem;
    }
    .ngdialog.ngdialog-theme-default.ngdialog-movie {
      z-index: 10001;
    }
    .ngdialog.ngdialog-theme-default.ngdialog-movie-2 {
      z-index: 10002;
    }
    .ngdialog.ngdialog-theme-default.ngdialog-movie-3 {
      z-index: 10003;
    }
    .ngdialog.ngdialog-theme-default.ngdialog-movie-4 {
      z-index: 10004;
    }
  }
}
.process-forms .form-control.member-name[disabled]{
  color: #999999;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("/frontend/boss/V/chevron-down.png") center right 15px no-repeat #202020 !important;
}

.light-text{
  color: #949494;
}


/*rank popup*/
.ngdialog-rank,
.ngdialog-movie{
  padding-left: 10px;
  padding-right: 10px;
}

.ngdialog-rank .ngdialog-overlay {
  background: #000000;
}

.ngdialog.ngdialog-theme-default.ngdialog-rank .ngdialog-content {
  padding: 0;
}

.ngdialog-rank-popup button,
.ngdialog-movie button{
  border-radius: 0;
  background: #000000;
  border: 1px solid #ffb400;
  color: #ffb400;
}

.ngdialog-rank-popup button,
.ngdialog-rank-popup button.btn:focus,
.ngdialog-rank-popup button.btn:active:focus,
.ngdialog-movie button,
.ngdialog-movie button.btn:focus,
.ngdialog-movie button.btn:active:focus{
  outline: none;
  color: #ffb400;
  background: #000000;
}
.ngdialog.ngdialog-theme-default.ngdialog-promotion .ngdialog-overlay{
  background: rgba(45,45,45,45);
}

.ngdialog.ngdialog-theme-default.ngdialog-movie.notice2{
  padding-top: 0;
}
.csrf-swal .swal-title,
.csrf-swal .swal-text{
  font-size: 20px;
  font-weight: 600;
  color: rgba(0,0,0,.65);
}

.ngdialog.ngdialog-theme-default.ngdialog-notice.new-notice,
.ngdialog.ngdialog-theme-default.ngdialog-notice.new-notice .ngdialog-content{
  padding: 0;
}



.ngdialog-login .form-login{
  margin-top: 155px;
}

.ngdialog.ngdialog-theme-default.ngdialog-wallet {
  padding : 0;
}


.ngdialog.ngdialog-theme-default.ngdialog-main-default.ngdialog-wallet .ngdialog-content {
    width: 100%;
    margin-left: 0;
    background: #171717;
    padding: 0px;
    min-height: 100vh;
}

.ngdialog.ngdialog-theme-default.ngdialog-msg {
  padding : 0;
}
.ngdialog.ngdialog-theme-default.ngdialog-main-default.ngdialog-msg .ngdialog-content {
  width: 100%;
  margin-left: 0;
  background: #171717;
  padding: 0px;
  min-height: 100vh;
}

.slot-btn {
  width: 30%;
  height:auto;
  display: inline-block;
  position: relative;
  margin: 0 4.7px;
  margin-bottom: 10px;
  z-index: 0;
  transition: 0.3s;
  perspective: 900px;
  border-radius: 1px;	overflow:hidden
}

.ngdialog-games-page .game-buttons.live{
  width: 100%;
  height: 182px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  transition:  all 0.5s;
  font-size: 14px;
  font-weight: bold;
  --padding: 122px 10px 0 20px;
  --padding: 150px 10px 0 20px;
  padding: 156px 10px 0 20px;
  color: #cc6600;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}