/*banner*/

.banner .banner-slider img.banner-outside {
  width: 100%;
  /*max-width: 2390px;*/
  object-fit: cover;
  height: 600px;
  margin-top: 135px;
}

.banner .banner-slider .slick-slide:focus{
  outline: none;
  border: none;
}

.banner .banner-slider .btn-learn{
  position: absolute;
  width: 200px;
  height: 40px;
  right: -75px;
  top: -439px;
  border-radius: 20px;
  border: 2px solid #c1ad8b;
  background: transparent;
  color: #c1ad8b;
  padding: 0;
  outline: none !important;
  font-weight: bold;
}

.banner .banner-slider .btn-learn:hover {
  background: #c1ad8b;
  color: #111111;
}
/*banner end*/
.banner .banner-slider .slick-prev{
  left: 20px;
  z-index: 1;
}

.banner .banner-slider .slick-prev::before,
.banner .banner-slider .slick-next::before{
  font-size: 30px;
  opacity: .5;
}

.banner .banner-slider .slick-prev,
.banner .banner-slider .slick-next{
  width: 30px;
  height: 30px;
}

.banner .banner-slider .slick-next{
  right: 20px;
}


.banner-slider .main-promo-text{
  position: absolute;
  top: -600px;
  right: -200px;
}

.banner-slider .slick-dots {
  bottom: 10px;
}

.banner-slider .slick-dots li button:before {
  font-size: 20px;
  opacity: 1;
}

.banner-slider .slick-dots li.slick-active button:before {
  color: #c1ad8b;
}

.banner-slider .slick-dots li button:before {
  color: #999999;
}