
.main-page .jackpot-container {
  width: 100%;
  margin-bottom: 10px;
  background-color: #000;
}

.main-page .jackpot-content {
  background: url("/frontend/boss/V/coupon-banner.jpg") no-repeat;
  height: 67px;
  position: relative;
}

.main-page .jackpot-content form{
  position: absolute;
  right: 20px;
  top: 20px;
}

.main-page .jackpot-content form .form-control,
.main-page .jackpot-content form .form-group {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.main-page .jackpot-content form select.form-control {
  background: url("/frontend/boss/V/chevron-down.png") center right 15px no-repeat #282828;
  width: 175px;
  border: 1px solid #585858;
}

.main-page .jackpot-content form .form-control {
  border-radius: 0;
  background: #282828;
  color: #ffffff;
  border: 1px solid #585858;
  width: 270px;
  margin: 0 5px 0 0;
  box-shadow: none;
}

.main-page .jackpot-content form .btn-red{
  height: 34px;
}

.jackpot-container .btn-yellow{
  width: 46px;
  height: 34px;

}

.margin-right-55{
  margin-right: 15px;
}

.btn-coupon .btn-yellow{
  width: 100px;
}

.margin-right-10{
  margin-right: 10px;
}
