.ngdialog-customer-page a{
  color: #939393;
  font-weight: bold;
}
.ngdialog-customer-page a:hover{
  color: #c1ad8b;
}

.ngdialog-customer-page .ngdialog__heading{
  background: #1d1d1d;
}

.ngdialog-customer-page .ngdialog__title{
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
  color: #999;
}

.ngdialog-customer-page .ngdialog-main-nav {
  background-color: #111;
}

.ngdialog-customer-page .ngdialog-main-nav li{
  font-weight: 600;
}

.ngdialog-customer-page .ngdialog-main-nav li.active,
.ngdialog-customer-page .ngdialog-main-nav li:hover,
.ngdialog-customer-page .ngdialog-main-nav li:focus{
  color: #c1ad8b;
  border-bottom: 0;
}

.ngdialog-customer-page .ngdialog-main-nav li.active .main-nav__label,
.ngdialog-customer-page .ngdialog-main-nav li .main-nav__label:hover,
.ngdialog-customer-page .ngdialog-main-nav li .main-nav__label:focus{
  border-bottom: 2px solid #C1AD8B;
  padding-bottom: 16px;
}


.ngdialog-customer-page .history-table > tbody > tr > td {
  /*background-color: #111111;*/
  vertical-align: middle;
  border-top: none;
  color: #939393;
}

.ngdialog-customer-page .ngdialog-main-default__content {
  background-color: #2d2d2d;
}
.ngdialog-customer-page .ngdialog-main-default__content.faq .panel-body,
.ngdialog-customer-page .ngdialog-main-default__content.announcement .panel-body,
.ngdialog-customer-page .ngdialog-main-default__content.promo-event .panel-body{
  max-height: 500px;
  overflow-y: auto;
}

.ngdialog-customer-page .btn-yellow {
  width: 335px;
  height: 40px;
  margin-top: 5px;
}

.ngdialog-customer-page .panel-primary {
  border-color: #111111;
  border-radius: 0;
}
.ngdialog-customer-page .read.panel-primary {
  margin-left: 50px;
}

.ngdialog-customer-page .panel-primary>.panel-heading {
  color: #C1AD8B;
  background-color: #111111;
  border-color: #111111;
  font-weight: 600;
  border-radius: 0;
}

.ngdialog-customer-page .panel-heading {
  border-bottom: 1px solid #111111;
}

.ngdialog-customer-page .panel-body {
  background: #1D1D1D;
  color: #fff;
  word-break: break-word;
}

.ngdialog-customer-page .form-control{
  height: 95px;
  border-radius: 0;
  border: 1px solid #3E3E3E;
  background: #202020;
  color: #fff;
  margin-bottom: 10px;
}

.ngdialog-customer-page label{
  color: #C1AD8B;
  margin-left: 15px;
}

.ngdialog-customer-page .history-table > tbody > tr > th {
  background-color: #111111;
  color: #C1AD8B;
  font-weight: 800;
}

.ngdialog-customer-page .history-table > tbody > tr:nth-child(even){
  background-color: #1D1D1D;
}

.ngdialog-customer-page .width6{
  width: 60px;
}

.ngdialog-customer-page .width15{
  width: 150px;
}

.ngdialog-customer-page .table-border{
  border-bottom: 10px solid #2d2d2d;
}

.ngdialog-customer-page .table>tbody>tr>th{
  border-top: 0;
}

.ngdialog-customer-page .history-table.table,
.ngdialog-customer-page .panel.panel-primary {
  margin-top: 10px;
}

.ngdialog-customer-page .form-control.title1 {
  height: 40px;
}
