.customer-page {
  font-size: 13px;
  color: #ffffff;
  width: 100%;
  letter-spacing: -0.78px;
  background-color: #000000;
}

.customer-page .goldTxt {
  letter-spacing: -1.44px;
  color: #c1ad8b;
  font-size: 24px;
}

.customer-page .customer-content {
  border: 1px solid #282828;
}

.customer-page .customer-buttons {
  float: left;
  width: calc(100% / 4);
  height: 97px;
  position: relative;
  cursor: pointer;
  padding: 20px;
  background: rgb(43, 41, 49);
  background: -moz-linear-gradient(top, rgb(17, 17, 17) 0%, rgb(25, 25, 25) 100%);
  background: -webkit-linear-gradient(top, rgb(17, 17, 17) 0%, rgb(25, 25, 25) 100%);
  background: linear-gradient(to bottom, rgb(17, 17, 17) 0%, rgb(25, 25, 25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#191919', GradientType=0);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .customer-page .customer-buttons {
    padding: 18px;
  }
}

.customer-page .customer-buttons:hover {
  opacity: 0.7;
}

.customer-page .customer-buttons img {
  vertical-align: baseline;
}

.customer-page .customer-buttons:nth-of-type(-n+3)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 50%;
  right: 0;
  top: 50%;
  background: #282828;
  transform: translateY(-50%);
}

.customer-page .text-con {
  display: inline-block;
  margin-left: 5px;
}

.customer-page .text-con p {
  margin: 0;
}

.customizer-tele {
  position: fixed;
  right: 10px;
  bottom: 5%;
  background-color: #330000;
color: #ffffff;
  border-radius: 8px;
border-color: rgb(218,165,32);
border-style: solid;
  z-index: 3;
  -webkit-box-shadow: 0 0 15px 3px rgb(176 185 189 / 30%);
  box-shadow: 0 0 15px 3px rgb(176 185 189 / 30%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
    padding: 10px;
}

.customizer-tele span {
  line-height: 10px;
  font-family: 'nanumgothic', sans-serif;
  font-size: 25px;
  letter-spacing: -1px;
  font-weight: 400;
  color: #ffffff;
  font-weight: 700;
}