.main-page{
  position: relative;
  max-width: 100%;
}

.main-page .main-container.games{
  padding: 10px 10px 0;
  font-size: 0;
}

.main-page .content .game-buttons{
  width: calc(1224px / 2);
  height: 242px;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  transition: all .5s;
  padding-top: 205px;
  padding-left: 17px;
  font-weight: bold;
  position: relative;
  border-bottom: 1px solid #282828;
}
.main-page .content .game-buttons span:nth-of-type(2){
  font-size: 13px;
  color: #999999;
}
.main-page .content .game-buttons:nth-child(-n+2){
  margin-right: 8px;
}
.main-page .content .game-buttons:nth-of-type(3){
    margin-right: 8px;
  }
.main-page .content .game-buttons:nth-of-type(4){
    margin-right: 8px;
  }
.main-page .content .game-buttons:nth-of-type(5){
  width: 100%;
}

.main-page .content .game-buttons.live{
  background: url("/frontend/boss/V/casino.png?ver=1.02") no-repeat;
}

.main-page .content .game-buttons.others{
  background: url("/frontend/boss/V/slot.png?ver=1.01") no-repeat;
}

.main-page .content .game-buttons.mini{
  background: url("/frontend/boss/V/mini.png?ver=1.01") no-repeat;
}
.main-page .content .game-buttons.sports{
    background: url("/frontend/boss/V/sports.png?ver=1.01") no-repeat;
  }

.main-page .content .game-buttons.comming{
    background: url("/frontend/boss/V/comming.png?ver=1.01") no-repeat;
  }

.main-page .content .game-buttons.poker{
  background: url("/frontend/boss/V/idn-button.jpg") no-repeat;
}

.main-page .content .game-buttons.slot{
  background: url("/frontend/boss/V/prog-jockpot.png?ver=1.02") no-repeat;
}

.main-page .content .game-buttons.live:hover{
  background: url("/frontend/boss/V/casino-hover.png?ver=1.02") no-repeat;
}

.main-page .content .game-buttons.others:hover{
  background: url("/frontend/boss/V/slot-hover.png?ver=1.01") no-repeat;
}

.main-page .content .game-buttons.poker:hover{
  background: url("/frontend/boss/V/idn-button-hover.jpg") no-repeat;
}

.main-page .content .game-buttons.slot:hover{
  background: url("/frontend/boss/V/prog-jockpot-hover.png?ver=1.02") no-repeat;
}

.main-page .content .coupon-container:hover{
  background: url("/frontend/boss/V/coupon-banner.jpg") no-repeat;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}

.odometer-container{
  position: absolute;
  right: 18px;
  bottom: 15px;
  overflow: hidden;
  height: 97px;
  width: 695px;
}

.jackpot-odometer{
  position: absolute;
  height: 92px;
  width: 520px;
  bottom: 0;
  right: 0;
}

.main-page .odometer-container img{
  margin-top: -5px;
}

/**/
.slot-container{
	width:100%;
	max-width:1212px;
	height:auto;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
	align-items:stretch;
	justify-content:flex-start;
	perspective:900px;
}

.slot-btn {
    width: 32%;
	height: 142px;
    display: inline-block;
    position: relative;
    margin: 0 4.7px;
    margin-bottom: 10px;
    z-index: 0;
    transition: 0.3s;
    perspective: 900px;
    border-radius: 1px;	overflow:hidden
}

.slot-btn:hover {
    z-index: 1;
}

.slot-btn .inner {
    width: 100%;
    height: 100%;
    float: left;
    transition: 0.3s;
    cursor: pointer;
}

.slot-btn.before-hover .inner {
    transform: rotateY(30deg) scale(0.9);
    opacity: 0.5;
}

.slot-btn.after-hover .inner {
    transform: rotateY(-30deg) scale(0.9);
    opacity: 0.5;
}

.slot-btn .slot-bg {
    width: 100%;
    opacity: 0;
}

.slot-btn .hover-bg {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.slot-btn .hover-bg span {
    width: 100%;
    height: 25%;
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    opacity: 0;
    top: 0;
    left: 0;
    background-image: url(/frontend/jungle/images/slot-bg.png);
    background-size: 100% 400%;
    animation: slotBgAnim 0.8s ease 1 forwards;
}

.slot-btn:hover .hover-bg span {
    animation: slotBgOverAnim 0.8s ease 1 forwards;
}

.slot-btn .hover-bg span:nth-child(1) {
    animation-delay: 0s;
    background-position: 0 0;
}

.slot-btn .hover-bg span:nth-child(2) {
    animation-delay: 0.1s;
    background-position: 0 -100%;
}

.slot-btn .hover-bg span:nth-child(3) {
    animation-delay: 0.2s;
    background-position: 0 -200%;
}

.slot-btn .hover-bg span:nth-child(4) {
    animation-delay: 0.3s;
    background-position: 0 -300%;
}

@keyframes slotBgAnim {
    0% {
        opacity: 0;
        top: -20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes slotBgOverAnim {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -20px;
    }
}

.slot-btn .hover-bg span img {
    width: 100%;
    position: relative;
    top: 0;
}

.slot-btn .hover-bg span:nth-child(1) img {
    top: 0;
}

.slot-btn .hover-bg span:nth-child(2) img {
    top: -100%;
}

.slot-btn .hover-bg span:nth-child(3) img {
    top: -200%;
}

.slot-btn .hover-bg span:nth-child(4) img {
    top: -300%;
}

.slot-btn .slot-cont {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.slot-btn .slot-cont .slot-img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slot-btn .icon-cont {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

.slot-btn .icon-cont .bg {
    width: 100%;
}

.slot-btn .icon-cont .icon {
    position: absolute;
    left: 3px;
    top: 3px;
}

.slot-btn .name-btn {
    width: 96px;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 13%;
    margin: auto;
    border-radius: 3px;
    background-color: #b70f0f;
    border: solid 1px #c33838;
    color: #edc9c5;
    font-size: 14px;
    font-family: SCDream6;
    text-shadow: 0 1px 1px #711108;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.79);
    transition: 0.3s;
}

.slot-btn:hover .name-btn {
    background-color: #003733;
    background: linear-gradient(to top, #003a33, #007933);
    border: solid 1px #058a3b;
    color: #fff;
    text-shadow: 0 1px 1px #038c3b;
}

.slot-btn:hover .name-btn {
    width: 100%;
    bottom: 0;
}

/* SLot Game Btn */

.slot-btn .gi-img {
    width: 100%;
    pointer-events: none;
}

.slot-btn .sg-form {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 13%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slot-btn .sg-form .text-cont {
    width: auto;
    height: 30px;
    border-radius: 3px;
    background-color: #b70f0f;
    border: solid 1px #c33838;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.79), inset 0 0 1px rgba(255, 255, 255, 0.35);
    padding: 0 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slot-btn:hover .sg-form .text-cont {
    background-color: #003733;
    background: linear-gradient(to top, #003a33, #007933);
    border: solid 1px #058a3b;
}

.slot-btn .sg-form .text-cont p {
    color: #edc9c5;
    font-size: 14px;
    font-family: SCDream6;
    text-shadow: 0 1px 1px #711108;
}

.slot-btn:hover .sg-form .text-cont p {
    color: #fff;
    text-shadow: 0 1px 1px #038c3b;
}

.slot-btn .sg-form .text-cont p span {
    font-family: SCDream7;
    position: relative;
}

.slot-btn .sg-form .text-cont p span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #edc9c5;
    left: 0;
    bottom: 0;
}

.slot-btn .sg-form .tutorial-btn {
    width: 70px;
    height: 30px;
    border-radius: 3px;
    background-color: #c3ce12;
    border: solid 1px #cdd63b;
    color: #000000;
    font-size: 14px;
    font-family: SCDream6;
    margin-left: 4px;
    transition: 0.3s;
    display: inline-block;
    float: left;
    padding: 5px 7px;
    text-decoration: none;
}

.slot-btn .sg-form .tutorial-btn:hover {
    background-color: #b70f0f;
    border: solid 1px #c33838;
    color: #edc9c5;
    text-shadow: 0 1px 1px #711108;
}

.mdl-close-btn {
    width: 54px;
    height: 54px;
    background-image: url(/images/icon/close-gl.png);
    background-color: transparent;
    border: none;
    position: absolute;
    right: 54px;
    top: 24px;
    z-index: 2;
    transition: 0.5s;
    transform: rotate(0deg);
}

.mdl-close-btn:hover {
    animation: cbmAnim 0.5s ease 1 forwards;
}

@keyframes cbmAnim {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.mdl-close-btn span {
    color: #40fb0e;
    font-size: 12px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 0;
    transition: 0.3s;
}

.mdl-close-btn:hover span {
    opacity: 1;
    top: 105%;
}

.slot-btn .mdl-close-btn {
    width: 26px;
    height: 26px;
    position: absolute;
    right: -4px;
    top: -4px;
    background-color: transparent;
    border: none;
    background-image: url(images/icon/close.png);
    background-repeat: no-repeat;
    z-index: 2;
}

.slot-btn .mdl-close-btn:hover {
    filter: brightness(100);
}

.slot-btn .gi-tag {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.sg-border-tb {
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    background-color: #ffd144;
    overflow: hidden;
    background: linear-gradient(to right, #a1a5a9, #e9f1f4, #a1a5a9, #e9f1f4);
    z-index: 1;
}

.sg-border-tb.top {
    top: 0;
}

.sg-border-tb.bot {
    bottom: 0;
}

.sg-border-tb:before {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    left: 35%;
    top: 0;
    background: linear-gradient(to right, transparent, #fff, transparent);
    animation: mdlTopBotLeftAnim 1s ease infinite;
}

@keyframes mdlTopBotLeftAnim {
    0% {
        left: 35%;
    }
    100% {
        left: -30%;
    }
}

.sg-border-tb:after {
    content: '';
    width: 30%;
    height: 100%;
    position: absolute;
    right: 35%;
    top: 0;
    background: linear-gradient(to right, transparent, #fff, transparent);
    animation: mdlTopBotRightAnim 1s ease infinite;
}

@keyframes mdlTopBotRightAnim {
    0% {
        right: 35%;
    }
    100% {
        right: -30%;
    }
}

.slot-btn .hover-bg {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}

.slot-btn .hover-bg span {
    width: 100%;
    height: 25%;
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    opacity: 0;
    top: 0;
    left: 0;
    background-image: url(/frontend/jungle/images/slot-bg.png);
    background-size: 100% 400%;
    animation: slotBgAnim 0.8s ease 1 forwards;
}

.slot-btn:hover .hover-bg span {
    animation: slotBgOverAnim 0.8s ease 1 forwards;
}

.slot-btn .hover-bg span:nth-child(1) {
    animation-delay: 0s;
    background-position: 0 0;
}

.slot-btn .hover-bg span:nth-child(2) {
    animation-delay: 0.1s;
    background-position: 0 -100%;
}

.slot-btn .hover-bg span:nth-child(3) {
    animation-delay: 0.2s;
    background-position: 0 -200%;
}

.slot-btn .hover-bg span:nth-child(4) {
    animation-delay: 0.3s;
    background-position: 0 -300%;
}

@keyframes slotBgAnim {
    0% {
        opacity: 0;
        top: -20px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes slotBgOverAnim {
    0% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -20px;
    }
}

.slot-btn .hover-bg span img {
    width: 100%;
    position: relative;
    top: 0;
}

.slot-btn .hover-bg span:nth-child(1) img {
    top: 0;
}

.slot-btn .hover-bg span:nth-child(2) img {
    top: -100%;
}

.slot-btn .hover-bg span:nth-child(3) img {
    top: -200%;
}

.slot-btn .hover-bg span:nth-child(4) img {
    top: -300%;
}


/**/
/* -- HOTE GAMES MAIN -- */

.hg-btn{
	min-width: 155px;
	height:135px;
	float:left;
	margin:10px 1.25%;
	border-radius:8px;
	border:solid 1px #000000;
	box-shadow:0 3px 2px rgba(0,0,0,0.49);
	position:relative;
	overflow:hidden;
	transition:0.3s;
	perspective:900px;
	transform-origin:top center;
	animation:hgBtnAnim 1s ease 1 backwards;
}
@keyframes hgBtnAnim{
    0%{transform:rotateX(90deg) scale(0.5) translateY(-50%);opacity:0;}
    25%{opacity:1;}
    100%{transform:rotateX(0deg) scale(1) translateY(0);opacity:1;}
}
.hg-btn .img-cont{
	width:100%;
	height:100%;
	float:left;
	position:relative;
}
.hg-btn .img-cont:before{
	content:'';
	width:150px;
	height:50px;
	position:absolute;
	left:-60px;
	top:-50px;
	transform-origin:right bottom;
	transform:rotate(-35deg);
	background-color:rgba(255,255,255,0.32);
	transition:0.4s;
	transition-delay:0.1s;
}
.hg-btn:hover .img-cont:before{
	transform:rotate(0deg);
}
.hg-btn .img-cont .main-img{
	width:100%;
	height:100%;
	float:left;
}
.hg-btn .img-cont .hot-tag{
	position:absolute;
	left:0;
	top:0;
	transform-origin:right top;
	transform:rotate(0deg);
	transition:0.4s;
}
.hg-btn:hover .img-cont .hot-tag{
	transform:rotate(35deg);
}
.hg-btn .foot{
	width:100%;
	height:65px;
	position:absolute;
	left:0;
	bottom:0;
	transform:translateY(0);
	transition:0.3s;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
	justify-content:center;
	font-size:14px;
	font-weight:bold;
	padding-bottom:5px;
	background:linear-gradient(to top, #000 20%,rgba(0,0,0,0.80), transparent);
	z-index:1;
}
.hg-btn:nth-child(odd) .foot{
	color:#dcf0eb;
}
.hg-btn:nth-child(even) .foot{
	color:#ffff00;
}
.hg-btn:hover .foot{
	height:50px;
	bottom:50%;
	transform:translateY(50%);
	background:linear-gradient(to top, transparent,transparent);
	padding-bottom:0;
	color:#ffff00;
}
.hg-btn .overlay{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	background-color:rgba(255,255,255,0.3);
	display:flex;
	flex-wrap:wrap;
	align-items: center;
	justify-content:center;
	padding-bottom:20px;
	font-size:14px;
	color:#fff;
	opacity:0;
	transform:scale(2);
	transition:0.3s;
}
.hg-btn .overlay:before{
	content:'';
	width:90%;
	height:90%;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	border-radius:8px;
	border:solid 2px #e9db01;
	background-color:rgba(0,0,0,0.7);
	z-index:-1;
}
.hg-btn:hover .overlay{
	opacity:1;
	transform:scale(1);
}
.hg-btn:hover .overlay i{
	animation:rocketAnim 1s ease infinite;
	position:relative;
	display:inline-block;
	font-size:14px;
}
@keyframes rocketAnim{
    0%{transform:translateX(0);}
    50%{transform:translateX(-15%);}
    100%{transform:translateX(0);}
}

/**/


/*g button*/
.gl-hotgames{
	width:100%;
	height:auto;
	float:left;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	margin-top:15px;
}
.gl-hotgames .center{
	width:auto;
	max-width:1200px;
	height:auto;
	perspective:900px;
	display:flex;
	flex-wrap:wrap;
	align-items:stretch;
	justify-content:center;
}
.gl-hg-btn{
	width:170px;
	height:auto;
	margin:10px 15px;
	border-radius:8px;
	border:solid 1px #000000;
	box-shadow:0 3px 2px rgba(0,0,0,0.49);
	position:relative;
	overflow:hidden;
	transition:0.3s;
	perspective:900px;
	transform-origin:top center;
	animation:hgBtnAnim 1s ease 1 backwards;
	background-color:#000;
}
.gl-hg-btn .img-cont{
	width:100%;
	height:100%;
	float:left;
	position:relative;
}
.gl-hg-btn .img-cont:before{
	content:'';
	width:200px;
	height:100px;
	position:absolute;
	left:-110px;
	top:-100px;
	transform-origin:right bottom;
	transform:rotate(-35deg);
	background-color:rgba(255,255,255,0.13);
	transition:0.4s;
	z-index:0;
}
.gl-hg-btn .img-cont:after{
	content:'';
	width:200px;
	height:100px;
	position:absolute;
	left:-155px;
	top:-100px;
	transform-origin:right bottom;
	transform:rotate(-35deg);
	background-color:rgba(255,255,255,0.13);
	transition:0.4s;
	transition-delay:0.1s;
	z-index:0;
}
.gl-hg-btn:hover .img-cont:before{
	left:-80px;
	background-color:rgba(255,255,0,0.50);
}
.gl-hg-btn:hover .img-cont:after{
	left:-125px;
	background-color:rgba(255,255,0,0.50);
}
.gl-hg-btn .img-cont img{
	width:100%;
	height:100%;
	transition:0.3s;
	opacity:1;
}
.gl-hg-btn:hover .img-cont img{
	opacity:0.5;
}
.gl-hg-btn .img-cont p{
	color:#00f6ff;
	font-size:14px;
	font-family:SCDream8;
	text-shadow:0 0 2px #0a6784,
				0 0 2px #0a6784,
				0 0 2px #0a6784,
				0 0 2px #0a6784,
				0 0 2px #0a6784,
				0 0 2px #0a6784,
				0 0 3px #0a6784,
				0 0 3px #0a6784,
				0 0 3px #0a6784,
				0 0 3px #0a6784,
				0 0 3px #0a6784,
				0 0 3px #0a6784;
	top:15px;
	left:15px;
	position:absolute;
	opacity:0;
	transition:0.3s;
	z-index:1;
}
.gl-hg-btn:hover .img-cont p{
	opacity:1;
}

.gl-hg-btn .img-cont .main-img{
	width:100%;
	height:100%;
	float:left;
}
.gl-hg-btn .foot{
	width:100%;
	height:65px;
	position:absolute;
	left:0;
	bottom:0;
	transform:translateY(0);
	transition:0.3s;
	display:flex;
	flex-wrap:wrap;
	align-items:flex-end;
	justify-content:center;
	font-size:14px;
	font-weight:bold;
	padding-bottom:5px;
	background:linear-gradient(to top, #000 20%,rgba(0,0,0,0.80), transparent);
	/*z-index:1;*/
}
.gl-hg-btn:nth-child(odd) .foot{
	color:#dcf0eb;
}
.gl-hg-btn:nth-child(even) .foot{
	color:#ffff00;
}
.gl-hg-btn.blue:nth-child(even) .foot{
	color:#33cc99;
}
.gl-hg-btn .play-btn{
	width:50px;
	height:50px;
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	border:none;
	background-color:transparent;
	color:#fff000;
	font-size:20px;
	opacity:0;
	transition:0.3s;
}
.gl-hg-btn:hover .play-btn{
	opacity:1;
}
.gl-hg-btn .play-btn:before{
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	border-radius:50%;
	border:dashed 2px #fff000;
	animation:playCircleAnim 7s linear infinite;
}
/*g button*/