

.ngdialog-games-page .game-buttons.live{
  width: 100%;
  height: 182px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  transition:  all 0.5s;
  font-size: 14px;
  font-weight: bold;
  --padding: 122px 10px 0 20px;
  --padding: 150px 10px 0 20px;
  padding: 156px 10px 0 20px;
  color: #cc6600;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}

.ngdialog.ngdialog-theme-default.ngdialog-gamespopup .ngdialog-content{
  width: 1107px;
  padding: 0;
  background: #2d2d2d;
  border-radius: 0;
}

.ngdialog-games-page .title{
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
  color: #999999;
  background: #1d1d1d;
}

.ngdialog-games-page .game-button-container.live,
.ngdialog-games-page .game-button-container.others{
  padding: 10px;
  font-size: 0;
}

.ngdialog-games-page .game-buttons.live{
  width: 32%;
  height: 182px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  transition:  all 0.5s;
  font-size: 14px;
  font-weight: bold;
  --padding: 122px 10px 0 20px;
  --padding: 150px 10px 0 20px;
  padding: 156px 10px 0 20px;
  color: #cc6600;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}

.ngdialog-games-page .game-buttons.live .btn-yellow,
.ngdialog-games-page .game-buttons.others .btn-yellow{
  padding: 3px 35px;
  font-size: 12px;
}

.ngdialog-games-page .game-buttons.live:nth-of-type(4n + 4),
.ngdialog-games-page .game-buttons.others:nth-of-type(n + 2){
  /*margin-right: 0;*/
}

.ngdialog-games-page .game-buttons.live:nth-of-type(n + 13){
  margin-bottom: 0;
}

.ngdialog-games-page .game-buttons.others{
  width: calc(1060px / 2);
  height: 292px;
  margin-right: 10px;
  transition: all 0.5s;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 255px 10px 0 20px;
  color: #999;
}

.ngdialog-games-page .live-button-1{
  /*background: url("/frontend/boss/V/live-button-1.jpg") no-repeat #000000;*/
  background: url("/frontend/boss/V/evo.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-2{
  /*background: url("/frontend/boss/V/live-button-2.jpg") no-repeat #000000;*/
  background: url("/frontend/boss/V/asia.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-3{
  /*background: url("/frontend/boss/V/live-button-3.jpg") no-repeat #000000;*/
  background: url("/frontend/boss/V/sexy.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-4{
  /*background: url("/frontend/boss/V/live-button-4.jpg") no-repeat #000000;*/
  background: url("/frontend/boss/V/prag.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-5{
  /*background: url("/frontend/boss/V/live-button-5.jpg") no-repeat #000000;*/
  background: url("/frontend/boss/V/big.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-6{
  /*background: url("/frontend/boss/V/live-button-6.jpg") no-repeat #000000;*/
  background: url("/frontend/boss/V/dream.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-7{
  background: url("/frontend/boss/V/dream.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-8{
  background: url("/frontend/boss/V/dream.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-9{
  background: url("/frontend/boss/V/dream.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-10{
  background: url("/frontend/boss/V/live-button-10.jpg") no-repeat #000000;
}

.ngdialog-games-page .live-button-11{
  background: url("/frontend/boss/V/live-button-11.jpg") no-repeat #000000;
}

.ngdialog-games-page .live-button-12{
  background: url("/frontend/boss/V/live-button-12.jpg") no-repeat #000000;
}

.ngdialog-games-page .live-button-13{
  background: url("/frontend/boss/V/live-button-13.jpg") no-repeat #000000;
}

.ngdialog-games-page .live-button-14{
  background: url("/frontend/boss/V/live-button-14.jpg") no-repeat #000000;
}

.ngdialog-games-page .live-button-1:hover{
  /*background: url("/frontend/boss/V/live-button-1-hover.jpg?ver=1.01") no-repeat #000000;*/
  background: url("/frontend/boss/V/evo-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-2:hover{
  /*background: url("/frontend/boss/V/live-button-2-hover.jpg?ver=1.01") no-repeat #000000;*/
  background: url("/frontend/boss/V/asia-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-3:hover{
  /*background: url("/frontend/boss/V/live-button-3-hover.jpg?ver=1.01") no-repeat #000000;*/
  background: url("/frontend/boss/V/sexy-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-4:hover{
  /*background: url("/frontend/boss/V/live-button-4-hover.jpg?ver=1.01") no-repeat #000000;*/
  background: url("/frontend/boss/V/prag-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-5:hover{
  /*background: url("/frontend/boss/V/live-button-5-hover.jpg?ver=1.01") no-repeat #000000;*/
  background: url("/frontend/boss/V/big-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-6:hover{
  /*background: url("/frontend/boss/V/live-button-6-hover.jpg?ver=1.01") no-repeat #000000;*/
  background: url("/frontend/boss/V/dream-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-7:hover{
  background: url("/frontend/boss/V/dream-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-8:hover{
  background: url("/frontend/boss/V/dream-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-9:hover{
  background: url("/frontend/boss/V/dream-hover.png?ver=1.06") no-repeat #000000;
  background-size: cover;
}

.ngdialog-games-page .live-button-10:hover{
  background: url("/frontend/boss/V/live-button-10-hover.jpg?ver=1.01") no-repeat #000000;
}

.ngdialog-games-page .live-button-11:hover{
  background: url("/frontend/boss/V/live-button-11-hover.jpg?ver=1.01") no-repeat #000000;
}

.ngdialog-games-page .live-button-12:hover{
  background: url("/frontend/boss/V/live-button-12-hover.jpg?ver=1.01") no-repeat #000000;
}

.ngdialog-games-page .live-button-13:hover{
  background: url("/frontend/boss/V/live-button-13-hover.jpg?ver=1.01") no-repeat #000000;
}

.ngdialog-games-page .live-button-14:hover{
  background: url("/frontend/boss/V/live-button-14-hover.jpg?ver=1.01") no-repeat #000000;
}

.ngdialog-games-page .mini-button-1{
  background: url("/frontend/boss/V/mini-button/mini-button-1.jpg") no-repeat #000000;
}

.ngdialog-games-page .mini-button-2{
  background: url("/frontend/boss/V/mini-button/mini-button-2.jpg") no-repeat #000000;
}


.ngdialog-games-page .mini-button-1:hover{
  background: url("/frontend/boss/V/mini-button/mini-button-1-hover.jpg?ver=1.01") no-repeat #000000;
}

.ngdialog-games-page .mini-button-2:hover{
  background: url("/frontend/boss/V/mini-button/mini-button-2-hover.jpg?ver=1.01") no-repeat #000000;
}

.ngdialog-games-page .micro-history{
  background: url("/frontend/boss/V/history-icon.svg") center center no-repeat #000000;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  right: 10px;
  border-radius: 3px;
}

.ngdialog-games-page .micro-history:hover{
  background-color: #00000080;;
}

