.ngdialog.ngdialog-theme-default.ngdialog-notice1 .ngdialog-overlay,
.ngdialog.ngdialog-theme-default.ngdialog-notice2 .ngdialog-overlay,
.ngdialog.ngdialog-theme-default.ngdialog-notice3 .ngdialog-overlay,
.ngdialog.ngdialog-theme-default.ngdialog-notice4 .ngdialog-overlay{
  display: none !important;
}

.ngdialog.ngdialog-theme-default.ngdialog-notice1,
.ngdialog.ngdialog-theme-default.ngdialog-notice2,
.ngdialog.ngdialog-theme-default.ngdialog-notice3,
.ngdialog.ngdialog-theme-default.ngdialog-notice4{
  width: 430px;
  height: 610px;
  margin: 110px auto 0;
  overflow: hidden;
  position: absolute;
  padding: 0;
}

.ngdialog.ngdialog-theme-default.ngdialog-notice1 .ngdialog-content,
.ngdialog.ngdialog-theme-default.ngdialog-notice2 .ngdialog-content,
.ngdialog.ngdialog-theme-default.ngdialog-notice3 .ngdialog-content,
.ngdialog.ngdialog-theme-default.ngdialog-notice4 .ngdialog-content{
  width: 430px;
  height: 600px;
  padding: 0;
}

.ngdialog.ngdialog-theme-default.ngdialog-notice1,
.ngdialog.ngdialog-theme-default.ngdialog-notice3{
  left: -440px;
}

.ngdialog.ngdialog-theme-default.ngdialog-notice2,
.ngdialog.ngdialog-theme-default.ngdialog-notice4{
  right: -440px;
}

.ngdialog.ngdialog-theme-default.ngdialog-notice3,
.ngdialog.ngdialog-theme-default.ngdialog-notice4{
  margin-top: 720px;
}

.centerDialog{
  left: 0 !important;
  right: 0 !important;
}

#overlay-notice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  background: rgba(19, 13, 9, 0.9);
  display: none;
}

.ngdialog-rank-popup button,
.ngdialog-rank-popup button.btn:focus,
.ngdialog-rank-popup button.btn:active:focus{
  outline: none;
  color: #ffb400;
  background: #000000;
}

/*html.ngdialog-open, body.ngdialog-open {
  overflow: auto !important;
  padding-right: 0 !important;
}*/

.ngdialog-rank-popup .button-container{
  width: 132px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  bottom: 70px;
}

.ngdialog-rank-popup button{
  width: 132px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000000;
  border: 1px solid #ffb400;
  color: #ffb400;
  font-size: 12px;
  border-radius: 0;
}
/*.ngdialog.ngdialog-theme-default {
  overflow: hidden !important;
}*/

/*.ngdialog.ngdialog-theme-default.ngdialog-gamespopup {
  height: 1134px;
}*/

.ngdialog.ngdialog-theme-default {
  overflow-y: scroll;
}

.ngdialog.ngdialog-theme-default .ngdialog-overlay {
  right: 10px;
}
