.ngdialog.ngdialog-theme-default.ngdialog-signup .ngdialog-content{
  background: url("/frontend/boss/V/bg-signup1.png?ver=1.05") no-repeat;
  font-size: 13px;
  color: #999999;
  width: 660px;
  padding-top: 35px;
  border-radius: 0;
  border: 2px solid #000000;
}

.ngdialog-signup-page .form-control{
  background: #111111;
  border-radius: 0;
  margin-bottom: 10px;
  color: #cccccc;
  border-color: #585858;
}

.ngdialog-signup-page label{
  font-size: 14px;
  line-height: 30px;
}

.ngdialog-signup-page label span:nth-of-type(2){
  color: #ff6c5d;
}

.ngdialog-signup-page .col-sm-4,
.ngdialog-signup-page .col-sm-5{
  padding: 0;
}

.ngdialog-signup-page .col-sm-4{
  line-height: 34px;
}

.ngdialog-signup-page .col-sm-4 p{
  background: #1c1e24;
  width: 250px;
  position: absolute;
  color: #b73528;
}

.ngdialog-signup-page .col-sm-4 p>span:first-of-type,
.ngdialog-signup-page .col-sm-4 span.signup-inquiry{
  padding-left: 15px;
}

.ngdialog-signup-page .col-sm-4 button{
  width: 94px;
  height: 34px;
  margin-top: -1px;
}

.ngdialog-signup-page .col-sm-4,
.ngdialog-signup-page .col-sm-5{
  padding: 0;
}

.ngdialog-signup-page .col-sm-3{
  width: 125px;
  padding: 0;
}

.ngdialog-signup-page .ngdialog-signup__title{
  text-align: center;
  color: #ffffff;
}

.ngdialog-signup-page .ngdialog-signup__title>h1{
  letter-spacing: -1.6px;
  font-weight: bold;
  font-size: 35px;
  color: #c1ad8b;
  margin-bottom: 35px;
}

.ngdialog-signup-page .ngdialog-signup__title>p {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.84px;
}

.ngdialog-signup-page .logo{
  text-align: center;
}

.ngdialog-signup-page button.btn-red{
  border-radius: 0;
}


.ngdialog.ngdialog-theme-default.ngdialog-signup .ngdialog-close:before {
  font-size: 35px;
  line-height: 30px;
  right: 10px;
  top: 10px;
  width: 30px;
}

.has-not-used.has-success .form-control{
  background: none #111111 !important;
  border-color: #585858 !important;
  box-shadow: none !important;
}

.ngdialog-signup-page .has-success input.form-control, input.no-error {
  background: url(/frontend/boss/V/icon-valid.png?ver=1.01) right 10px center no-repeat #302e36;
  border-color: #53d14c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ngdialog-signup-page .has-error .form-control {
  background: url(/frontend/boss/V/icon-error.png?ver=1.01) right 10px center no-repeat #302e36;
  border-color: #d54b4b !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ngdialog-signup-page select.form-control{
  padding: 6px 5px;
}

.ngdialog-signup-page .won-text.arrow{
  position: absolute;
  top: 6px;
  right: 210px;
  margin: 0;
  font-size: 13px;
  color: #ffffff;
}

.ngdialog-signup-page select.form-control{
  background: url("/frontend/boss/V/chevron-down.png?ver=1.01") center right 15px no-repeat #111111;
}

.ngdialog-signup-page .btn-yellow{
  height: 34px;
}

.ngdialog-signup .form-signup{
  margin-top: 70px;
}

.ngdialog-signup .btn-signup{
  background: url("/frontend/boss/V/btn-frame-signup.jpg?ver=1.01") center / 100% no-repeat;
}

.ngdialog-signup .btn-signup:hover{
  color: #c1ad8b;
}
