.ngdialog.ngdialog-theme-default.ngdialog-login .ngdialog-content {
  width: 400px;
  height: 370px;
  background: #23232a;
  font-size: 13px;
  padding: 27px 53px;
  font-weight: 600;
  color: #999999;
  border: 2px solid #000000;
  border-radius: 0;
  background: -moz-linear-gradient(top,  #23232a 0%, #0f0f0f 100%);
  background: -webkit-linear-gradient(top,  #23232a 0%,#0f0f0f 100%);
  background: linear-gradient(to bottom,  #23232a 0%,#0f0f0f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23232a', endColorstr='#0f0f0f',GradientType=0 );
}

.ngdialog-login-page p.text-center{
  margin: 20px 0;
}

.ngdialog-login-page .form-control{
  margin-bottom: 10px;
  background: #302e36;
  border: 1px solid #585858;
  border-radius: 0;
  padding-left: 40px;
  color: #cccccc;
}

.ngdialog-login-page .btn-red{
  border-radius: 0;
  font-weight: 600;
}

.ngdialog-login-page input[type='text'] {
  background: url("/frontend/boss/V/user-icon.png?ver=1.01") top 8px left 11px no-repeat;
}

.ngdialog-login-page input[type='password'] {
  background: url("/frontend/boss/V/password-icon.png?ver=1.01") top 8px left 11px no-repeat;
}

.ngdialog-login-page p.text-center.text-white{
  color: #ffffff;
  cursor: pointer;
}

.ngdialog-login-page p.text-center.text-white:hover{
  color: #fff2dd;
}

.ngdialog.ngdialog-theme-default.ngdialog-login .ngdialog-close:before {
  font-size: 35px;
  line-height: 30px;
  right: 10px;
  top: 10px;
  width: 30px;
}

.ngdialog-login-page .btn-yellow{
  height: 30px;
}
