.ngdialog.ngdialog-theme-default.ngdialog-notice .ngdialog-content {
  width: 660px;
  border-radius: 0;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  border: 2px solid #000000;
  background: url(/V/bg-notice.jpg?ver=1.01) #0f0f0f no-repeat;
  box-shadow: inset 0 0 0 1px #36343c, 0 0 1px rgba(0, 0, 0, 0), inset 0 0 0 0 #36343c, 0 0 1px rgba(0, 0, 0, 0);
}

.ngdialog-notice-page .ngdialog-notice__title{
  padding: 18px 29px 14px;
}

.ngdialog-notice-page hr{
  margin: 0;
  border-top: 1px solid #2d2c33;
}

.ngdialog-notice-page .notice-body{
  padding: 20px;
}

.ngdialog-notice-page .ngdialog-notice__content{
  overflow-y: scroll;
  height: 262px;
}

.ngdialog-notice-page .ngdialog-notice__content__footer{
  padding: 10px;
}

.ngdialog-notice-page .btn{
  border-radius: 0;
}

.ngdialog-notice-page .btn-yellow{
  padding: 5px 10px;
}
