.quick-links-page{
  margin-bottom: 20px;
}
.quick-links-page .help-container{
  width: 414px;
  height: 241px;
  padding: 23px 0 23px 37px;
  float: left;
}

.quick-links-page .help-container p,
.quick-links-page .quick-links-container p{
  font-size: 20px;
  text-transform: uppercase;
  color: #c1ad8b;
  margin-bottom: 21px;
}

.quick-links-page .help-container img{
  cursor: pointer;
}

.quick-links-page .credits-container{
  width: 413px;
  height: 241px;
  padding-top: 20px;
  float: left;
  text-align: center;
  font-size: 12px;
  color: #444444;
}

.quick-links-page .quick-links-container{
  width: 413px;
  height: 241px;
  float: left;
  padding: 23px 41px;
  text-align: left;
  font-size: 12px;
  color: #585858;
}

.quick-links-page .quick-links-container .list-inline{
  margin-bottom: 15px;
}

.quick-links-page .quick-links-container .list-inline>li{
  position: relative;
  padding: 0 5px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 600;
}

.quick-links-page .quick-links-container .list-inline>li:hover{
  color: #c0a16b;
}

.quick-links-page .quick-links-container .list-inline>li::after{
  content: "";
  width: 1px;
  height: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  background: #282828;
  transform: translateY(-50%);
}
.quick-links-page .quick-links-container .list-inline>li:last-child::after,
.quick-links-page .quick-links-container .list-inline.live>li:nth-child(4)::after,
.quick-links-page .quick-links-container .list-inline.live>li:nth-child(9)::after,
.quick-links-page .quick-links-container .list-inline.slot>li:nth-child(4)::after,
.quick-links-page .quick-links-container .list-inline.slot>li:nth-child(9)::after,
.quick-links-page .quick-links-container .list-inline.slot>li:nth-child(14)::after{
  display: none;
}
.dm-image{
  position: relative;
}
.quick-links-page .help-container .dm-container{
  position: relative;
  display: inline;
}
.quick-links-page .dm-container .guest-dm{
  width: auto;
  background: #f45656;
  text-align: center;
  height: 20px;
  vertical-align: top;
  color: #fff;
  right: -2px;
  top: -2px;
  position: absolute;
  font-size: 12px;
  border-radius: 50%;
}
.quick-links-page .help-container .quick-links-area{
  float: left;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}
.quick-links-page .quick-links-area .qtitle{
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: #585858;
  font-weight: 600;
  cursor: pointer;
}
.quick-links-page .help-container .quick-links-area:hover .qtitle{
  color: #c1ad8b;
}
