@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('/frontend/boss/V/fonts/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  /*font-family: 'Noto Sans KR', sans-serif;*/
  font-family: 'S-CoreDream-4Regular','MalgunGothic', sans-serif;
  color: #333333;
  overflow-y: scroll;
}

.main-container {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

.bg-main {
  background: #000000;
}

.bg-viewsport {
  background: url("/frontend/boss/V/sports-header.jpg") top center no-repeat #000000;
  overflow: overlay;
}

.list-inline {
  margin: 0;
}

a:hover, a:focus, a:active, a.active {
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
}

.no-padding {
  padding: 0;
}

.btn-red {
  background: #9b0000;
  color: #ffffff;
  border-radius: 0;
  border-color: #fe0f00;
  outline: none
}

.btn-red:hover,
.btn-red:active,
.btn-primary:active:focus,
.btn-red:focus {
  background: #6c251d;
  color: #ffffff;
  border-color: transparent;
  outline: none
}

.view-sports {
  background: url("/frontend/boss/V/preloader-main.gif") center #ffffff no-repeat;
}

.btn-yellow{
  background: #111111;
  border: 1px solid #c1ad8b;
  color: #c1ad8b !important;
  padding: 0;
  border-radius: 0;
  font-weight: bold;
}

.btn-yellow:hover{
  background: #c1ad8b;
  color: #111111 !important;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none !important;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

select::-ms-expand {
  display: none;
}

.text-left {
  text-align: left !important;
}

.disable-event {
  pointer-events: none;
  cursor: not-allowed;
}

/*IE 11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .transaction-page .transaction-table tr:nth-of-type(odd) {
    box-shadow: none !important;
  }

  .transaction-page .transaction-table:nth-of-type(3) tr:nth-of-type(odd) {
    box-shadow: none !important;
  }

  .transaction-page .transaction-table tr:last-of-type {
    box-shadow: none !important;
  }

  /*the king*/
  .navigation-page .nav-container .list-inline.nav-list > li {
    padding: 0 16px 0 0 !important;
  }

  #textSearch:-ms-input-placeholder {
    color: #ccc !important;
    font-weight: 400 !important;
    line-height: 20px;
  }
  .quick-links-page .quick-links-container .list-inline.live > li{
    padding: 0 3px !important;
  }
}


@supports (-ms-ime-align:auto) {
   .transaction-page .transaction-table tr:nth-of-type(odd) {
    box-shadow: none !important;
  }

  .transaction-page .transaction-table:nth-of-type(3) tr:nth-of-type(odd) {
    box-shadow: none !important;
  }

  .transaction-page .transaction-table tr:last-of-type {
    box-shadow: none !important;
  }
}

.swal-title,
.swal-text{
  text-align: center;
}

.swal-title{
  white-space: pre-wrap;
}

.swal-modal {
  width: 600px;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #181818;
}

::-webkit-scrollbar-thumb
{
  background: #c1ad8b;
}
