.transaction-page{
  margin-bottom: 10px;
}
.transaction-page .transaction-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  background-color: #000000;
}

.transaction-table {
  width: calc(1008px / 3);
  border: 1px solid #282828;
  font-size: 13px;
  color: #999999;
  font-family: 'Dotum Regular';
}

.transaction-table:nth-of-type(1),
.transaction-table:nth-of-type(2) {
  border-right: 0;
}

.transaction-table:nth-of-type(3) {
  border-left: 1px solid #282828;
}

.transaction-table:nth-of-type(2) {
  border-left: 1px solid #282828;
}

.transaction-page .transaction-table .table-heading {
  width: 100%;
  background: url("/frontend/boss/V/customer-header.jpg") top center / 100% #111111 no-repeat;
  font-size: 13px;
  color: #c1ad8b;
  padding: 7px 18px;
  font-weight: 600;
  font-family: noto sans cjk;
  letter-spacing: -0.8px;
  line-height: 49px;
}

.transaction-page .transaction-table:nth-child(2) .table-heading{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  justify-content: left;
  height: 65px;
}

.transaction-page .goldTxt {
  color: #deb97d;
  font-weight: 600;
}

.transaction-page .text-white {
  color: #ffffff;
  font-weight: 600;
}

.transaction-page .text-white:hover {
  color: #deb97d;
}

.transaction-page .transaction-table tr {
  height: 26px;
  text-align: center;
  background-color: #1d1d1d;
}

.transaction-page .transaction-table tr:nth-of-type(odd) {
  background-color: #111111;
}

.transaction-page .table-heading span.pull-right {
  color: #818083;
}

.transaction-page .table-heading span:hover.pull-right {
  color: #cab593;
  cursor: pointer;
}

.transaction-page .transaction-table:first-of-type{
  width: 410px;
}

.transaction-page .transaction-table:nth-child(n + 2){
  width: 415px;
}

.transaction-page .table-heading span:first-of-type{
  font-size: 20px;
}
/*
.transaction-page .transaction-table:nth-child(2) .table-heading span{
  font-size: 20px;
  color: #818083;
  cursor: pointer;
}

.transaction-page .transaction-table:nth-child(2) .table-heading span.active,
.transaction-page .transaction-table:nth-child(2) .table-heading span:hover{
  color: #c1ad8b;
}
*/
ul.transaction-list{
  padding: 0 5px;
  height: 130px;
  overflow: hidden;
  margin: 0;
  /*background: url("/frontend/boss/V/bg-events.png") repeat-x;*/
}

ul.transaction-list .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  height: 26px;
  color: #999999;
}

ul.transaction-list .transaction-item {
  width: calc(100% / 3);
}

ul.transaction-list  .transaction-date {
  width: calc(100% / 2);
}
