.transfer-block{
  padding-right: 5px;
}

.transfer form{
  padding: 10px;
  background-color: #1d1d1d;
}

.balance__content:nth-child(even) {
  background-color: #f9f9f9;
}

.balance__content {
  padding: 5px 15px;
  color: #939393;
}

.ngdialog-wallet-page fieldset{
  border-bottom: 1px solid #3a3a3a;
  padding: 10px 0;
}

.ngdialog-wallet-page form fieldset:last-of-type{
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: none;
}

.deposit label,
.withdraw label{
  float: left;
  line-height: 34px;
  width: 120px;
  text-align: right;
}

.deposit label span + span,
.withdraw label span + span{
  color: #991528;
}

.side-note{
  line-height: 34px;
}

.ngdialog-wallet-page .history-table > tbody > tr > th {
  background: #111111;
  color: #C1AD8B;
  font-weight: 800;
}

.ngdialog-wallet-page .history-table > tbody > tr > th,
.ngdialog-wallet-page .history-table > tbody > tr > td {
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

/*.ngdialog-wallet-page .history-table > tbody > tr > td {*/
/*  background-color: #1d1d1d;*/
/*  vertical-align: middle;*/
/*  border-top: none;*/
/*}*/

.ngdialog-wallet-page .bonus-history form fieldset{
  padding: 10px;
  margin-bottom: 0;
  background-color: #111111;
}

.ngdialog-wallet-page .transfer .won-text{
  position: absolute;
  top: 43px;
  right: 10px;
  font-size: 13px;
  margin-bottom: 10px;
  color: #dbdbdb;
}

.ngdialog-wallet-page .form-control.wonText{
  padding-right: 25px;
  color: #dbdbdb;
  background: #202020;
}

.ngdialog-wallet-page .won-text.deposit,
.ngdialog-wallet-page .won-text.withdraw,
.ngdialog-wallet-page .won-text.bonus{
  position: absolute;
  top: 8px;
  right: 25px;
  margin: 0;
  color: #dbdbdb;
}

.ngdialog-wallet-page select{
  background: url("/V/chevron-down.png") #202020  center right 15px no-repeat;
}

.ngdialog-wallet-page .ngdialog__heading{
  color: #999999;
  background: #1d1d1d;
}

.ngdialog-wallet-page .ngdialog__title{
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 20px;
  color: #999;
}

.ngdialog-wallet-page .ngdialog-main-nav{
  background-color: #111111;
  display: flex;
  justify-content: space-between;
}

.ngdialog-wallet-page .ngdialog-main-default__content{
  padding: 20px 10px;
  background: #2d2d2d;
  border-top: 1px solid #111111;
}

.ngdialog-wallet-page .ngdialog-main-nav li{
  font-weight: 600;
  padding: 15px 0;
}

.ngdialog-wallet-page .ngdialog-main-nav li.active,
.ngdialog-wallet-page .ngdialog-main-nav li:hover{
  border-bottom: 0;
  color: #c1ad8b;
}

.ngdialog-wallet-page .ngdialog-main-nav li.active .main-nav__label,
.ngdialog-wallet-page .ngdialog-main-nav li .main-nav__label:hover{
  color: #c1ad8b;
  border-bottom: 2px solid #c1ad8b;
  padding-bottom: 16px;
}

.balance-header{
  background: #111111;
}

.balance-header__content{
  padding: 0 10px;
  color: #c1ad8b;
}

.balance-header__content h4,
.transfer-header__content h4{
  font-size: 14px;
}

.ngdialog-wallet-page .balance__content:nth-child(even){
  background: #1d1d1d;
}

.balance-overflow{
  height: 576px;
  overflow-y: scroll;
}

.balance__content-total{
  background: #1d1d1d;
  color: #fff;
  margin-bottom: 26px;
  border-bottom: 1px solid #2d2d2d;
}

.transfer-header{
  background: #111111;
  color: #c1ad8b;
}

.transfer-header__content{
  padding: 1px 10px;
}

.ngdialog-wallet-page .transfer-block .transfer{
  color: #d6d6d6;
}

.bg-dark{
  background-color: #111111;
  color: #949494;
  border-color: #505050;
}

.ngdialog-wallet-page .btn-yellow.amountBtn{
  padding: 5px 7px;
}

.ngdialog-wallet-page .btn-yellow.processBtn{
  height: 40px;
  width: 335px;
  margin: 20px auto 10px;
}

.font-white{
  color: #dbdbdb;
}

.border-grey{
  border: 1px solid #585755;
}

.ngdialog-wallet-page .form-control{
  border: 1px solid #3E3E3E;
  color: #949494;
}

.ngdialog-wallet-page .btn-glyphicon{
  background: transparent;
  padding: 3px 5px;
  margin-top: 4px;
}

.ngdialog-wallet-page .glyphicon{
  color: #c1ad8b;
  width: 20px;
  height: 20px;
  font-size: 14px;
}

.ngdialog-wallet-page .won-margin{
  margin-bottom: 10px;
}

.ngdialog-wallet-page .alert.alert-danger{
  background-color: #111111;
  border-color: #111111;
  color: #c1ad8b;
  margin-bottom: 10px;
}

.ngdialog-wallet-page .coupon .btn-yellow{
  padding: 5px 10px;
}

.btn-wallet-amount{
  background: #B73528;
  border: 1px solid #B73528;
  color: #ffffff;
  width: 51px;
  border-radius: 0;
  padding: 5px 0;
}

.btn-wallet-amount:hover,
.btn-wallet-amount:active,
.btn-wallet-amount:focus{
  background-color: #812319;
  border-color: #812319;
  color: #ffffff;
}

.btn-wallet-clear{
  background: #2D2D2D;
  border-color: #2D2D2D;
  color: #ffffff;
  border-radius: 0;
}

.btn-wallet-clear:hover,
.btn-wallet-clear:active,
.btn-wallet-clear:focus{
  background: #424242;
  border-color: #424242;
  color: #ffffff;
}

.font-bold{
  font-weight: bold;
}

.ngdialog-wallet__form{
  background: #1d1d1d;
  padding: 10px 10px 20px 10px;
}

.ngdialog-wallet-page textarea.form-control{
  width: 680px;
  height: 130px;
}

.ngdialog-wallet-page .ngdialog-wallet__form select{
  background: url(/V/chevron-down.png) #202020 center right 15px no-repeat;
}

.ngdialog-wallet-page .ngdialog-wallet__form input,
.ngdialog-wallet-page .ngdialog-wallet__form textarea{
  background: #202020;
  border: 1px solid #3E3E3E;
}

.ngdialog-wallet-page .no-padding.side-note .processBtn{
  height: 34px;
  width: 100px;
  margin: 0;
}

.ngdialog-wallet-page .deposit.manual .ngdialog-wallet__form,
.ngdialog-wallet-page .withdraw.manual .ngdialog-wallet__form{
  margin-bottom: 10px;
}

.ngdialog-wallet-page .table__title{
  margin-left: 20px;
  font-size: 14px;
  font-weight: bold;
}

.ngdialog-wallet-page .table-border{
  border-bottom: 10px solid #2d2d2d;
}

.ngdialog-wallet-page .table>tbody>tr>td{
  border-top: 0;
}

.ngdialog-wallet-page .history-table__content:nth-child(even),
.ngdialog-wallet-page .friend-table__content:nth-child(even),
.ngdialog-wallet-page .coupon-table__content:nth-child(even),
.ngdialog-wallet-page .service-table__content:nth-child(even){
  background: #1d1d1d;
}

.ngdialog-wallet-page .bonus__content{
  background: #1d1d1d;
}

.ngdialog-wallet-page .width6{
  width: 60px;
}

.ngdialog-wallet-page .width15{
  width: 150px;
}

.ngdialog-wallet-page .width12{
  width: 120px;
}

.ngdialog-wallet-page .width10{
  width: 100px;
}

.ngdialog-wallet-page .width30{
  width: 300px;
}

.ngdialog-wallet-page .width22{
  width: 220px;
}

.ngdialog-wallet-page .width25{
  width: 250px;
}

.ngdialog-wallet-page .width7{
  width: 70px;
}

.ngdialog-wallet-page .width33-p{
  width: 30%;
}

.ngdialog-wallet-page .width20{
  width: 200px;
}

.ngdialog-wallet-page .coupon-table__content .side-note .btn-yellow{
  width: 100px;
  height: 30px;
  margin-top: 0;
}

.ngdialog-wallet-page .coupon-table__content select{
  width: 210px;
  height: 35px;
  background: url(/V/chevron-down.png) #111111 center right 15px no-repeat;
  float: right;
}

.ngdialog-wallet-page .coupon .text-right{
  text-align: right !important;
}

.margin-right{
  margin-right: 10px;
}

.ngdialog-wallet-page .change-password .ngdialog-wallet__form label{
  float: left;
  line-height: 34px;
  width: 350px;
  text-align: right;
}

.change-password label span + span {
  color: #991528;
}

.change-password .btn-yellow.processBtn{
  width: 335px;
  height: 40px;
  margin-top: 5px;
}

.ngdialog-wallet-page .table>tbody>tr>th{
  border-top: 0;
}

.ngdialog-wallet-page .btn-yellow{
  height: 40px;
}
/*Settlement*/
.ngdialog.ngdialog-theme-default.ngdialog-main-default.ngdialog-wallet .ngdialog-content {
  width: 971px;
}
.settlement-tr{
  border-bottom: 2px solid grey;
}
.ngdialog.ngdialog-theme-default.ngdialog-settlementwithdraw .ngdialog-content{
  padding: 0;
  width: 638px;
}
.sw.btn-yellow{
  padding: 5px 10px;
}
.sw-title{
  color: white;
}
.sw-required{
  color: darkred;
}
