@charset "utf-8";
@import url(../../../pelican/common/earlyaccess/nanumgothic.css); 
#wrap {float:left; width:100%; overflow-x:hidden;}
* {box-sizing: border-box;	-ms-box-sizing: border-box;	-webkit-box-sizing: border-box;}

/*-------------------------------------------------------------------------------------*
 *  Header                                                                             *
 *-------------------------------------------------------------------------------------*/
#header_wrap {float:left; width:100%; height:100px; background:url("../images/bg_top3860.jpg?v=1") center top no-repeat; background-size:cover;}
.header_box {margin:0px auto; width:1300px; position:relative;}

.logo {float:left; position:absolute; top:4px; left:-116px;}
.gnb {float:right; margin:36px 0 0 0;}
.gnb ul li {float:left; margin:0 0 0 45px;}

.login_wrap {float:left; position:absolute; left:50%; top:120px; z-index:1000000; }
.login {float:left; width:660px; height:50px; background:rgba(255,255,255,0.9); border-radius:60px; position:absolute; left:-330px; top:0px; display:block; z-index:100000; text-align:center;}
.login ul li {display:inline-block; line-height:50px; font-family:'nanumgothic', sans-serif; font-weight:700; font-size:16px; color:#e0d0b5; letter-spacing:-1px; min-width:100px; }
.input_login  {background-color:#000000; border:1px solid #000000; padding:4px 0 4px 10px; width:150px; height:30px; border-radius:0px; color:#ffffff; font-size:16px; }

.login_btn1 {display:inline-block; text-align:center; font-family:'nanumgothic', sans-serif; color:#ffffff; font-size:12px; letter-spacing:0pt; font-weight:700; background:linear-gradient(#0096a8 0%,  #006874 100%); min-width:90px; min-height:30px; padding:0 15px 0 15px; line-height:30px;}
.login_btn1:hover {background:linear-gradient(to right, #0096a8 0%,  #006874 100%);}
.login_btn2 {display:inline-block; text-align:center; font-family:'nanumgothic', sans-serif; color:#ffffff; font-size:12px; letter-spacing:0pt; font-weight:700; background:linear-gradient(#585858 0%,  #282828 100%); min-width:90px; min-height:30px; padding:0 15px 0 15px; line-height:30px;}
.login_btn2:hover {background:linear-gradient(to right, #585858 0%,  #282828 100%);}


.notice_wrap {float:left; width:100%; height:60px; background:#ff00ea;}
.notice_box {margin:0px auto; width:1300px;}
.notice {float:left; width:616px; margin:10px 0 0 0;}
.notice_title {float:left;}
.notice_list {float:left; width:506px; height:40px; background:url("../images/top_notice_bg.png") center top no-repeat; padding:0 0 0 18px;}
.notice_list td {font-family:'nanumgothic', sans-serif; font-weight:700; font-size:14px; color:#ffffff; letter-spacing:-1px; text-shadow:1px 2px 2px rgba(0,0,0,0.3); line-height:40px;}

.title1 {float:left; width:100%; height:50px;line-height:50px; background:rgba(0,0,0,0.3); border:1px solid rgba(0,0,0,0.1); font-family:'nanumsquare', sans-serif; padding:0 0 0 15px; font-size:24px; letter-spacing:-1px; font-weight:700; color:#ffd100; margin:10px 0 0 0;}
.title2 {padding:0 0 5px 0; font-weight:700; font-size:18px; color:#e5a30b; font-weight:600; font-family:'nanumgothic', sans-serif; letter-spacing:-1px;}


/*-------------------------------------------------------------------------------------*
 *  Contents                                                                           *
 *-------------------------------------------------------------------------------------*/
#contents_wrap {float:left; width:100%; min-height:500px; margin:20px 0 40px 0; }
.contents_box {margin:0px auto; width:1300px;}

.con_box00 {float:left; width:100%; margin:0 0 0 0;}
.con_box10 {float:left; width:100%; margin:10px 0 0 0;}
.con_box20 {float:left; width:100%; margin:20px 0 0 0;}
.con_box30 {float:left; width:100%; margin:30px 0 0 0;}
.con_box40 {float:left; width:100%; margin:40px 0 0 0;}
.con_box50 {float:left; width:100%; margin:50px 0 0 0;}
.con_box60 {float:left; width:100%; margin:60px 0 0 0;}


/*-------------------------------------------------------------------------------------*
 *  Footer                                                                             *
 *-------------------------------------------------------------------------------------*/
.footer_wrap {float:left; width:100%; text-align:center; padding:50px 0 50px 0;  font-family:'nanumsquare', sans-serif; font-size:18px; text-align:center; font-weight:700; color:#95c3c9; background:url("../images/bg_top.jpg") center top no-repeat; background-size:cover;}

/*-------------------------------------------------------------------------------------*
 *  Main                                                                               *
 *-------------------------------------------------------------------------------------*/
.main_game_wrap {float:left; width:100%; height:350px; background:url("../images/main_game_bg5e1f.jpg?v=2") }
.main_game_box {margin:0px auto; width:1780px;}
.main_game {float:left; margin:50px 0 0 0;}
.main_game ul li {float:left; margin:0 20px 0 20px;}

.main_best_wrap {float:left; width:100%; background:#0072ff; padding:0 0 40px 0;}
.main_best_box {margin:0px auto; width:1300px;}
.main_best_title {float:left; width:100%; height:44px; margin:44px 0 30px 0;  background:url("../images/slot_title.png") center top no-repeat; }
.main_best_title_jackpot {float:right; font-family:'nanumsquare', sans-serif; font-size:36px; font-weight:900; color:#ff00ea; letter-spacing:-2px;}

.customer_wrap {float:left; width:100%; height:200px; background:url("../images/bg_customer.jpg") center top no-repeat;}
.customer_box {margin:0px auto; width:1300px;}

.customer_sns {float:left; width:100%; text-align:center; font-family:'nanumsquare', sans-serif; font-size:36px; letter-spacing:-1px; font-weight:900; color:#ffffff; margin:55px 0 0 0}
.customer_sns ul li {display:inline-block;  margin:0 25px 0 25px;}


/*-------------------------------------------------------------------------------------*
 *  팝업, 탭 (sk_tab)                                                                  *
 *-------------------------------------------------------------------------------------*/
.popup_none              {display:none;}
.popup_wrap              {width:1300px;}
.close_box               {width:100%; float:left; text-align:center; padding:10px 0 10px 0;}
.popupbox                {width:100%; float:left; background:#005963; min-height:calc(100vh - 78px); border-radius:10px; padding:40px; position:relative; box-shadow:0px 0px 70px rgba(0,0,0,0.5);}

.popup_tab_wrap          {width:100%;}
.popup_tab               {float:left; width:100%; background:rgba(0,0,0,0.3); }
.popup_tab li            {float:left; min-width:120px; border-right:solid 1px rgba(255,255,255,0.05);}
.popup_tab li span       {display:inline-block; width:100%; height:40px; line-height:40px; font-family:'nanumgothic', sans-serif; font-size:12px; text-align:center; font-weight:600;}
.popup_tab li span:hover {display:inline-block; width:100%; height:40px; line-height:40px; font-family:'nanumgothic', sans-serif; font-size:12px; text-align:center; font-weight:600;}

/* 입금신청, 출금신청, 머니이동, 쿠폰신청, 콤프신청, 이벤트, 공지사항 */
.sk_tab_active_01 span   {color:#000000; background:linear-gradient(to right, #ffd100 0%,  #ffff09 50%,  #ffd100 100%);}
.sk_tab_con_01           {display:block; clear:both;}
.sk_tab_hidden_01        {display:none;}

/* 마이페이지, 정보수정, 입금/출금내역, 지인친구목록, 출석체크목록, 머니이동목록, 쪽지함 */
.sk_tab_active_02 span   {color:#000000; background:linear-gradient(to right, #ffd100 0%,  #ffff09 50%,  #ffd100 100%);}
.sk_tab_con_02           {display:block; clear:both;}
.sk_tab_hidden_02        {display:none;}

/* 게임이용방법 */
.sk_tab_active_04 span   {color:#000000; background:linear-gradient(to right, #ffd100 0%,  #ffff09 50%,  #ffd100 100%);}
.sk_tab_con_04           {display:block; clear:both;}
.sk_tab_hidden_04        {display:none;}

/* 카지노보유머니, 슬롯보유머니 */
.sk_tab_active_00 span   {display:inline-block; width:140px; height:40px; line-height:38px; color:#ffffff; text-align:center; font-weight:600; background:linear-gradient(#00dad2 0%,  #0098b9 100%);}
.sk_tab_con_00           {display:block; clear:both;}
.sk_tab_hidden_00        {display:none}

/* 슬롯 세부리스트 */
.slot_list {float:left; width:100%; margin:0px 0 0 0; color:#fff}
.slot_list table tr td {color:#ffffff}
.slot_list table tr td table tr td {background:rgba(0,0,0,0.4); text-align:center;}
.slot_list table tr td table tr td:nth-child(2),
.slot_list table tr td table tr td:nth-child(4),
.slot_list table tr td table tr td:nth-child(6),
.slot_list table tr td table tr td:nth-child(8),
.slot_list table tr td table tr td:nth-child(10),
.slot_list table tr td table tr td:nth-child(12),
.slot_list table tr td table tr td:nth-child(14){background:none}
.slot_list table tr td table tr td:hover {background:rgba(255,255,255,0.1);}
.slot_list table tr td table tr td:nth-child(2):hover,
.slot_list table tr td table tr td:nth-child(4):hover,
.slot_list table tr td table tr td:nth-child(6):hover,
.slot_list table tr td table tr td:nth-child(8):hover,
.slot_list table tr td table tr td:nth-child(10):hover,
.slot_list table tr td table tr td:nth-child(12):hover,
.slot_list table tr td table tr td:nth-child(14):hover {background:none}

/* 게임리스트 리스트 */
.game_tit {width:100%; float:left; margin:0 0 10px 0;}
.game_list_wrap {float:left; width:1310px;}
.game_list_wrap ul li {float:left; margin:0 10px 10px 0; position:relative;}
.game_list_wrap ul li img {display:inline-block; cursor:pointer;}


/* 점검중 */
.check {float:left; width:297px; height:150px; background:rgba(0,0,0,0.8); border:1px solid #555555; position:absolute; z-index:10000; text-align:center; font-family:'nanumgothic', sans-serif; font-size:18px; letter-spacing:-1px; font-weight:400; color:#ffffff; line-height:23px; padding:25px 0 0 0;
top:0px; left:0px; border-radius:0px;}



/*-------------------------------------------------------------------------------------*
 *  박스스타일                                                                         *
 *-------------------------------------------------------------------------------------*/
/* 콤프신청, 머니이동, 출석체크수*/
.box_wrap01    {background:rgba(0,0,0,0.3); border:1px solid rgba(0,0,0,0.4); padding:4px; float:left; width:100%; }
.box_box01     {background:rgba(0,0,0,0.1); float:left; width:100%; padding:10px 0 10px 0; text-align:center;} 
.box_font01    {float:left; width:100%; line-height:40px; font-weight:600; color:#dddddd; padding:0 0 0 0; font-size:18px; letter-spacing:-1px; font-family:'nanumsquare', sans-serif;}
.box_font02    {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#ffc000; letter-spacing:-1px; font-size:16px;  font-weight:900; font-family:Arial, sans-serif; letter-spacing:-1pt;}

/* 카지노 로고박스, 마이페이지 카지노 로고 박스 */
.box_wrap02    {background:#005963; border:1px solid rgba(0,0,0,0.4); padding:5px; float:left; width:20%; cursor:pointer; position:relative;}
.box_wrap02:hover    {}
.box_wrap02_on {background:rgba(0,0,0,0.4); border:solid 1px #ffd100; padding:5px;}
.box_box02     {background:#003e45; float:left; width:100%; padding:5px 0 5px 0; text-align:center;} 
.box02         {float:left; width:100%; line-height:34px; font-weight:600; color:#dddddd; padding:0 0 0 0; font-size:14px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}
.box022       {float:left; width:100%; line-height:20px; padding:0 0 3px 0; color:#ffffff; letter-spacing:-1px; font-size:14px;  font-weight:900;font-family:'nanumgothic', sans-serif;  letter-spacing:0pt;}

/* 머니이동 */
.box_wrap03    {background:rgba(0,0,0,0.5); border:1px solid rgba(0,0,0,0.6); padding:6px; float:left; width:100%; }
.box_box03     {background:rgba(0,0,0,0.3); float:left; width:100%; padding:5px 0 5px 0; text-align:center;} 
.box03         {float:left; width:100%; line-height:40px; font-weight:400; color:#dddddd; padding:0 0 0 0; font-size:20px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}

.money  {background:rgba(0,0,0,0.3); border:1px solid rgba(0,0,0,0.1); float:left; width:100%; text-align:center; padding:10px 0 10px 0;}
.money li { display:inline-block; padding:0 10px 0 10px; font-size:16px; letter-spacing:-1px; font-family:'nanumgothic', sans-serif;}


/*-------------------------------------------------------------------------------------*
 *  특별한                                                                             *
 *-------------------------------------------------------------------------------------*/
/* 외부로그인 */
.out_login_wrap  {float:left; width:100%; height:100vh; background:url("../images/bg1.html"); padding:180px 0 0 0}
.out_login_box_wrap {width:360px; margin:0px auto;}
.out_login_tit {width:100%; float:left; text-align:center; position:relative;}
.out_login {width:100%; float:left; margin:50px 0 50px 0;}
.out_login_table {width:100%}
.out_login_td1 {width:100%; padding:0 0 5px 0}
.out_login_td2 {width:100%; padding:0 0 10px 0}
.out_login_td3 {width:100%; padding:0 0 10px 0}
.out_login_btn1 {width:100%; height:60px; line-height:60px; color:#e7d2b3; font-weight:600; font-size:20px; letter-spacing:-1px; text-align:center; display:inline-block; background:linear-gradient( #7f614a 0%,  #432e20 100%);  font-family:nanumgothic; }
.out_login_btn1:hover {background:linear-gradient(#937258 0%, #543928 100%);}
.out_input_login  {background-color:#222222; border:1px solid #000000;  width:100%; height:50px; color:#c7ae89; border-radius:3px;  padding:0 0 0 15px; font-size:16px; font-family:'nanumgothic', sans-serif; }

/* 공지팝업 */
.notice_popup1 {position:absolute; z-index:1000000000; top:150px; left:350px;}
.notice_popup2 {position:absolute; z-index:1000000000; top:150px; left:920px;}
.notice_popup_wrap {float:left; width:550px;}
.notice_popup_btn_wrap {float:right;}
.notice_popup_btn_wrap ul li {float:left; margin:0 0 0 5px;}
.notice_popup_btn {float:right; background:#6421d4; min-width:60px; height:36px; line-height:40px; padding:0 15px 0 15px; text-align:center; display:inline-block; font-family:nanumgothic, sans-serif; color:#ffffff; font-size:12px; font-weight:600;}
.notice_popup_box {float:left; width:550px; height:550px; background:#000000; border:5px solid #6421d4; background:url("../images/bg1.html") center top no-repeat; background-size:cover;}
.notice_popup_text {float:left; width:100%; padding:30px;}
.notice_popup_font1 {float:left; width:100%; font-family:'nanumsquare', sans-serif; font-size:22px; letter-spacing:-1px; font-weight:700; color:#ffffff; line-height:40px;}
.notice_popup_font2 {float:left; width:100%; font-family:'nanumgothic', sans-serif; font-size:16px; letter-spacing:-1px; font-weight:400; color:#d4d4d4; line-height:28px;}

/* 로딩중 */
.loding_wrap {float:left; width:1100px; height:760px; background:url("../images/bg_loding.html") center top no-repeat; }
.loding {float:left; width:100%; line-height:40px; font-family:'nanumsquare', sans-serif; font-size:30px; letter-spacing:-1px; font-weight:700; color:#ffffff; margin:240px 0 0 0; text-align:center;}

/* 슬롯로딩 */
.slot_loding_wrap {float:left; width:100%; height:100vh; background:url("../images/bg_loding.html") center top no-repeat; background-size:cover;}
.slot_loding {float:left; width:100%; line-height:40px; font-family:'nanumsquare', sans-serif; font-size:30px; letter-spacing:-1px; font-weight:700; color:#ffffff; margin:150px 0 0 0; text-align:center;}

/* 룰렛이벤트 */
.roulette_wrap {float:left; width:100%; text-align:center; margin:60px 0 0 0;}
.roulette_box {margin:0px auto; width:600px; height:600px; position:relative;}
.roulette_pin {width:50px; position: absolute; z-index:1; top:-40px; left:268px;}


/*-------------------------------------------------------------------------------------*
 *  특별한2                                                                             *
 *-------------------------------------------------------------------------------------*/
/* 실시간출금 */
.right_board_wrap {width:440px; height:336px; position:fixed; right:-400px; top:198px;z-index:1999999}
.right_board_wrap2 {width:440px; height:336px; position:fixed; right:-400px; top:554px;z-index:1999999}
.right_board_btn {float:left; width:40px;}
.right_board {float:left; width:400px; height:336px; background:#1d2532; padding:10px;}
.right_board_tab {width:100%}
.right_board_tab li {width:50%; float:left;}
.right_board_tab li span.tabon {width:100%; height:40px; display:inline-block; text-align:center; line-height:40px;font-family:'nanumsquare', sans-serif; color:#00a1cf ; background:#0b0d11; font-size:18px}
.right_board_tab li span.taboff {width:100%; height:40px; display:inline-block; text-align:center; line-height:40px;font-family:'nanumsquare', sans-serif; color:#6d82a2; background:#263040; font-size:18px }
.right_board .table_box {width:100%; height:274px; padding:15px; float:left; background:#0b0d11}
.right_board .table_box2 {width:100%; height:100%; float:left; }
.right_board table {width:100%;}
.right_board table tr td {font-family:nanumgothic, sans-serif; font-size:14px; line-height:30px}
.right_board table tr td.board_right_td1 {color:#6d84a8; text-align:left;font-size:12px;}
.right_board table tr td.board_right_td2 {color:#ffffff;text-align:center}
.right_board table tr td.board_right_td3 {color:#ff9c00;text-align:right}
/* 실시간출금 버튼 */
.right_close {z-index:1; display:none; cursor:pointer}
.right_open {z-index:2; cursor:pointer}
.right_close2 {z-index:1; display:none; cursor:pointer}
.right_open2 {z-index:2; cursor:pointer}
/* 레벨등급표 */
.level_table tr th {color:#00a1cf; background:#263040; padding:5px;font-family:nanumgothic, sans-serif;}
.level_table tr td {font-family:nanumgothic, sans-serif; height:33px; text-align:center; color:#6d84a8; border-right:solid 1px #303b4d; border-bottom:solid 1px #303b4d;font-size:12px !important; letter-spacing:-1px;background:#0b0d11}
.level_table tr td:first-child {border-left:solid 1px #303b4d;}
.level_table tr td img {height:20px; }







