.parsley-errors-list{
    position: absolute;
}

.parsley-errors-list.filled{
    margin-top: 38px;
    margin-left: -35px;
    list-style:none;
    font-size: 12px;
    font-weight: bolder;
    color: #c90001;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

.popup_window {
    position: fixed;
    background-color: #fff;
    color: #000000;
    padding: 0;
    display: none;
    z-index: 999;
}

.wrapper_loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1976;
}

.wrapper_loading_img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    width: 80px;
    height: 80px;
}

/*top login*/
.btn_sign_in{
    border:solid 1px #eaad26;
    background-color:#fec73d;
    color:#1b1313;
    margin-left:6px;
    width: 60px;
}

.btn_sign_in:hover{
    border:solid 2px #9c1512;
    background-color:#e12d29;
    color:#fff;
}

.btn_sign_up{
    border:solid 1px #215b88 ;
    background-color:#2fa3e6;
    color:#04151e;
    width:75px;
}

.btn_sign_up:hover{
    border:solid 2px #9c1512;
    background-color:#e12d29;
    color:#fff;
}

.level-icon{
    width: 25px;
    height: 25px;
}

.board_table td:nth-child(2){
    cursor: pointer;
}

.slot_sp_game img{
    max-width: 100% !important;
}

.slot-img{
    width: 180px;
    height: 160px;
}

.wager-reload {
    cursor: pointer;
}